.woocommerce-account {

	&.logged-in {

		.woocommerce {
			max-width: var(--global--max-content-width);
		}
	}

	.site-content .woocommerce {
		h2 {
			padding: 0;
		}

		.u-column2 {
			@include s-r-11(padding-top);
		}
	}

	.woocommerce-form-login__rememberme {
		display: flex;
		align-items: center;
		@include s-r-6(margin-bottom);
	}

	.woocommerce-MyAccount-navigation {
		
		ul {
			padding-left: 0;
			@include s-r-9(padding-bottom);
		}

		@include breakpoint(sm) {
			grid-column-start: 2;
			grid-column-end: 5;
		}
	}

	.woocommerce-MyAccount-content {

		@include breakpoint(sm) {
			grid-column-start: 5;
		grid-column-end: 11;
		}

		.woocommerce-form-row--first {
			padding-top: 0;
		}
	}

	.woocommerce-EditAccountForm {

		fieldset {
			@include s-r-9(margin-top);
		}
	}

}

// WooCommerce Shortcode forms
.wc-form-card {

	.woocommerce-form {

		&.woocommerce-form-register {
	
			.woocommerce-form-row:first-of-type {
				padding-top: 0;
			}
		}
	
		&__label-for-checkbox {
			display: flex;
		}
	
		.woocommerce-form-register__submit,
		.woocommerce-form-login__submit {
			width: 100% !important;
		}
	
		.woocommerce-form-login__submit {
			margin-top: 24px;
		}
	}
}
