.wc-block-grid.has-aligned-buttons .wc-block-grid__product>:last-child {
	margin: 0;
}

// Products Block
.wc-block-grid {

	.wc-block-grid__product {
		border: 0;
		@include s-r-9(margin-bottom);
	
		.wc-block-grid__product-title {
			@include s-r-4(padding-top);
			@include s-r-2(padding-bottom);
		}
		.wc-block-grid__product-price {
			@include s-r-2(padding-bottom);
		}
	
		.wc-block-grid__product-price {
			line-height: var(--global--line-height-reset);
		}
	
		.add_to_cart_button {
			opacity: 0;
			font-size: var(--font-size--body-s) !important;
			line-height: var(--global--line-height-reset);
			background: none !important;
			color: var(--wp--custom--color--font-secondary);
			padding: 0;
			text-align: left;
			display: inline;
	
			&:hover {
				transform: translateY(0);
				text-decoration: underline;
			}
		}

		.added_to_cart,
			&:hover .add_to_cart_button,
			&:hover .button.product_type_grouped {
				opacity: 1;
		}

		.wc-block-grid__product-add-to-cart.wp-block-button {

			.wp-block-button__link {

				&.added::after,
				&.loading::after {
					display: none;
				}
			}
		}

		.wc-block-grid__product-image,
		.wc-block-grid__product-title,
		.wc-block-grid__product-add-to-cart,
		.wc-block-grid__product-onsale,
		.wc-block-grid__product-price,
		.wc-block-grid__product-rating {
			margin: 0;
		}

		.wc-block-grid {

			&__product-add-to-cart,
			&__product-price,
			&__product-rating {
				margin: 0;
			}
		}
	}
}

.entry-content {

	.wc-block-grid {

		.wc-block-grid__product-title,
		.wc-block-grid__product-title a {
			font-size: var(--font-size--h2) !important;
			line-height: var(--global--line-height-reset);
			font-weight: normal;
		}

		&__products {
			margin: 0;
			padding: 0;
			display: grid;
			list-style: none;

			@include breakpoint(sm) {
				grid-template-columns: repeat(2, 1fr);
				column-gap: 2rem;
	
				li {
					position: relative;
					list-style: none;
					grid-template-columns: 1fr 1fr;
	
					&:nth-last-child(-n+2) {
						padding-bottom: 0;
					}
				}
			}
	
			@include breakpoint(lg) {
				column-gap: 3rem;
			}
		}

		&.has-4-columns {

			.wc-block-grid__products {
				@include breakpoint(md) {
					grid-template-columns: repeat(4, 1fr);
		
					li {
						grid-template-columns: 1fr 1fr 1fr 1fr;
		
						&:nth-last-child(-n+4) {
							padding-bottom: 0;
						}
					}
				}
			}
		}

		&.has-3-columns,
		&.has-6-columns {

			.wc-block-grid__products {
				@include breakpoint(md) {
					grid-template-columns: repeat(3, 1fr);
		
					li {
						grid-template-columns: 1fr 1fr 1fr;
		
						&:nth-last-child(-n+3) {
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}

	.wc-block-grid__product {
		max-width:100%;

		.wc-block-grid__product-onsale {
		margin: 0;
		padding: 5px 12px;
		width: auto;
		border: 0;
		border-radius: var(--global--border-radius-s);
		color: var(--wp--custom--color--font-primary);
		background: var(--global--color--product-badge-background);
		line-height: var(--global--line-height-reset);
		text-transform: none;
		font-weight: normal;
			position: absolute;
			top: $s-4;
			right: $s-4;
		}
	}

	.wc-block-grid .wc-block-grid__product {
		max-width:100%;
	}
}

.wc-block-grid__product {
	text-align: left;

	.wc-block-components-product-name {
		text-decoration: none;
	}

	.wc-block-grid__product-link {
		text-decoration: none;
	}

	.wc-block-grid__product-add-to-cart {
		line-height:0;
		margin: 0;
		padding: 0;

		a {
			display: inline-block;
			padding: 0;
		}
	}
}

/* Products archive page */
.archive.woocommerce-page .site-content,
.woocommerce-shop .site-content,
.archive.woocommerce-page .site-main,
.woocommerce-shop .site-main {

	.woocommerce-breadcrumb {
		display: none;
	}

	.woocommerce-products-header__title {
		display: none;
	}

	.woocommerce-ordering {
		display: flex;
		flex-direction: row-reverse;

		select {
			height: $s-8;
			padding: $s-2 87px $s-2 1.25rem;
			line-height: 1;
			font-size: 1rem;
		}
	}
}

.woocommerce-pagination {

	.page-numbers {
		display: flex;
		flex-direction: row;
		justify-content: center;

		li {
			padding: .3em .6em;
			min-width: 2.2em;
		}
	}
}

.archive,
.woocommerce-shop,
.single-product {

	.woocommerce-result-count {
		display: none;
	}

	.products {
		display: grid;
		list-style: none;

		.product {
			position: relative;

			.woocommerce-loop-product__title,
			.price {
				display: block;
				line-height: 1;
			}
			
			.woocommerce-loop-product__title {
				@include s-r-4 (padding-top);
			}

			.price {
				@include s-r-2 (padding-top);
			}

			.added_to_cart,
			.add_to_cart_button,
			.button.product_type_grouped {
				opacity: 0;
				@include s-r-2 (margin-top);
				display: inline-block;
				line-height: var(--global--line-height-reset);
			}

			.added_to_cart,
			&:hover .add_to_cart_button,
			&:hover .button.product_type_grouped {
				opacity: 1;
			}

			.added_to_cart {
				position: absolute;
				bottom: 0;
			}

			.add_to_cart_button {

				&.added {
					display: none;
				}
			}

			@include s-r-9 (margin-bottom);
		}

		&.columns-2,
		&.columns-3,
		&.columns-4 {

			@include breakpoint(sm) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 2rem;

				li {
					position: relative;
					list-style: none;
					grid-template-columns: 1fr 1fr;

					&:nth-last-child(-n+2) {
						padding-bottom: 0;
					}
				}
			}

			@include breakpoint(lg) {
				column-gap: 3rem;
			}
		}

		&.columns-3,
		&.columns-6 {
			@include breakpoint(md) {
				grid-template-columns: repeat(3, 1fr);

				li {
					grid-template-columns: 1fr 1fr 1fr;

					&:nth-last-child(-n+3) {
						padding-bottom: 0;
					}
				}
			}
		}

		&.columns-4 {
			@include breakpoint(md) {
				grid-template-columns: repeat(4, 1fr);

				li {
					grid-template-columns: 1fr 1fr 1fr 1fr;

					&:nth-last-child(-n+4) {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}