// Pagination
.wp-block-query-pagination {
	justify-content: space-between;

	.wp-block-query-pagination-next,
	.wp-block-query-pagination-numbers,
	.wp-block-query-pagination-previous {
		margin-bottom: 0;
	}

	.page-numbers {
		@include s-r-1 (padding-right);
	}

	.current {
		text-decoration: underline;
	}
}

// Archive
.archive {

	h1.archive-title {
			font-weight: 700;
			line-height: var(--wp--custom--line-height--body);
	}

	.wp-block-term-description {
		@include s-r-6 (padding-top);
	}

	.wp-block-query {
		&.is-style-aino-3col-list {
			@include s-r-9 (margin-top);
		}
	}
}

/* Load More Button */
.pagination {
	width: 100%;
	flex-basis: 100%;
	height: 0;
}
