.site-header {
	position: relative;
	@include push--auto;

	@include breakpoint(xl) {
		padding-left: var(--space-09);
		padding-right: var(--space-09);
	}

	.header-content {
		.wp-block-site-logo,
		.wp-block-site-title,
		.wp-block-navigation,
		.wp-block-social-links {
			margin-top: var(--space-04);
			margin-bottom: var(--space-04);
		}
	}

	.wp-block-social-links {
		display: none;
		margin-left: var(--s-r-7);

		@include breakpoint(sm) {
			display: flex;
		}
	}

	.wp-block-navigation {

		&__container {
			gap: 0;
		}
	}

	.header-content {
		display: flex;
		align-items: center;
		align-content: stretch;
		justify-content: space-between;

		.wp-block-site-title {
			line-height: var(--global--line-height-reset);
		}

		.wp-block-navigation .has-child :where(.submenu-container,
			.wp-block-navigation-link__container) {
			left: -1.5rem;
		}
	}

	.wp-block-ainoblocks-multiple-buttons__inner {
		display: flex;

		.wp-block-ainoblocks-button:not(:last-child) {
			margin-bottom: 0;
		}
	}
}

.site-info {

	p {
		display: inline;
	}
}