button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include btn;
	@include btn-m;
	padding-top: 19px;
	padding-bottom: 18px;
}

button,
input[type="button"],
input[type="submit"] {
	@include btn-primary;
}

/* Button Styles */
a.btn-primary,
.btn-primary a {
	@include btn;
	@include btn-primary;
}

a.btn-outline,
.btn-outline a {
	@include btn;
	@include btn-outline;
}

.btn-naked,
.btn-naked a {
	@include btn-naked;
	padding-left: 0 !important;
	padding-right: 0 !important;
	@include transition-default;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}

	.header-cta-wrap & {
	padding-right: $spacing-2 !important;
	}
}

/* Button Sizes */
.btn-l {
	@include btn-l;
}

.btn-m {
	@include btn-m;
}

.btn-s {
	@include btn-s;
}

.header-cta-wrap {

	.btn-outline a {
		@include btn-s;
	}

	a {
		@include btn-s;
	}
}

/* Button Styles (via Customizer Settings) */
.btn-curved {

	.btn,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a {
		@include border-radius-s;
	}

	// smaller border radius for small buttons
	.header-cta-wrap .btn-primary a,
	.header-cta-wrap .btn-outline a,
	.post-edit-link,
	.btn-s,
	.search-header .search-field {
		@include border-radius-xs;
	}
}

.btn-round {

	.btn,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a,
	.post-edit-link,
	.search-header .search-field {
		border-radius: 6.25em;
	}
}

/* Edit Button */
.post-edit-link {
	@include btn;
	@include btn-s;
	position: relative;
	margin-top: $spacing-mobile-4;
	background: $color__primary;
	color: $color__white;
	fill: $color__white;
	width: auto;
	padding-left: 46px;
	padding-right: 24px;

	@include breakpoint(xs) {
		padding-left: 46px;
	}

	@include breakpoint(l) {
		margin-top: $spacing-desktop-4;
	}
}

/* Header CTA Sticky Button */
.header-cta-wrap ul li.sticky a {
	transform: translateY(-100px);
	transition: transform 150ms;
	position: fixed;
    top: 24px;
	right: 48px;
	z-index: 2;
}

.has-sticky-cta {
	.header-cta-wrap ul li.sticky a {
		transform: translateY(0px);
	}
}

#top-of-site-pixel-anchor {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 500px;
	left: 0;
}

/* Customizer Button Options */
.buttons-bold {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.btn-outline a,
	.btn-primary a,
	a.btn-outline,
	a.btn-primary,
	.post-edit-link {
		font-weight: bold;
	}

	.btn-outline a,
	a.btn-outline {
		box-shadow: inset 0px 0px 0px 2px $color__primary;
	}
}

.buttons-uppercase {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.btn-outline a,
	.btn-primary a,
	a.btn-outline,
	a.btn-primary,
	.post-edit-link {
		text-transform: uppercase;
		@include font-body4;
		line-height: 19px;
		letter-spacing: 2px;
	}
}
