button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include btn;
	@include btn-m;
	border-radius: $border-radius-s;
}

button,
input[type="button"],
input[type="submit"] {
	@include btn-primary;
}

/* Button Styles */
a.btn-primary,
.btn-primary a {
	@include btn;
	@include btn-primary;
}

a.btn-outline,
.btn-outline a {
	@include btn;
	@include btn-outline;
}

.btn-naked,
.btn-naked a {
	@include btn-naked;
	padding-left: 0 !important;
	padding-right: 0 !important;
	@include transition-default;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}

	.header-cta-wrap & {
	padding-right: $spacing-2 !important;
	}
}

/* Button Sizes */
.btn-l {
	@include btn-l;
}

.btn-m {
	@include btn-m;
}

.btn-s {
	@include btn-s;
}

.header-cta-wrap {

	.btn-outline a {
		@include btn-s($outline: true);
	}

	a {
		@include btn-s($outline: false);
	}
}

/* Button Styles (via Customizer Settings) */
.btn,
input[type="submit"],
a.btn-primary,
.btn-primary a,
a.btn-outline,
.btn-outline a {
	border-radius: 16px;
}

.btn-squared .btn,
.btn-squared input[type="submit"],
.btn-squared a.btn-primary,
.btn-squared .btn-primary a,
.btn-squared a.btn-outline,
.btn-squared .btn-outline a {
	border-radius: 0;
}

.btn-round .btn,
.btn-round input[type="submit"],
.btn-round a.btn-primary,
.btn-round .btn-primary a,
.btn-round a.btn-outline,
.btn-round .btn-outline a {
	border-radius: 6.25em;
}
