
body {
	background: $color__white;
	/* Fallback for when there is no custom background color defined. */
}

.entry-content hr {
	margin-bottom: $spacing-mobile-5;
	border-top: 1px solid $color__border;
	@include breakpoint(m) {
		margin-bottom: $spacing-desktop-5;
	}
}

dt {
 font-weight: bold;
}

dd {
 margin: 0 $spacing-mobile-3 $spacing-mobile-3;
 @include breakpoint(m) {
	 margin: 0 $spacing-desktop-3 $spacing-desktop-3;
 }
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
}

@import "elements/forms";
@import "elements/icons";
@import "elements/links";
@import "elements/buttons";
@import "elements/avatars";
@import "elements/badges";
@import "elements/lists";
@import "elements/tables";
