.icon {
	display: inline-block;
	fill: currentColor;
	position: relative;
	top: 0;
	vertical-align: middle;
	text-align: center;
	stroke-width: 0;
	stroke: currentColor;
	width: $spacing-3;
	height: $spacing-3;
	padding: 2px;
}

/* Social Icons */
.menu-social-container .icon {
	fill: $color__icon_one;
	width: $spacing-3;
	height: $spacing-3;
	margin: 8px;
}

.menu-social-container ul li a:hover .icon {
	fill: $color__icon_two;
}

/* Edit Link Icon */
.edit-link .icon {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	padding: 0;
	fill: $color__white;
}

/* Search Form Icon */
.search-icon {
	position: absolute;
	@include flexbox;
	@include flex-center;
	width: $spacing-desktop-5;
	height: $spacing-desktop-5;

	.icon {
		width: $spacing-3;
		height: $spacing-3;
		padding: 0;
	}
}
