a {
	color: inherit;

	&:active,
	&:hover {
		outline: 0;
	}
}

/* Primary Text Links */
.entry-content p a,
.entry-content li a,
.authorbox-content p a,
.comment-content li a,
.comment-content p a,
.wp-caption-text a,
cite a,
.wp-block-image figcaption a,
.wp-block-audio figcaption a,
.wp-block-embed figcaption a {
	color: currentColor;
	text-decoration: underline;

	&:hover {
		color: $color__primary_one;
	}
}

/* Secondary Text Links */
.posts-container .hentry .entry-meta a,
.entry-comments a,
.posted-on a,
.comment-reply-title #cancel-comment-reply-link {
	color: $color__text_two;
	fill: $color__text_two;
}

.site-title a,
h2.entry-title a {
	color: $color__text_one;
	fill: $color__text_one;
}

.comment-list b.fn a,
.main-navigation a {
	color: $color__text_one;
	fill: $color__text_one;
}

/* Primary Color Hovers */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.site-title a:hover,
.single-post .entry-cats a:hover,
.single-post .entry-meta a:hover,
.single-post .navigation .nav-title .nav-subtitle:hover,
.footer-widget-wrap a:hover,
.comment-metadata a:hover,
.comment-reply-title #cancel-comment-reply-link:hover,
.logged-in-as a:hover {
	color: $color__primary_one;
	fill: $color__primary_one;
}

/* Tag Links */
.entry-tags a {
	border: 1px solid $color__border;
	color: $color__border;
	margin: 0 $spacing-xxs $spacing-xs;
	padding: 6px $spacing-s;
	@include flexbox;
	@include flex-center;
	font-size: 13px;
	line-height: 1.23;
	font-weight: bold;
	@include border-radius-l;

	&:hover {
		background: $color__background;
		border: 1px solid transparent;
	}
}

/* Edit Link */
.post-edit-link {
	@include btn;
	position: relative;
	margin-top: $spacing-mobile-4;
	background: $color__primary_one;
	color: $color__white;
	fill: $color__white;
	padding: 12px 24px 12px 48px;
	line-height: 1;

	@include breakpoint(l) {
		margin-top: $spacing-desktop-4;
	}
}

/* Link Transitions */
.site-branding a,
.primary-menu a,
.site-footer .widget_mc4wp_form_widget a,
.site-footer a,
.social-header-nav .icon,
.social-footer-nav .icon,
.sd-social-icon .sd-content ul li[class*='share-'] a {
	@include transition-default;
}

.pagination a,
.related-img,
.post-edit-link,
.entry-link,
.entry-link img,
.navigation .nav-thumb {
	@include transition-posthover;
}
