
ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

#colophon ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li > ul, li > ol {
	margin-bottom: 0;
	margin-left: $spacing-mobile-3;
	@include breakpoint(m) {
		margin-left: $spacing-desktop-3;
	}
}

.entry-content ul,
.entry-content ol {
	padding-left: $spacing-mobile-3;
	margin-bottom: $spacing-mobile-5;
	@include breakpoint(m) {
		padding-left: $spacing-desktop-3;
		margin-bottom: $spacing-desktop-5;
	}
}

.entry-content ul li,
.entry-content ol li {
	margin-bottom: 0;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ol {
	margin-bottom: 0;
}
