
 table {
	 border-collapse: collapse;
	 margin: 0 0 $spacing-mobile-5;
	 width: 100%;
	 background-color: $color__background;
	 @include breakpoint(m) {
		 margin: 0 0 $spacing-desktop-5;
	 }
 }

 thead th {
	 border-bottom: 2px solid $color__border;
	 padding-bottom: $spacing-2;
	 @include breakpoint(m) {
		 margin: 0 0 $spacing-2;
	 }
 }

 th {
	 padding: $spacing-2;
	 text-align: left;
	 @include breakpoint(m) {
		 padding: $spacing-2;
	 }
 }

 tr {
	 border-bottom: 1px solid $color__border;
 }

 table tr:last-of-type {
	 border-bottom: none;
 }

 td {
	 padding: $spacing-2;
	 border-right: 1px solid $color__border;
	 @include breakpoint(m) {
		 padding: $spacing-2;
	 }
 }

 tr td:last-of-type {
	 border-right: none;
 }
