/* Sticky Post Badge */
.badge-highlight {
	position: absolute;
	top: 12px;
	left: 12px;
	z-index: 1;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.23;
	background: $color__secondary_one;
	color: $color__white;
	padding: 4px $spacing-s;
	display: inline-block;
	border-radius: $border-radius-xl;
}

/* Post Author Badge */
.bypostauthor .comment-author {
	@include flexbox;
	justify-content: flex-start;
	align-items: center;

	.fn {
		@include font-body4;
	}

	.author-badge {
		@include font-body5;
		font-weight: bold;
		color: $color__white;
		background: $color__secondary_one;
		margin-left: $spacing-xxs;
		padding: 2px 6px;
		border-radius: $border-radius-xl;
	}
}
