.wp-block-button {

	.wp-block-button__link {
		@include btn;
		@include btn-m;
		@include btn-primary;
		border: 1px solid transparent;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		height: auto;
		box-shadow: none;
		border-radius: 0;

		&:not(.has-background) {
			background-color: var(--wp--preset--color--primary);
		}
	}
}