.wp-block-image {
	margin-bottom: 0;

	.alignright {
		display: block;
		float: right;
		margin: 0;
	}

	.alignleft {
		float: left;
		margin: 0;
	}

	&.aligncenter {
		clear: both;
		display: block;
		text-align: center;
	}

	&.alignfull img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

	&.ellipse-horizontal {
		clip-path: ellipse(50% 45% at 50% 50%);
	}
	&.ellipse-vertical {
		clip-path: ellipse(50% 50% at 50% 50%);
	}

	&.is-style-aino-border-dark {

		img {
			border: 1px solid;
			border-color: var(--wp--custom--color--font-secondary);
		}
	}

	&.is-style-aino-border-light {

		img {
			border: 1px solid;
			border-color: var(--wp--custom--color--variant-font-secondary);
		}
	}
}

div[class*='wp-block-'] figcaption {
	display: block;
	@include s-r-4 (margin-top);
	margin-bottom: 0;
	text-align: left;
	color: var(--wp--custom--color--font-secondary);
}

.wp-block-image.alignfull figcaption {
	text-align: center;
}

.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	margin-bottom: 0;
}