.wp-block-navigation {

	&:not(.has-background):not(.has-l-font-size) {

		.wp-block-navigation {

			&__submenu-icon {
				margin-left: var(--space-01);
			}

			&__submenu-container {
				background: var(--wp--custom--color--background-secondary);
				border: none;
				margin-left: 0;
				left: -1.5rem;
				padding-top: var(--space-03);
				padding-bottom: var(--space-06);

				li {

					.wp-block-navigation-item__content {
						font-family: var(--wp--custom--body--typography--font-family);
						align-items: stretch;
						@include s-r-6(padding-left);
						@include s-r-6(padding-right);
						padding-top: 0;
						padding-bottom: 0;
						line-height: 1;
						font-weight: normal;
						text-transform: none;
						font-size: var(--wp--preset--font-size--s) !important;
					}

					&:first-child {
						padding-top: var(--space-03);
					}

					&:not(:last-child) {
						padding-bottom: var(--space-03);
					}
				}
			}
		}
	}

	&__container {

		.wp-block-navigation-item:not(:last-child) {
			@include s-r-7(margin-right);
		}

		.wp-block-navigation__submenu-container {
			.wp-block-navigation-item:not(:last-child) {
				margin-right: 0;
			}
		}
	}

	.site-footer & {
		.wp-block-navigation__container {
			display: block;
		}

		.wp-block-navigation__submenu-container {
			display: none;
		}

		li {
			@include s-r-2(padding-bottom);

			&:last-child {
				padding-bottom: 0;
			}

			&.has-child {
				li {
					padding-bottom: 0;
				}

				:where(.submenu-container, .wp-block-navigation-link__container) {
					left: 0;
				}
			}
		}

		.wp-block-navigation__container>.wp-block-navigation-link,
		.wp-block-page-list,
		.wp-block-page-list>.wp-block-pages-list__item {
			margin: 0;
		}
	}

	button {
		&:hover {
			background-color: transparent;
		}
	}

	.wp-block-navigation__container {
		&:only-child {
			flex-grow: 0;
		}
	}
}

.wp-block-navigation :where(.wp-block-navigation__submenu-container) a {
	padding: 0 1.5rem;
}

//mobile menu
.wp-block-navigation {

	&.is-responsive {

		.wp-block-navigation__responsive-container {

			&.is-menu-open {
				padding-left: var(--global--content--padding--left);
				padding-right: var(--global--content--padding--right);
				padding-top: 0;
			}
		}
	}

	.has-child.wp-block-navigation-link {

		.wp-block-navigation-link__container {
			margin-left: 0;
		}
	}

	.wp-block-navigation {

		&__responsive-container-open,
		&__responsive-container-close {
			width: var(--space-08);
			height: var(--space-08);
			justify-content: center;
			align-items: center;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&__responsive-container-close {
			background-size: var(--space-04);
			top: var(--space-04);;
			right: 0;
			border-radius: var(--global--border-radius-round);
			background-color: var(--wp--custom--color--button-color-primary);

			&:hover {
				background-color: var(--wp--custom--color--button-color-primary);
			}

			svg {
				width: var(--space-08);
				color: var(--wp--custom--color--primary);
			}
		}
	}

	&:not(.has-background) {

		.wp-block-navigation__responsive-container.is-menu-open {
			background-color: var(--wp--custom--color--variant-background-primary);
			color: var(--wp--custom--color--variant-font-primary);


			.wp-block-navigation__responsive-container-content .wp-block-navigation-item {
				min-width: 12rem;
			}
		}
	}

	&.mobile-hide {
		display: none;

		@include breakpoint(sm) {
			display: flex;
		}
	}
}

.wp-block-navigation__responsive-container.is-menu-open {

	.wp-block-navigation__responsive-container-content {

		@include breakpoint(sm) {
			.wp-block-navigation__container {
				flex-direction: row;
			}
		}

		.has-child {

			.wp-block-navigation__submenu-container {
				padding-top: 0;
				padding-left: 0;
				@include s-r-12(padding-bottom);

				li {
					margin: 0;

					.wp-block-navigation-item__content {
						font-weight: normal;
						padding: 0;
						line-height: var(--wp--custom--line-height--body);

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content a {
	padding-bottom: var(--space-02);

	&:hover {
		text-decoration: none;
	}
}

@media (min-width: 600px) {

	.wp-block-navigation:not(.has-background) .submenu-container,
	.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation-link__container {
		background: var(--wp--custom--color--background-secondary);
		color: var(--wp--custom--color--font-secondary);
		border: none;
		border-radius: var(--global--border-radius-xxs);
	}

	.wp-block-navigation-link__container {

		.wp-block-navigation-item {
			background-color: transparent;

			&:not(:last-child) {
				margin-right: 0;
			}

			&:first-child {
				padding-top: 1.5rem;
			}

			&:last-child {
				padding-bottom: 1.5rem;
			}
		}
	}

	.wp-block-navigation .has-child :where(.submenu-container, .wp-block-navigation-link__container) {
		min-width: 15.5rem; // 248px
	}
}

.items-justified-right {
	.wp-block-navigation__responsive-container.is-menu-open {

		.wp-block-navigation__responsive-container-content {
			.wp-block-navigation__container {
				align-items: flex-start !important;
			}
		}
	}
}

.header-dark {

	.wp-block-navigation {

		&:not(.has-background) .wp-block-navigation__submenu-container {
			background: var(--wp--custom--color--variant-background-secondary);
		}
	}
}

.site-header {

	&.pro-light-s,
	&.pro-light-l {
		.wp-block-navigation {

			.wp-block-navigation {
				&__responsive-container-open {
					background-image: url(/assets/images/menu.svg) !important;
	
					svg {
						display: none;
					}
				}
			}
		}

		.header-content {
			.wp-block-navigation-submenu .wp-block-navigation__submenu-icon {
				width: 0.75rem;
	
				svg {
					height: 0.75rem;
				}
			}
		}
	
		.wp-block-ainoblocks-grid-container {
			.wp-block-navigation .wp-block-navigation__submenu-icon {
				width: 0.4em;
			}
		}
	}
}