.wp-block-navigation {

	&:not(.has-background) {

		.wp-block-navigation {

			&__submenu-icon {
				margin-left: 4px;
			}
		
			&__submenu-container {
				background: var(--wp--custom--color--background-secondary);
				border: none;
				margin-left: 0;
				left: -1.5rem;
				@include s-r-6(padding-top);
				@include s-r-6(padding-bottom);

				li {

					a {
						@include s-r-6(padding-left);
						@include s-r-6(padding-right);
						padding-top: 0;
						padding-bottom: 0;
						line-height: 1;
					}

					&:not(:last-child) {
						padding-bottom: var(--space-02);
					}
				}
			}
		}
	}

	&__container {

		.wp-block-navigation-item:not(:last-child) {
			@include s-r-7(margin-right);
		}
	}

	.site-footer & {
		.wp-block-navigation__container {
			display: block;
		}

		.wp-block-navigation__submenu-container {
			display: none;
		}

		li {
			@include s-r-2(padding-bottom);

			&:last-child {
				padding-bottom: 0;
			}

			&.has-child {
				li {
					padding-bottom: 0;
				}

				:where(.submenu-container,.wp-block-navigation-link__container) {
					left: 0;
				}
			}
		}

		.wp-block-navigation__container>.wp-block-navigation-link,
		.wp-block-page-list,
		.wp-block-page-list>.wp-block-pages-list__item {
			margin: 0;
		}
	}

	button {
		&:hover {
			background-color: transparent;
		}
	}
}

.wp-block-navigation :where(.wp-block-navigation__submenu-container) a {
	padding: 0 1.5rem;
}

//mobile menu
.wp-block-navigation {

	&.is-responsive {

		.wp-block-navigation__responsive-container {

			&.is-menu-open {
				padding-left: var(--global--content--padding--left);
				padding-right: var(--global--content--padding--right);
				@include s-r-13(padding-top);
			}
		}
	}

	.has-child.wp-block-navigation-link {

		.wp-block-navigation-link__container {
			margin-left: 0;
		}
	}

	.wp-block-navigation {
		&__responsive-container-open,
		&__responsive-container-close {
			width: 2.5rem;
			height: 2.5rem;
			justify-content: center;
			align-items: center;
			background-repeat: no-repeat;
			background-position: center center;

			svg {
				display: none;
			}
		}

		&__responsive-container-open {
			background-image: url(/assets/images/menu.svg) !important;
		}

		&__responsive-container-close {
			background-image: url(/assets/images/close.svg) !important;
			background-size: 1rem;
			background-color: var(--wp--custom--color--background-primary);
			top: 1rem;
			right: var(--global--content--padding--right);
			border-radius: var(--global--border-radius-round);

			&:hover {
				background-color: var(--wp--custom--color--background-primary);
			}
		}
	}

	&:not(.has-background) {

		.wp-block-navigation__responsive-container.is-menu-open {
			background-color: var(--wp--custom--color--variant-background-primary);
			color: var(--wp--custom--color--variant-font-primary);
		}
	}

	&.mobile-hide {
		display: none;

		@include breakpoint(sm) {
			display: flex;
		}
	}
}

.wp-block-navigation__responsive-container.is-menu-open {

	.wp-block-navigation__responsive-container-content {

		@include breakpoint(sm) {
			.wp-block-navigation__container {
				flex-direction: row;
			}
		}

		.has-child {

			.wp-block-navigation__submenu-container {
				padding-left: 0;
				@include s-r-12(padding-bottom);
			
				li {
					margin: 0;
			
					a {
						padding: 0;
						font-weight: inherit;
						line-height: var(--wp--custom--line-height--body);
			
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content a {
	padding-bottom: var(--space-02);

	&:hover {
		text-decoration: none;
	}
}

@media (min-width: 600px) {

	.wp-block-navigation:not(.has-background) .submenu-container,
	.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation-link__container {
		background: var(--wp--custom--color--background-secondary);
		color: var(--wp--custom--color--font-secondary);
		border: none;
		border-radius: var(--global--border-radius-xxs);
	}

	.wp-block-navigation-link__container {

		.wp-block-navigation-item {
			background-color: transparent;

			&:not(:last-child) {
				margin-right: 0;
			}

			&:first-child {
				padding-top: 1.5rem;
			}

			&:last-child {
				padding-bottom: 1.5rem;
			}
		}
	}

	.wp-block-navigation .has-child :where(.submenu-container, .wp-block-navigation-link__container) {
		min-width: 15.5rem; // 248px
	}
}

.items-justified-right {
	.wp-block-navigation__responsive-container.is-menu-open {

		.wp-block-navigation__responsive-container-content {
			.wp-block-navigation__container {
				align-items: flex-start !important;
			}
		}
	}
}