.wp-block-query {

	.wp-block-post-template {
		padding: 0;

		&.is-flex-container {

			li {
				width: auto !important;
				margin: 0;
			}

			&.columns-2,
			&.columns-4,
			&.columns-5 {

				@include breakpoint(sm) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					column-gap: 2rem;

					li {
						grid-template-columns: 1fr 1fr;
					}
				}

				@include breakpoint(lg) {
					column-gap: 3rem;
				}
			}

			&.columns-3,
			&.columns-6 {
				@include breakpoint(sm) {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					column-gap: 2rem;

					li {
						grid-template-columns: 1fr 1fr 1fr;
					}
				}

				@include breakpoint(md) {
					grid-template-columns: repeat(3, 1fr);
					column-gap: 3rem;

					li {
						grid-template-columns: 1fr 1fr 1fr;
					}
				}
			}

			&.columns-4 {
				@include breakpoint(md) {
					grid-template-columns: repeat(4, 1fr);

					li {
						grid-template-columns: 1fr 1fr 1fr 1fr;
					}
				}
			}

			&.columns-5 {
				column-gap: 1rem !important;
				@include breakpoint(md) {
					grid-template-columns: repeat(5, 1fr);

					li {
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
					}
				}
			}

			&.columns-6 {
				column-gap: 1rem !important;

				@include breakpoint(lg) {
					grid-template-columns: repeat(6, 1fr);

					li {
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
					}
				}
			}
		}

		li {
			@include s-r-12 (padding-bottom);

			a:not(.wp-block-post-excerpt__more-link) {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			> :first-child {

				padding-top: 0;
	
			}
		}

		.wp-block-post-featured-image,
		.wp-block-post-title,
		.wp-block-post-excerpt__excerpt,
		.wp-block-post-excerpt__more-text {
			@include s-r-4 (padding-bottom);
		}

		.wp-block-post-date,
		.wp-block-post-author__name,
		.wp-block-post-author__content {
			display: inline;
		}

		.wp-block-post-author {
			display: inline;

			&:after {
				content: ",";
			}
		}

		.wp-block-post-terms {
			visibility: hidden;

			a {
				visibility: visible;
			}

			a:not(:last-child):after {
				content: ",";
			}

			a:not(:first-child) {
				margin-left: -7px; // temporary fix for post term separators
			}
		}

		.wp-block-post-author__name {
			font-weight: 400;
		}
	}
}

// 3 column list style
.wp-block-query {

	&.is-style-aino-3col-list {

		.wp-block-post {
			@include s-r-9 (padding-bottom);

			.wp-block-separator {
				grid-column: 1 / 13;
			}
		}

		.post-excerpt-wrap {
			@include s-r-9 (padding-bottom);
		}

		@include breakpoint(sm) {

			.wp-block-post {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				column-gap: 2rem;
				align-content: start;
				grid-auto-flow: row;
			}
	
			.wp-block-post-title {
				grid-column: 1 / 5;
				justify-self: stretch;
				grid-row: 1 / 2;
				@include s-r-9 (padding-bottom);
			}
	
			.post-excerpt-wrap {
				justify-self: stretch;
				padding: 0;
				grid-column: 5 / 9;
				grid-row: 1 / 2;
				@include s-r-9 (padding-bottom);
			}
	
			.wp-block-post-featured-image {
				justify-self: stretch;
				grid-column: 9 / 13;
				grid-row: 1 / 2;
				@include s-r-9 (padding-bottom);
			}
		}

		@include breakpoint(md) {
			.wp-block-post {

				.wp-block-post-title,
				.wp-block-post-featured-image {
					@include s-r-9 (padding-bottom);
				}
			}
		}

		@include breakpoint(lg) {
			.wp-block-post {
				column-gap: 3rem;

				.wp-block-post-title,
				.wp-block-post-featured-image {
					@include s-r-9 (padding-bottom);
				}
			}
		}
	}
}

// Related Posts on Single
.related-posts-wrap {

	.wp-block-query {

		.wp-block-post-template.columns-3 {

			li {

				@include breakpoint(sm) {
					padding-bottom: 0;
				}

			}
		}
	}
}