.site-header,
.site-footer {

	.wp-block-social-links {
		list-style: none;
	
		.wp-social-link {
	
			a {
				padding: 0;
			}
	
			&.wp-social-link.wp-social-link {
				margin: 0;
			}
		}

		&.is-style-logos-only {
	
			.wp-social-link {
				padding: 0;
	
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0;
					width: var(--space-08);
					height: var(--space-08);
	
					svg {
						width: var(--space-06);
						height: var(--space-06);
					}
				}
			}
		}
	}
}

.wp-block-social-links {
	padding-left: 0;

	.entry-content & {
		padding-left: 0;
	}
	
	&.is-style-large-raised {

		.wp-social-link {
			width: 3rem;
			height: 3rem;
			transition: all 150ms ease;
			box-shadow: -4px 4px 0px 0 var(--wp--preset--color--button-color-primary);
			border: 1px solid var(--wp--preset--color--button-color-primary);
			background-color: var(--wp--preset--color--primary);

			&:hover {
				transform: scale(1);
				box-shadow: none;
				transform: translate(-4px, 4px);
				background-color: var(--wp--preset--color--secondary) !important;
				color: var(--wp--preset--color--button-color-secondary) !important;
			}

			.wp-block-social-link-anchor,
			button {
				display: flex;
				width: 3rem;
				height: 3rem;
				justify-content: center;
				align-items: center;
				border-radius: 100px;

				svg {
					height: 1.6rem;
					width: 1.6rem;
				}
			}

			@include breakpoint(sm) {
				width: 3.625rem;
				height: 3.625rem;

				.wp-block-social-link-anchor,
				button {
					width: 3.625rem;
					height: 3.625rem;
				}
			}
		}
	}

	&.is-style-large-raised.variant {
		.wp-social-link {
			box-shadow: -4px 4px 0px 0 var(--wp--preset--color--variant-button-color-primary);
			border-color: var(--wp--preset--color--variant-button-color-primary);
			background-color: var(--wp--preset--variant-color--primary);

			&:hover {
				background-color: var(--wp--preset--color--variant-secondary) !important;
				color: var(--wp--preset--color--variant-button-color-secondary) !important;
			}
		}
	}
}
