button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include btn;
	@include btn-m;
}

button,
input[type="button"],
input[type="submit"] {
	@include btn-primary;
}

/* Button Hover Color */
.wp-block-button__link,
.wp-block-ainoblocks-button .wp-block-ainoblocks-button__link,
.wc-block-components-button:not(.is-link) {

	&:hover {
		background-color: var(--wp--custom--color--secondary);
	}
}

/* Button Styles */
a.btn-primary,
.btn-primary a {
	@include btn;
	@include btn-primary;
}

a.btn-outline,
.btn-outline a {
	@include btn;
	@include btn-outline;
}

.btn-naked,
.btn-naked a {
	@include btn-naked;
	padding-left: 0 !important;
	padding-right: 0 !important;
	@include transition-default;
}

.btn-long,
.cr_button {
 width: 100%;
}

.stretch {
	width: 100% !important;

	.wp-block-ainoblocks-multiple-buttons__inner,
	.wp-block-ainoblocks-button__link {
		width: 100% !important;
	}
}

/* Button Sizes */
.btn-xxs {
	@include btn-s;
}

.btn-xs {
	@include btn-s;
}

.btn-s {
	@include btn-s;
}

.btn-m {
	@include btn-m;
}

.btn-l {
	@include btn-l;
}

.btn-xl {
	@include btn-xl;
}

.btn-xxl {
	@include btn-xxl;
}

.btn-xxxl {
	@include btn-xxxl;
}

.btn-xxxxl {
	@include btn-xxxxl;
}

.header-cta-wrap {

	.menu-item {

		a {
			@include btn;
			color: var(--wp--custom--color--font-primary);
			box-shadow: inset 0px 0px 0px 1px var(--wp--custom--color--font-primary);
	
			@include breakpoint(md) {
				padding: 0.688rem 1.375rem;
				font-size: 1.375rem;
			}
	
			@include breakpoint(lg) {
				padding: 0.75rem 1.5rem;
				font-size: 1.5rem;
			}
	
			&:hover {
				text-decoration: none;
				color: var(--wp--custom--color--font-primary);
			}
		}

	}

}

/* Button Styles (via Customizer Settings) */
.btn-curved {

	.btn,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a,
	.wc-block-components-button,
	.form-submit.wp-block-button input {
		border-radius: var(--global--border-radius-xxs);
	}
}

.btn-round {

	.btn,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a,
	.search-header .search-field,
	.wc-block-components-button,
	.form-submit.wp-block-button input {
		border-radius: 6.25em;
	}
}

/* Header CTA Sticky Button */
.header-cta-wrap ul li.sticky a {
	transform: translateY(-100px);
	transition: transform 150ms;
	position: fixed;
	top: 24px;
	right: 48px;
	z-index: 2;
}

.has-sticky-cta {
	.header-cta-wrap ul li.sticky a {
		transform: translateY(0px);
	}
}

#top-of-site-pixel-anchor {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 500px;
	left: 0;
}

/* Customizer Button Options */
.buttons-bold {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.btn-outline a,
	.btn-primary a,
	a.btn-outline,
	a.btn-primary {
		font-weight: bold;
	}
}

.buttons-uppercase {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.btn-outline a,
	.btn-primary a,
	a.btn-outline,
	a.btn-primary {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 19px;
	}
}