button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include btn;
	@include btn-m;
}

button,
input[type="button"],
input[type="submit"] {
	@include btn-primary;
}

/* Button Styles */
a.btn-primary,
.btn-primary a {
	@include btn;
	@include btn-primary;
}

a.btn-outline,
.btn-outline a {
	@include btn;
	@include btn-outline;
}

.btn-naked,
.btn-naked a {
	@include btn-naked;
	padding-left: 0 !important;
	padding-right: 0 !important;
	@include transition-default;
}

.btn-white button {
	background: var(--global--color--white);
	color: var(--global--color--black);
	fill: var(--global--color--black);
}

.btn-long,
.cr_button {
 width: 100%;
}

/* Button Sizes */
.btn-xxs {
	@include btn-s;
}

.btn-xs {
	@include btn-s;
}

.btn-s {
	@include btn-s;
}

.btn-m {
	@include btn-m;
}

.btn-l {
	@include btn-l;
}

.btn-xl {
	@include btn-xl;
}

.btn-xxl {
	@include btn-xxl;
}

.btn-xxxl {
	@include btn-xxxl;
}

.btn-xxxxl {
	@include btn-xxxxl;
}

.header-cta-wrap {

	.menu-item {

		a {
			@include btn;
			color: var(--global--color--font-heading);
			box-shadow: inset 0px 0px 0px 1px var(--global--color--font-heading);
	
			@include breakpoint(md) {
				padding: 0.688rem 1.375rem;
				font-size: 1.375rem;
			}
	
			@include breakpoint(lg) {
				padding: 0.75rem 1.5rem;
				font-size: 1.5rem;
			}
	
			&:hover {
				text-decoration: none;
				color: var(--global--color--font-heading);
			}
		}

	}

}

/* Button Styles (via Customizer Settings) */
.btn-curved {

	.btn,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a,
	.loadmore,
	.wc-block-components-button,
	.form-submit.wp-block-button input {
		border-radius: var(--global--border-radius-xxs);
	}
}

.btn-round {

	.btn,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a,
	.search-header .search-field,
	.loadmore,
	.wc-block-components-button,
	.form-submit.wp-block-button input {
		border-radius: 6.25em;
	}
}

/* Header CTA Sticky Button */
.header-cta-wrap ul li.sticky a {
	transform: translateY(-100px);
	transition: transform 150ms;
	position: fixed;
	top: 24px;
	right: 48px;
	z-index: 2;
}

.has-sticky-cta {
	.header-cta-wrap ul li.sticky a {
		transform: translateY(0px);
	}
}

#top-of-site-pixel-anchor {
	position: absolute;
	width: 1px;
	height: 1px;
	top: 500px;
	left: 0;
}

/* Customizer Button Options */
.buttons-bold {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.btn-outline a,
	.btn-primary a,
	a.btn-outline,
	a.btn-primary {
		font-weight: bold;
	}
}

.buttons-uppercase {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.btn-outline a,
	.btn-primary a,
	a.btn-outline,
	a.btn-primary {
		text-transform: uppercase;
		font-size: 14px;
		line-height: 19px;
	}
}

/* Pill-shaped Buttons */
.btn-pill,
.single-post .entry-header .entry-cats a,
.single-post .entry-tags a,
.comment-metadata a,
.post-edit-link {
	@include pill;
}

.btn-pill,
.single-post .entry-header .entry-cats a,
.single-post .entry-tags a,
.comment-metadata .reply a,
.comment-time,
.post-edit-link,
.comment-edit-link {
	@include pill;
}

.post-edit-link,
.comment-metadata a {
	display: inline-flex;
	@include pill-s;
}

.post-edit-link {
	@include s-r-4 (margin-top);
}

.comment-metadata a {
	@include s-r-2 (margin-right);
}

.comment-meta .comment-metadata a.comment-time,
.comment-meta .comment-metadata a.comment-time time {
	line-height: 1;
}

.single {

	.entry-header .entry-cats a,
	.entry-tags a {
		@include pill-l;
	}

	.entry-header .entry-cats a {
		margin: 0 $s-2 $s-4;
	}

	.entry-tags a {
		margin: 0 $s-4 $s-4 0;
	}
}