input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	width: 100%;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid var(--global--color-border);
	outline: none;
	line-height: 1;
	max-height: 60px;
	@include s-r-5 (padding);

	@include input-placeholder {
		color: #8e8e8e;
	}

	&:active,
	&:focus {
		background: var(--global--color-white);
		color: var(--global--color-text-one);
	}

	.light-form & {
		border: 1px solid var(--global--color-white);
		color: var(--global--color-white);

		@include input-placeholder {
			color: var(--global--color-white);
		}

		&:active,
		&:focus {
			background: var(--global--color-white);
			color: var(--global--color-black);
		}
	}
}

// Search form in header on desktop with a narrow width.
.site-header input[type="search"] {
	max-height: $s-9;

	@include breakpoint(md) {
		padding: 0.688rem 1.375rem;
	}

	@include breakpoint(lg) {
		padding: 0.75rem 1.5rem;
	}
}

// Testarea
textarea {
	width: 100%;
	background-color: transparent;
	border: 1px solid var(--global--color-border);
	padding: $s-4 $s-6;
	outline: none;

	@include input-placeholder {
		color: #8e8e8e;
	}

	.light-form & {
		border: 1px solid var(--global--color-white);
		color: var(--global--color-white);

		@include input-placeholder {
			color: var(--global--color-white);
		}

		&:active,
		&:focus {
			background: var(--global--color-white);
			color: var(--global--color-text-one);
		}
	}
}

// Form labels
form label {
	position: relative;
	display: block;
	line-height: 1;
	color: var(--global--color-light-gray);
	@include s-r-2 (margin-bottom);
	border-radius: var(--global--border-radius-xxs);
}

// Select forms
select {
	background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
	border: 1px solid var(--global--color-border);
	background-repeat:no-repeat;
	background-position: right 14px top 21px;
	background-size: 12px 12px;
	border-radius: 0;
	-webkit-appearance: none;
}

// Checkboxes
.checkbox,
form .comment-form-cookies-consent {
	color: var(--global--color-text-one);
	display: flex;
	align-items: center;
}

input[type="checkbox"] {
	-webkit-appearance:none;
    width:24px;
    height:24px;
    border:1px solid darkgray;
    border-radius:50%;
    outline:none;
	@include s-r-2 (margin-right);
	margin-bottom: 0;
}

input[type='checkbox']:before {
    content:'';
    display:block;
    width:100%;
    height:100%;
    border-radius:50%;
}

input[type='checkbox'] {
	position: relative;

	&:focus {
		border-color: rgba(82, 168, 236, 1);
		box-shadow: 0 0 2px 2px rgba(82, 168, 236, 1);
		outline: 0 none;
	}

	&:checked:before {
		background: var(--global--color-text-one);
	}

	&:after {
	content: "";
	position: absolute;
	display: none;
	}

	  &:checked:after {
		display: block;
	  }
	
	  &:after {
		left: 8px;
		top: 4px;
		width: 7px;
		height: 12px;
		border: solid white;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	  }
}

.comment-form-cookies-consent {
	label {
		margin-bottom: 0;
		color: var(--global--color-text-one);
	}
}

/* Form Submit */
input[type="submit"],
button[type="submit"] {
	display: block;
	clear: both;

	.light-btn & {
		background: var(--global--color-white);
		color: var(--global--color-text-one);
	}
}


// Default comment form
.color-notice,
label.color-notice span {
	color: var(--global--color-notification);
}

.comment-respond textarea {
		height: 150px;
}

.single form p,
.page form p {
	@include s-r-6 (padding-top);
	padding-bottom: 0;
}

form p.comment-form-comment {
	margin: 0;
}

/* Search Form */
.searchform-wrap,
.form-wrap {
	position: relative;
	display: block;
	clear: both;
}

.entry-content .search-form,
.widget_search .search-form {
	position: relative;
}

.entry-content label .search-icon,
.widget_search label .search-icon {
	display: none;
}

.entry-content .search-submit span.search-icon,
.widget_search .search-submit span.search-icon {
	width: 120px;
	height: $s-10;
	padding: 16px 0 0;
}

.error404 .entry-content {
	.searchform-wrap {

		.search-field {
			@include s-r-6 (margin-bottom);
		}
	
	}
}

/* Form Styles (via Customizer Settings) */
.form-curved {

	input:not([type='checkbox']),
	textarea,
	select {
		border-radius: var(--global--border-radius-xxs);
	}
}

.form-round {

	input,
	select {
		border-radius: 6.25em;
	}

	textarea {
		@include border-radius-l;
	}
}

/* Mailchimp Form */

.mc4wp-form {

	.mc4wp-form-fields {
		@include s-r-6 (padding-top);
	}

	.mc4wp-alert p {
		text-align: center;
	}
	
	.mc4wp-success p {
		color: var(--global--color-success);
	}
	
	.mc4wp-notice p {
		color: var(--global--color-notification);
	}
}

/* Light Form Color */
.entry-content {

	.light-form {
		p {
			color: var(--global--color-white);
		}
	}
}