.icon {
	display: inline-block;
	fill: currentColor;
	position: relative;
	top: 0;
	vertical-align: middle;
	text-align: center;
	stroke-width: 0;
	stroke: currentColor;
	width: $s-6;
	height: $s-6;
}

/* Social Icons */
.menu-social-container .icon {
	fill: var(--global--color-text-one);
	width: $s-6;
	height: $s-6;
}

/* Search Form Icon */
.search-icon {
	display: none;
}
