.icon {
	display: inline-block;
	fill: currentColor;
	position: relative;
	top: 0;
	vertical-align: middle;
	text-align: center;
	stroke-width: 0;
	stroke: currentColor;
	width: $s-6;
	height: $s-6;
}

/* Social Icons */
.menu-social-container {

	.icon {
		fill: var(--wp--custom--color--font-primary);
		width: $s-6;
		height: $s-6;
	}

	.icon-large {

		.icon {
			@include s-r-8 (width);
			@include s-r-8 (height);
		}
	}
}

/* Search Form Icon */
.search-icon {
	display: none;
}

/* Back to top icon */
.top {
	&:before {
		content: "\2191"; // top arrow glyth
		@include s-r-1(margin-right);
	}
}

/* Arrow Icons */
.arrow-left {
	position: relative;

	&:before {
		text-indent: 0;
		content: "\2192";
		position: absolute;
		top: 0;
		left: 0;
	}
}