.icon {
	display: inline-block;
	fill: currentColor;
	position: relative;
	top: 0;
	vertical-align: middle;
	text-align: center;
	stroke-width: 0;
	stroke: currentColor;
	width: $s-6;
	height: $s-6;
}

/* Social Icons */
.menu-social-container .icon {
	fill: $color__text_one;
	width: $s-6;
	height: $s-6;
}

/* Search Form Icon */
.search-icon {
	position: absolute;
	top: 8px;
	left: 16px;
	@include flexbox;
	@include flex-center;
	width: $s-6;
	height: $s-6;
	color: #707070;

	.icon {
		width: $s-6;
		height: $s-6;
		padding: 0;
	}
}
