
ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

.site-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li > ul, li > ol {
	margin-bottom: 0;
	margin-left: $s-6;
	@include breakpoint(sm) {
		margin-left: $s-6;
	}
}

.entry-content ul,
.entry-content ol {
	padding-left: $s-6;
	@include s-r-8(margin-bottom);
	@include breakpoint(sm) {
		padding-left: $s-6;
	}
}

.entry-content ul li,
.entry-content ol li {
	margin-bottom: 0;
}

.entry-content ul ul,
.entry-content ol ol,
.entry-content ol ul,
.entry-content ul ol {
	margin-bottom: 0;
}

.entry-content ul ul {
	list-style: circle;
}
