ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

.site-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li > ul, li > ol {
	margin-bottom: 0;
	margin-left: $s-6;

	@include breakpoint(sm) {
		margin-left: $s-6;
	}
}

.entry-content,
.comment-content {

		ul ul {
		list-style: circle;
	}
}

// Social Icon List
.social-links-menu {
	@include flexbox;
	flex-wrap: wrap;
	align-items: center;
}

.menu-social-container ul,
.social-nav ul {
	margin: 0;
	padding: 0;

}

.social-links-menu li {
	@include s-r-4 (padding-right);

	&:last-child {
		padding-right: 0;
	}
}

.menu-social-container ul {

	li {
		a {
			display: block;
			width: $s-6;
			height: $s-6;
			line-height: 1;
			margin: 0;
			overflow: hidden;
		}

		&.icon-large {
			a {
				@include s-r-8 (width);
				@include s-r-8 (height);
			}
		}
	}
}
