ul, ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

.site-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li > ul, li > ol {
	margin-bottom: 0;
	margin-left: $s-6;

	@include breakpoint(sm) {
		margin-left: $s-6;
	}
}

.entry-content,
.comment-content {

	ul, ol {
	padding-left: $s-6;

		@include s-r-8(padding-bottom);

		@include breakpoint(sm) {
			padding-left: $s-6;
		}

		li {
			@include s-r-4(padding-bottom);

			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	ul ul,
	ol ol,
	ol ul,
	ul ol {
		padding-bottom: 0;
	}

		ul ul {
		list-style: circle;
	}
}