/* Widget Areas */
.header-menu-widget-area {
	display: block;
	padding: $s-4 0 0;

	@include breakpoint(sm) {
		padding: $s-4 0 0;
	}
}

.header-menu-widget-area .textwidget p {
	margin: 0;
}

.widget-title {
	@include s-r-4 (padding-bottom);
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.textwidget p:last-child {
	margin-bottom: 0;
}

.footer-widget .widget ul li {
	list-style: none;
	@include s-r-4 (padding-bottom);
	line-height: var(--wp--custom--line-height--body);

	&:last-child {
		padding-bottom: 0;
	}
}

.widget ul ul li:last-child {
	padding: 0;
}

.site-footer .sub-menu {
	padding: $s-4 0 0 0;
}

/* Archive + Category + Pages + Nav Menu Widget */
.widget_archive,
.widget_categories {

	select {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		line-height: 1.42857143;
		background-image: none;
		border: 1px solid var(--wp--custom--color--border);
		border-color: var(--wp--custom--color--border);
		border-radius: 0;
		box-shadow: none;
	}
}
.widget-area-default {

	.widget_categories .children,
	.widget_nav_menu .sub-menu,
	.widget_pages ul.children {
		padding-top: 0;
		@include s-r-6(padding-left);
	}
}

/* Calendar Widget */
#wp-calendar caption {
	font-weight: bold;
}

.widget_calendar th {
	text-align: center;
}

.widget_calendar tfoot td {
	border: 0;
}

/* Jetpack Sharing buttons */
.entry-content .sharedaddy {
	@include s-r-4(padding-top);

	h3.sd-title {
		display: block;
		font-weight: normal;
		text-align: center;

		&:before {
			display: none;
		}
	}

	.sd-content ul {
		display: flex;
		justify-content: center;
		margin: 0 !important;
	}
}
