/* Avatar Hovers */
.author-avatar .author-avatar-link,
.author-avatar,
.author-pic-link {
	display: block;
}

.author-avatar {
	position: relative;
}

.author-avatar img {
	@include avatar-m;
}

/* Blog Posts Footer */
.entry-footer .author-avatar {
	margin-right: 12px;
}

/* Single Post Author */
.single-post .author-avatar {
	margin: 0 auto;
	@include s-r-4 (padding-bottom);
	display: block;
}

/* Authorbox */
.author-pic-link {
	position: relative;
	@include avatar-l;
	line-height: 0;
	margin: 0 $s-4 $s-4;

	@include breakpoint(sm) {
		margin: 0 $s-6 $s-4 0;
	}

	@include breakpoint(lg) {
		position: absolute;
		margin: 0;
	}

	img {
		display: block;
		position: relative;
		@include avatar-l;
	}

	.archive &,
	.archive & img {
		@include avatar-l;
	}

	.archive & {
		@include breakpoint(sm) {
			margin-right: $s-8;
		}
	}
}

/* Avatar Border Radius */
.author-pic-link,
.comment-author .avatar,
.author-pic-link img,
.author-avatar img {
	border-radius: 50%;
}

.authorbox__wrap .author-pic-link:after,
.comment-avatar:after,
.author-avatar-link:after,
.entry-footer .author-avatar:after {
	border-radius: 50%;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.authorbox__wrap .author-pic-link:after {
	@include avatar-l;
}

.comment-avatar:after {
	@include avatar-s;
}

.author-avatar-link:after {
	@include avatar-m;
}