/* Sticky Post Badge */
.badge-highlight {
	@include pill;
	@include pill-m;
	display: inline-block;
	position: absolute;
	@include s-r-6(top);
	@include s-r-6(left);
	z-index: 1;
	background: transparent;
	color: $color__text_one;

	.sticky-bg & {
		background: $color__text_one;
		color: $color__white;
	}
}

