/* Sticky Post Badge */
.badge-highlight {
	background: transparent;
	color: var(--global--color--text-one);
	border: 1px solid var(--global--color--text-one);
	line-height: 1;
	@include pill-s;
	display: block;
	position: absolute;
	@include s-r-4(top);
	@include s-r-4(left);
	z-index: 1;

	.sticky-light & {
		color: var(--wp--custom--color--white);
		border: 1px solid var(--wp--custom--color--white);
	}

	.no-featured-image & {
		top: 0;
		left: 0;
	}
}

