/* Sticky Post Badge */
.badge-highlight {
	@include pill;
	@include pill-m-icon;
	display: block;
	position: absolute;
	@include s-r-6(top);
	@include s-r-6(left);
	z-index: 1;
	background: transparent;
	color: $color__text_one;

	.sticky-icon {
		border-right: 1px solid $color__text_one;
		padding: 5px 14px;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;

		.icon {
			width: 1.125rem; // 18px
			height: 1.125rem;
			display: block;

			@include breakpoint(lg) {
				width: 1.25rem; // 20px
				height: 1.25rem;
			}
		}
	}

	.sticky-light & {
		color: $color__white;
		border: 1px solid $color__white;

		.sticky-icon {
			border-right: 1px solid $color__white;
		}
	}
}

