
/* Spacing Below Blocks */
.wp-block-button,
.wp-block-image,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-pullquote,
.wp-block-media-text,
.entry-content .wp-block-gallery,
.wp-block-audio,
.wp-block-video,
.wp-block-cover {
	@include push--auto;
	margin-bottom: $spacing-mobile-4;
	@include breakpoint(m) {
		margin-bottom: $spacing-desktop-4;
	}
}

/* Alignwide and alignfull */

.hentry .entry-content > * {

	&.alignwide {
		max-width: $website-width;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		clear: both;

		@include breakpoint(m) {
			padding-left: 48px;
			padding-right: 48px;
		}

		@include breakpoint(l) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}

	&.alignfull {
		position: relative;
		width: 100vw;
		margin-left: calc( 50% - 50vw );
		max-width: none;
	}
}

/* Nested Block Alignment: alignwide inside alignfull */

.hentry .entry-content .alignfull {

	.alignwide {
		max-width: $website-width;
		clear: both;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		padding-left: 24px;
		padding-right: 24px;

		@include breakpoint(xs) {
			padding-left: 48px;
			padding-right: 48px;
		}

		@include breakpoint(l) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}

/* Paragraph */
.entry-content p {

	&.is-small-text {
		@include font-body4;
	}

	&.is-regular-text {
		@include font-body3;
	}

	&.is-large-text {
		@include font-body2;
	}

	&.is-larger-text {
		@include font-body1;
	}

	&.has-background {
		padding: $spacing-mobile-4;
		@include breakpoint(m) {
			padding: $spacing-desktop-4;
		}
	}

	&.has-drop-cap:not(:focus):first-letter {
		float: left;
		margin: 5px 8px 0 -8px;
		line-height: 0.77;
		text-transform: uppercase;
		font-style: normal;
		font-size: 100px;
		@include breakpoint(m) {
			font-size: 120px;
			line-height: 0.77;
			margin: 6px 12px 0 -8px;
		}
	}

	&.intro.has-drop-cap:not(:focus):first-letter {
		@include breakpoint(m) {
			font-size: 142px;
		}
	}
}

/* Group */

.wp-block-group {
	padding: $spacing-mobile-9 0;
	@include breakpoint(l) {
		padding: $spacing-desktop-9 0;
	}
}

/* Columns */

.wp-block-columns {

	margin-bottom: 0;

	.wp-block-column > * {

		&:first-child {
			margin-top: 0;
		}
	}

	@include breakpoint(m) {
		flex-wrap: nowrap;
			flex-basis: calc(50% - 48px);
			flex-grow: 0;

		.wp-block-column {
			margin-left: $spacing-3;
			margin-right: $spacing-3;
			margin-bottom: 0;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/* Button */

.wp-block-button {

	.wp-block-button__link {
		@include btn;
		@include btn-m;
		@include btn-primary;
		border: none;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		height: auto;
		background: $color__primary_one;
		box-shadow: none;

		&:not(.has-background) {
			background-color: $color__primary_one;
		}
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: 16px;
	}

	&.is-style-outline {

		.wp-block-button__link {
			@include btn-outline;
			box-shadow: none;

			&:not(.has-background) {
				background: transparent;
			}

			&:hover {
				color: $color__primary_one;
				fill: $color__primary_one;
				background-color: $primary_one_color_rgba_10;
			}
		}
	}
}

/* Image */

.wp-block-image {

	&.alignright {
		display: block;
		float: none;
		margin-bottom: $spacing-mobile-5;
		@include breakpoint(xs) {
			float: right;
			margin: $spacing-1 0 $spacing-desktop-4 $spacing-desktop-4;
		}
	}

	&.alignleft {
		float: left;
		margin-right: 1em;
		@include breakpoint(xs) {
			float: left;
			margin: $spacing-1 $spacing-desktop-4 $spacing-desktop-4 0;
		}
	}

	&.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&.aligncenter,
	&.alignleft,
	&.alignright,
	&.is-resized {
		margin-left: 0;
		margin-right: 0;
	}

	&.alignfull img {
		width: 100%;
		max-width: 100%;
		display: block;
	}
}

.wp-block-image figcaption,
.wp-block-video figcaption,
.wp-block-audio figcaption,
.wp-block-embed figcaption {
	display: block;
	margin: $spacing-2 0 0;
	text-align: center;
	@include font-body4;
	color: $color__text_three;
}
.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
	display: block;
}

.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	margin-bottom: 0;
}

/* Gallery */

ul.wp-block-gallery {
	padding: 0;
	list-style: none;

	& li {
		padding: 0;
	}

	&.alignwide {
		@include breakpoint(m) {
			margin-left: calc(31.75% - 31.75vw);
			margin-right: calc(31.75% - 31.75vw);
		}
	}

	&.blocks-gallery-image figcaption,
	&.wp-block-gallery .blocks-gallery-item figcaption {
		@include font-body4;
	}
}

/* Blockquote + Pullquote */
.wp-block-quote,
.wp-block-pullquote {
	padding: 0;

	&.is-style-default {
		background-color: transparent;
	}

	&.is-style-solid-color .has-text-color a {
		text-decoration: underline;
		box-shadow: none;
	}

	.has-text-color a:hover {
		color: $color__primary_one;
	}

	&.is-style-large {
		padding: 0;
	}

	&.is-style-large p {
		margin: 0;
		@include font-body1;
		font-style: normal;
	}

	&.is-style-large cite,
	& cite {
		text-align: left;
		@include font-body4;
	}
}

.wp-block-pullquote {
	border: none;
	text-align: left;
	padding: 0;
	@include border-radius-m;

	& p,
	&.is-style-solid-color blockquote p {
		margin: 0;
		@include font-body2;
		font-style: normal;
	}

	&.is-style-solid-color blockquote {
		max-width: 100%;
		padding: $spacing-3;
	}

	&.alignleft {
		margin-left: 0;
		padding: 0;
	}

	&.alignright {
		margin-right: 0;
		padding: 0;
	}

	&.alignleft blockquote,
	&.alignright blockquote {
		padding: 0;
	}
}

/* Cover */
.wp-block-cover {

	.wp-block-cover__inner-container {
		p {
			margin-bottom: 0;
			color: $color__white;
		}

		a {
			color: $color__white;
			box-shadow: inset 0 -0.06em 0 $color__white;
			box-shadow: inset 0 -0.07em 0 $color__white;
		}
	}
}


/* Video */

.wp-block-video iframe,
.wp-block-video video {
	max-width: 100%;
}

.wp-block-embed .jetpack-video-wrapper {
	margin: 0;
}

/* Audio */
.wp-block-audio {
	display: block;
}

.wp-block-audio audio {
	width: 100%;
}

/* Table */
.wp-block-table {
	display: table;
}

.wp-block-table.alignfull {
	width: 96vw;
}

/* Verse */
.wp-block-verse {
	background-color: transparent;
	padding: 0;
	color: $color__text_one;
}

/* Separator */
.wp-block-separator {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	margin: 0 0 $spacing-mobile-6;
	@include breakpoint(m) {
		margin: 0 0 $spacing-desktop-6;
	}
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
	@include push--auto;
}

.wp-block-separator.is-style-dots {
		background: none;
		border: none;
}

.wp-block-separator.is-style-dots:before {
		color: $color__text_two;
		content: "\00b7 \00b7 \00b7";
		font-family: serif;
		@include font-body1;
		letter-spacing: 1em;
		padding-left: 1em;
}

/* Columns */
.wp-block-columns {
	display: block;
	@include breakpoint(m) {
		@include flexbox;
	}

	.wp-block-column:nth-child(2n) {
		margin-left: 0;

		@include breakpoint(m) {
			margin-left: $spacing-3;
		}
	}
}


.wp-block-columns.alignfull {
	&[class*='has-'] > * {
		margin-right: 0;
	}
}

/* Latest Posts and Categories */
.wp-block-categories,
.wp-block-latest-posts__post-date {
	margin: 0 0 $spacing-mobile-6;
	@include breakpoint(m) {
		margin: 0 0 $spacing-desktop-6;
	}
}

.wp-block-categories-list,
.wp-block-categories-list li,
.wp-block-latest-posts,
.wp-block-latest-posts li {
	margin: 0;
	padding: 0;
	text-align: left;
}

.entry-content .wp-block-categories-list li a,
.entry-content .wp-block-latest-posts li a {
	border: none;
}

/* Preformatted */
.wp-block-preformatted {
	background-color: $color__code_two;
	overflow: auto;
	padding: $spacing-mobile-4;
	margin-bottom: $spacing-mobile-4;
	@include border-radius-l;
	@include font-code;
	color: $color__code_one;
	@include breakpoint(m) {
		padding: $spacing-desktop-4;
		margin-bottom: $spacing-desktop-4;
	}
}

/* Custom Color Palette */
.entry-content {

	.has-primary-one-color {
		color: $color__primary_one;
		fill: $color__primary_one;
	}

	p.has-primary-one-color a {
		box-shadow: inset 0 -0.06em 0 $color__primary_one;
		box-shadow: inset 0 -0.07em 0 $color__primary_one;
	}

	.has-primary-one-background-color {
		background: $color__primary_one;
	}

	.has-primary-two-color {
		color: $color__primary_two;
		fill: $color__primary_two;
	}

	.has-primary-two-background-color {
		background: $color__primary_two;
	}

	.has-secondary-one-color {
		color: $color__secondary_one;
		fill: $color__secondary_one;
	}

	p.has-secondary-one-color a {
		box-shadow: inset 0 -0.06em 0 $color__secondary_one;
		box-shadow: inset 0 -0.07em 0 $color__secondary_one;
	}

	.has-secondary-one-background-color {
		background: $color__secondary_one;
	}

	.has-text-one-color {
		color: $color__text_one;
		fill: $color__text_one;
	}

	.has-text-one-background-color {
		background: $color__text_one;
	}

	.has-text-two-color {
		color: $color__text_two;
		fill: $color__text_two;
	}

	.has-text-two-background-color {
		background: $color__text_two;
	}

	.has-text-three-color {
		color: $color__text_three;
		fill: $color__text_three;
	}

	p.has-text-three-color a {
		box-shadow: inset 0 -0.06em 0 $color__text_three;
		box-shadow: inset 0 -0.07em 0 $color__text_three;
	}

	.has-text-three-background-color {
		background: $color__text_three;
	}

	.has-border-color {
		color: $color__border;
		fill: $color__border;
	}

	.has-border-background-color {
		background: $color__border;
	}

	.has-background-color {
		color: $color__background;
		fill: $color__background;
	}

	.has-background-background-color {
		background: $color__background;
	}

	.has-notification-color {
		color: $color__notification;
		fill: $color__notification;
	}

	p.has-notification-color a {
		box-shadow: inset 0 -0.06em 0 $color__notification;
		box-shadow: inset 0 -0.07em 0 $color__notification;
	}

	.has-notification-background-color {
		background: $color__notification;
	}

	.has-error-color,
	.has-error-color a {
		color: $color__error;
		fill: $color__error;
	}

	p.has-error-color a {
		box-shadow: inset 0 -0.06em 0 $color__error;
		box-shadow: inset 0 -0.07em 0 $color__error;
	}

	.has-error-background-color,
	.has-error-background-color:hover {
		background: $color__error;
	}

	.has-success-color {
		color: $color__success;
		fill: $color__success;
	}

	p.has-success-color a {
		box-shadow: inset 0 -0.06em 0 $color__success;
		box-shadow: inset 0 -0.07em 0 $color__success;
	}

	.has-success-background-color {
		background: $color__success;
	}

	.has-white-color {
		color: $color__white;
		fill: $color__white;
	}

	.has-white-background-color {
		background: $color__white;
	}

	.has-black-color {
		color: $color__black;
		fill: $color__black;
	}

	.has-black-background-color {
		background: $color__black;
	}
}
