/* Block styles */

/* Spacing Below Blocks */
.wp-block-button,
.wp-block-image,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-pullquote {
	margin-bottom: $spacing-mobile-4;
	@include breakpoint(m) {
		margin-bottom: $spacing-desktop-4;
	}
}

/* Alignwide and alignfull */
@media screen and (min-width: 37.5em) {
	*[class^="wp-block-"].alignleft,
	*[class^="wp-block-"].alignright {
		max-width: 75%;
	}
}

.aligncenter,
.alignfull,
.alignwide {
	clear: both;
}

.alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: 1000%;
}

.alignfull > *,
.alignwide > * {
	margin-left: auto;
	margin-right: auto;
}

/* Text-based blocks with alignfull */
.entry .entry-content > * {

	&.alignwide {
		margin-left: calc(31.75% - 31.75vw);
		margin-right: calc(31.75% - 31.75vw);
		width: auto;
		max-width: 1000%;

		iframe,
		img,
		video {
			display: block;
		}
	}

	&.alignfull {
		position: relative;
		clear: both;

		@media (min-width: 840px) {
			margin-left: calc(50% - 50vw);
			margin-right: calc(50% - 50vw);
			width: auto;
			max-width: 1000%;
		}

		iframe,
		img,
		video {
			display: block;
		}

		.fullwidth-page &,
		.fullscreen-page & {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
			max-width: 100%;
		}
	}
}

/* Paragraph */
.entry-content p {

	&.is-small-text {
		@include font-body4;
	}

	&.is-regular-text {
		@include font-body3;
	}

	&.is-large-text {
		@include font-body2;
	}

	&.is-larger-text {
		@include font-body1;
	}

	&.has-background {
		padding: $spacing-mobile-4;
		@include breakpoint(m) {
			padding: $spacing-desktop-4;
		}
	}

	&.has-drop-cap:not(:focus):first-letter {
		float: left;
		margin: 5px 8px 0 -8px;
		line-height: 0.77;
		text-transform: uppercase;
		font-style: normal;
		font-size: 100px;
		@include breakpoint(m) {
			font-size: 120px;
			line-height: 0.77;
			margin: 6px 12px 0 -8px;
		}
	}

	&.intro.has-drop-cap:not(:focus):first-letter {
		@include breakpoint(m) {
			font-size: 142px;
		}
	}
}

/* Button */
.wp-block-button {

	.wp-block-button__link {
		@include btn;
		@include btn-m;
		@include btn-primary;
		border: none;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		height: auto;
		background: $color__primary_one;
		box-shadow: none;

		&:not(.has-background) {
			background-color: $color__primary_one;
		}
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: $border-radius-s;
	}

	&.is-style-outline {

		.wp-block-button__link {
			@include btn-outline;
			box-shadow: none;

			&:not(.has-background) {
				background: transparent;
			}

			&:hover {
				color: $color__primary_one;
				fill: $color__primary_one;
				background-color: $primary_one_color_rgba_10;
			}

			&:not(.has-text-color) {

			}
		}
	}
}

/* Image */
.wp-block-image {

	&.alignright {
		float: right;
		margin-left: 1em;
	}

	&.alignleft {
		float: left;
		margin-right: 1em;
	}

	&.aligncenter,
	&.alignleft,
	&.alignright,
	&.is-resized {
		margin-left: 0;
		margin-right: 0;
	}
}

.wp-block-image figcaption,
.wp-block-audio figcaption,
.wp-block-embed figcaption {
	display: block;
	margin: $spacing-2 0 0;
	text-align: center;
	@include font-body4;
	color: $color__text_three;
}
.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
	display: block;
}

/* Gallery */
ul.wp-block-gallery {
	padding: 0;
	list-style: none;
	margin: 0 0 $spacing-1;
	@include breakpoint(m) {
		margin: 0 0 $spacing-2;
	}

	& li {
		padding: 0;
	}

	&.alignwide {
		@include breakpoint(m) {
			margin-left: calc(31.75% - 31.75vw);
			margin-right: calc(31.75% - 31.75vw);
		}
	}

	&.blocks-gallery-image figcaption,
	&.wp-block-gallery .blocks-gallery-item figcaption {
		@include font-body4;
	}
}

/* Blockquote + Pullquote */
.wp-block-quote,
.wp-block-pullquote {
	padding: 0;

	&.is-style-default {
		background-color: transparent;
	}

	&.is-style-solid-color .has-text-color a {
		text-decoration: underline;
		box-shadow: none;
	}

	.has-text-color a:hover {
		color: $color__primary_one;
	}

	&.is-style-large {
		padding: 0;
	}

	&.is-style-large p {
		margin: 0;
		@include font-body1;
		font-style: normal;
	}

	&.is-style-large cite,
	& cite {
		text-align: left;
		@include font-body4;
	}
}

.wp-block-pullquote {
	border: none;
	text-align: left;
	padding: 0;
	@include border-radius-m;

	& p,
	&.is-style-solid-color blockquote p {
		margin: 0;
		@include font-body2;
		font-style: normal;
	}

	&.is-style-solid-color blockquote {
		max-width: 100%;
		padding: $spacing-3;
	}

	&.alignleft {
		margin-left: 0;
		padding: 0;
	}

	&.alignright {
		margin-right: 0;
		padding: 0;
	}

	&.alignleft blockquote,
	&.alignright blockquote {
		padding: 0;
	}
}

/* Cover */
.wp-block-cover-image {
	margin-top: $spacing-mobile-5;
	margin-bottom: $spacing-mobile-8;
	@include breakpoint(m) {
		margin-top: $spacing-desktop-5;
		margin-bottom: $spacing-desktop-8;
	}
}

.wp-block-cover-image.alignwide {
	height: 75vh;
	min-height: 400px;
}

.wp-block-cover-image.alignfull {
	height: 75vh;
	min-height: 400px;
	left: 50%;
	margin-left: -50vw;
	position: relative;
	width: 100vw;
	@media (min-width: 840px) {
		left: 50%;
		margin-left: -50vw;
		position: relative;
		width: 100vw;
	}
}

.entry-content .wp-block-cover-image .wp-block-cover-image-text {
	@include font-h4;
	padding: 0 $spacing-mobile-6;
	max-width: 100%;
	@include breakpoint(m) {
		margin: 0 auto;
		padding: 0;
		max-width: $content-width;
	}
}

/* Video */
.wp-block-video iframe,
.wp-block-video video {
	max-width: 100%;
}

.wp-block-embed .jetpack-video-wrapper {
	margin: 0;
}

/* Audio */
.wp-block-audio {
	display: block;
	margin: 0 0 $spacing-mobile-5;
	@include breakpoint(m) {
		margin: 0 0 $spacing-desktop-5;
	}
}

.wp-block-audio audio {
	width: 100%;
}

/* Table */
.wp-block-table {
	display: table;
}

.wp-block-table.alignfull {
	width: 96vw;
}

/* Verse */
.wp-block-verse {
	background-color: transparent;
	padding: 0;
	color: $color__text_one;
}

/* Separator */
.wp-block-separator {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	margin: 0 0 $spacing-mobile-6;
	@include breakpoint(m) {
		margin: 0 0 $spacing-desktop-6;
	}
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
	@include push--auto;
}

.wp-block-separator.is-style-dots {
		background: none;
		border: none;
}

.wp-block-separator.is-style-dots:before {
		color: $color__text_two;
		content: "\00b7 \00b7 \00b7";
		font-family: serif;
		@include font-body1;
		letter-spacing: 1em;
		padding-left: 1em;
}

/* Columns */
.wp-block-columns {
	display: block;
	@include breakpoint(m) {
		@include flexbox;
	}
}

.wp-block-columns {
	@include breakpoint(m) {
		&[class*='has-'] > * {
			margin-right: $spacing-3;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.fullscreen-page .wp-block-columns,
.fullwidth-page .wp-block-columns,
.wp-block-columns.alignwide {
	@include breakpoint(xl) {
		&[class*='has-'] > * {
			margin-right: $spacing-desktop-6;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.wp-block-columns.alignfull {
	&[class*='has-'] > * {
		margin-right: 0;
	}
}

/* Latest Posts and Categories */
.wp-block-categories,
.wp-block-latest-posts__post-date {
	margin: 0 0 $spacing-mobile-6;
	@include breakpoint(m) {
		margin: 0 0 $spacing-desktop-6;
	}
}

.wp-block-categories-list,
.wp-block-categories-list li,
.wp-block-latest-posts,
.wp-block-latest-posts li {
	margin: 0;
	padding: 0;
	text-align: left;
}

.entry-content .wp-block-categories-list li a,
.entry-content .wp-block-latest-posts li a {
	border: none;
}

/* Preformatted */
.wp-block-preformatted {
	background-color: $color__code_two;
	max-width: 100%;
	overflow: auto;
	padding: $spacing-mobile-4;
	margin-bottom: $spacing-mobile-4;
	@include border-radius-l;
	@include font-code;
	color: $color__code_one;
	@include breakpoint(m) {
		padding: $spacing-desktop-4;
		margin-bottom: $spacing-desktop-4;
	}
}

/* Custom Color Palette */
.entry-content {

	.has-primary-one-color {
		color: $color__primary_one;
		fill: $color__primary_one;
	}

	p.has-primary-one-color a {
		box-shadow: inset 0 -0.06em 0 $color__primary_one;
		box-shadow: inset 0 -0.07em 0 $color__primary_one;
	}

	.has-primary-one-background-color {
		background: $color__primary_one;
	}

	.has-primary-two-color {
		color: $color__primary_two;
		fill: $color__primary_two;
	}

	.has-primary-two-background-color {
		background: $color__primary_two;
	}

	.has-secondary-one-color {
		color: $color__secondary_one;
		fill: $color__secondary_one;
	}

	p.has-secondary-one-color a {
		box-shadow: inset 0 -0.06em 0 $color__secondary_one;
		box-shadow: inset 0 -0.07em 0 $color__secondary_one;
	}

	.has-secondary-one-color {
		background: $color__secondary_one;
	}

	.has-text-one-color {
		color: $color__text_one;
		fill: $color__text_one;
	}

	.has-text-one-background-color {
		background: $color__text_one;
	}

	.has-text-two-color {
		color: $color__text_two;
		fill: $color__text_two;
	}

	.has-text-two-background-color {
		background: $color__text_two;
	}

	.has-text-three-color {
		color: $color__text_three;
		fill: $color__text_three;
	}

	p.has-text-three-color a {
		box-shadow: inset 0 -0.06em 0 $color__text_three;
		box-shadow: inset 0 -0.07em 0 $color__text_three;
	}

	.has-text-three-background-color {
		background: $color__text_three;
	}

	.has-border-color {
		color: $color__border;
		fill: $color__border;
	}

	.has-border-background-color {
		background: $color__border;
	}

	.has-background-color {
		color: $color__background;
		fill: $color__background;
	}

	.has-background-background-color {
		background: $color__background;
	}

	.has-notification-color {
		color: $color__notification;
		fill: $color__notification;
	}

	p.has-notification-color a {
		box-shadow: inset 0 -0.06em 0 $color__notification;
		box-shadow: inset 0 -0.07em 0 $color__notification;
	}

	.has-notification-background-color {
		background: $color__notification;
	}

	.has-error-color,
	.has-error-color a {
		color: $color__error;
		fill: $color__error;
	}

	p.has-error-color a {
		box-shadow: inset 0 -0.06em 0 $color__error;
		box-shadow: inset 0 -0.07em 0 $color__error;
	}

	.has-error-background-color,
	.has-error-background-color:hover {
		background: $color__error;
	}

	.has-success-color {
		color: $color__success;
		fill: $color__success;
	}

	p.has-success-color a {
		box-shadow: inset 0 -0.06em 0 $color__success;
		box-shadow: inset 0 -0.07em 0 $color__success;
	}

	.has-success-background-color {
		background: $color__success;
	}

	.has-white-color {
		color: $color__white;
		fill: $color__white;
	}

	.has-white-background-color {
		background: $color__white;
	}

	.has-black-color {
		color: $color__black;
		fill: $color__black;
	}

	.has-black-background-color {
		background: $color__black;
	}
}
