/* Blog Posts */
.entry-link {
	display: block;
	padding-bottom: $spacing-mobile-4;
	@include breakpoint(m) {
		padding-bottom: $spacing-desktop-4;
	}
	.blog-2-column & {
		@include breakpoint(l) {
			padding-bottom: $spacing-desktop-7;
		}
	}
}

.posts-container .hentry {
	margin-bottom: $spacing-mobile-6;
	@include breakpoint(m) {
		margin-bottom: $spacing-desktop-6;
	}
}

.entry-content,
.entry-summary,
.page-content {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0;
}

/* Blog Cards - Height Alignment */
.posts-container {
	align-items: stretch;
}

.posts-container .hentry {
	position: relative;
	@include flexbox;
	align-items: stretch;
}

.posts-container .hentry .entry-link {
	@include flexbox;
	flex-direction: column;
	width: 100%;
	align-content: stretch;
}

.posts-container .hentry .entry-link .post-thumb {
	flex-shrink: 0;
}

.posts-container .hentry .entry-summary {
	margin-bottom: auto;
}

.posts-container .hentry .entry-footer {
	margin-top: auto;
	@include flexbox;
	align-items: flex-start;
}

.blogcards-flexstart .posts-container .hentry {
	align-items: flex-start;
}

.content-container {
	display: block;
}

/* Blog Cards - 1 Columns */
.blog.blog-1-column,
.blog-archive.blog-1-column {
	@include breakpoint(l) {

		& .hentry .entry-link {
			display: block;
			padding-bottom: 0;
		}

		& .post-thumb {
			width: 56.666%;
			float: left;
		}

		& .hentry .entry-header {
			padding: $spacing-desktop-6 $spacing-desktop-6 0;
		}

		& .has-post-thumbnail .entry-header {
			float: left;
			width: 43.334%;
		}

		& .posts-container .hentry .entry-footer {
			margin: 0;
			padding: $spacing-2 $spacing-desktop-6 $spacing-desktop-6 $spacing-desktop-6;
		}

		& .posts-container .has-post-thumbnail .entry-footer {
			float: left;
			width: 43.334%;
		}
	}
}

/* Blog Cards - Border Radius */
.blogcards-radius-s {
	.entry-link,
	.sticky-container .post-thumb-img,
	.sticky-container .post-thumb-img img,
	.related-post a,
	.navigation .nav-thumb,
	.navigation .nav-thumb img {
		@include border-radius-s;
	}

	.entry-link .post-thumb img {
		border-radius: $border-radius-s $border-radius-s 0 0;
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {
		border-radius: $border-radius-s;
	}
}

.blog-1-column.blogcards-radius-s {

	.entry-link .post-thumb img {

		@include breakpoint(l) {
			border-radius: $border-radius-s 0 0 $border-radius-s;
		}
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {

		@include breakpoint(l) {
			border-radius: $border-radius-s;
		}
	}
}

.blogcards-radius-m {
	.entry-link,
	.sticky-container .post-thumb-img,
	.sticky-container .post-thumb-img img,
	.related-post a,
	.navigation .nav-thumb,
	.navigation .nav-thumb img {
		@include border-radius-m;
	}

	.entry-link .post-thumb img {
		border-radius: $border-radius-m $border-radius-m 0 0;
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {
		border-radius: $border-radius-m;
	}
}


.blog-1-column.blogcards-radius-m {

	.entry-link .post-thumb img {

		@include breakpoint(l) {
			border-radius: $border-radius-m 0 0 $border-radius-m;
		}
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {

		@include breakpoint(l) {
			border-radius: $border-radius-m;
		}
	}
}

.blogcards-radius-l {
	.entry-link,
	.sticky-container .post-thumb-img,
	.sticky-container .post-thumb-img img,
	.related-post a,
	.navigation .nav-thumb,
	.navigation .nav-thumb img {
		@include border-radius-l;
	}

	.entry-link .post-thumb img {
		border-radius: $border-radius-l $border-radius-l 0 0;
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {
		border-radius: $border-radius-l;
	}
}

.blog-1-column.blogcards-radius-l {

	.entry-link .post-thumb img {

		@include breakpoint(l) {
			border-radius: $border-radius-l 0 0 $border-radius-l;
		}
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {

		@include breakpoint(l) {
			border-radius: $border-radius-l;
		}
	}
}

/* Blog Cards - Shadows */
.blogcards-shadow-a .entry-link,
.blogcards-shadowhover-a .entry-link:hover,
.blogcards-shadow-a .related-img,
.blogcards-shadowhover-a .related-img:hover,
.single-post.blogcards-shadow-a .navigation .nav-thumb,
.single-post.blogcards-shadowhover-a .navigation .nav-thumb:hover {
	@include shadow-3;
}

.blogcards-shadow-b .entry-link,
.blogcards-shadowhover-b .entry-link:hover,
.blogcards-shadow-b .related-img,
.blogcards-shadowhover-b .related-img:hover,
.single-post.blogcards-shadow-b .navigation .nav-thumb,
.single-post.blogcards-shadowhover-b .navigation .nav-thumb:hover {
	@include shadow-4;
}

/* Blog Card - Animations */
.entry-link,
.entry-link img {
	background-color: transparent;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.cardhover-zoom .entry-link:hover,
.cardhover-zoom .entry-link:hover + .post-edit-link,
.cardhover-zoom .post-thumb-img:hover + .post-edit-link,
.cardhover-zoom .related-img:hover,
.cardhover-zoom .navigation .nav-thumb:hover {
	-webkit-transform: perspective(1200) translateZ(30px);
	transform: perspective(1200) translateZ(30px);
}

.cardhover-moveup .entry-link:hover,
.cardhover-moveup .entry-link:hover + .post-edit-link,
.cardhover-moveup .post-thumb-img:hover + .post-edit-link,
.cardhover-moveup .related-img:hover,
.single-post.cardhover-moveup .navigation .nav-thumb:hover {
	-webkit-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
}


/* Blog Cards - Featured Images */
.hentry .post-thumb a {
	display: inline-block;
	line-height: 0;
}

.related-post img,
.nav-links .nav-thumb img {

	@include transition-posthover;
}

.entry-link:hover img,
.related-post a:hover img,
.nav-links .nav-thumb:hover img {

	@include img-bright;
}

/* Blog Cards - Entry Header */
.blog .hentry .entry-header,
.blog-archive .hentry .entry-header {
	padding: $spacing-mobile-4 $spacing-mobile-4 0;

	@include breakpoint(m) {
		padding: $spacing-desktop-4 $spacing-desktop-4 0;
	}
}

.blog.blog-2-column .hentry .entry-header,
.blog-archive.blog-2-column .hentry .entry-header {

	@include breakpoint(l) {
		padding: $spacing-desktop-7 $spacing-desktop-7 0;
	}
}

.hentry .entry-summary {
	padding: $spacing-1 0 0;
}

/* Blog Cards - Entry Meta Elements */
.byline,
.updated:not(.published) {
	display: none;
}

.group-blog .byline {
	display: block;
	@include breakpoint(m) {
		display: inline-block;
		padding: 0 $spacing-3 0 0;
	}
}

/* Blog Cards - Entry Footer */
.posts-container .hentry .entry-footer {
	margin-left: $spacing-mobile-4;
	margin-right: $spacing-mobile-4;
	padding-top: $spacing-2;
	@include breakpoint(m) {
		margin-left: $spacing-desktop-4;
		margin-right: $spacing-desktop-4;
	}

	.blog.blog-2-column &,
	.blog-archive.blog-2-column & {
		@include breakpoint(l) {
			margin-left: $spacing-desktop-7;
			margin-right: $spacing-desktop-7;
		}
	}
}

.no-postcats .posts-container .hentry .entry-footer {
	padding-top: 28px;
	@include breakpoint(m) {
		padding-top: 37px;
	}
}

.no-postcats.no-postdate.no-postcommentscount .posts-container .hentry .entry-footer {
	padding-top: 0;
	@include breakpoint(m) {
		padding-top: 0;
	}
}

.entry-meta .entry-cats,
.entry-meta .author-name {
	display: block;
	font-weight: bold;
}

.entry-footer .entry-author-pic,
.entry-footer .entry-author-pic img {
	width: $spacing-desktop-7;
	height: $spacing-desktop-7;
}

.entry-link {

	.entry-comments,
	.posted-on,
	.reading-time {
		color: $color__text_three;
	}
}

.entry-link:hover .entry-comments,
.entry-link:hover .posted-on {
	display: inline;
}

.sticky .author:after,
.nav-links .entry-cats span:after,
.logged-in .comment-metadata .edit-link:before,
.comment-metadata .reply:before {
	content: "\002C"; // Comma
}

.entry-footer .entry-comments:before,
.reading-time:before,
.single-post .entry-comments:before {
	content: '\00B7'; // Middle Dot
	font-size: 16px;
	padding-left: 2px;
	padding-right: 2px;
}

.single-post .entry-comments:before,
.reading-time:before {
	padding-right: 4px;
}

.no-postcommentscount .posted-on:after {
	content: "";
}

.divider {
	display: block;
	height: $spacing-desktop-5;
}

/* Blog Cards - Hide Elements */
.blogcard-avatar-hide .entry-footer .author-avatar,
.no-postauthor .author,
.no-postauthor .byline,
.no-postauthor .author-avatar,
.no-postauthor .entry-footer .entry-meta .author-name,
.no-postcats .entry-cats,
.blog.no-postdate .entry-date,
.blog.no-postdate .posted-on,
.blog-archive.no-postdate .entry-date,
.blog-archive.no-postdate .posted-on,
.blog.no-postcommentscount .entry-comments,
.blog-archive.no-postcommentscount .entry-comments,
.no-postdate-single .entry-date,
.no-postdate-single .posted-on,
.blog.no-postreadtime .reading-time,
.blog-archive.no-postreadtime .reading-time,
.no-postreadtime-single .reading-time,
.no-posttags .entry-tags,
.single-post.no-postauthor .author-avatar,
.single-post.no-postcommentscount-single .entry-comments,
.blog.no-postdate .entry-comments:before,
.blog-archive.no-postdate .entry-comments:before,
.no-postdate-single .entry-comments:before,
.no-postdate.no-postcommentscount .reading-time:before {
	display: none;
}

/* Blog Archives */
.blog-archive .page-header {
	padding-bottom: $spacing-mobile-9;
	@include breakpoint(m) {
		padding-bottom: $spacing-desktop-9;
	}

	.page-title {
		margin: 0;
	}

	.page-title span {
		display: block;
		@include font-body2;
		font-weight: normal;
		color: $color__text_three;
	}
}

.archive .page-header .page-title span:after {
	content: '\003A';
}

.archive.author .authorbox-wrap {
	border-top: none;
	padding: 0;
}

.archive.author .page-header .page-title {
	display: none;
}
