.site-header {

	padding: $spacing-3 0;

	@include breakpoint(m) {
		padding: $spacing-3 0;
	}

	.admin-bar & {
		top: 32px;
		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}
}

/* Site Title, Logo and Tagline */
.site-branding {

	@include flexbox;
	align-items: center;
	margin: 0 auto 0 0;
	padding-right: $spacing-desktop-4;
	min-height: $spacing-mobile-5;

	h1.site-title,
	.site-title,
	.site-logo {
		display: block;
		margin: 0;
	}

	.site-description {
		display: none;
		height: $spacing-desktop-4;
		margin: 0;
		padding: 0 0 0 $spacing-2;
		@include font-body5;
		color: $color__text_two;

		@include breakpoint(m) {
			@include flexbox;
			@include flex-center;
		}

		&:before {
			content: "";
			display: block;
			width: 1px;
			background-color: $color__border;
			height: $spacing-3;
			margin-right: $spacing-2;
		}

		.tagline-hide & {
			display: none;
		}
	}

	.custom-logo-link {
		display: block;
		padding: 0 $spacing-xs 0 0;
		max-height: $spacing-mobile-5;

		img {
			width: auto !important;
			height: $spacing-mobile-5;
		}

		@include breakpoint(l) {
			max-height: 100%;

			img {
				width: auto !important;
				height: auto;
			}
		}
	}
}

/* Header Search Form */
.search-header {
	position: relative;
	margin: $spacing-2 0;
	padding: 0;

	@include breakpoint(l) {
		margin: 0 0 0 $spacing-desktop-4;
		padding: 0;
	}

	.header-search-hide &,
	.search-submit {
		display: none;
	}

	label {
		cursor: pointer;
		padding: 0;
		color: $color__text_two;
	}

	.search-form {
		position: relative;
	}

	.search-field {
		background: transparent;
		@include flexbox;
		align-items: center;
		max-width: 100%;
		height: $spacing-desktop-5;
		padding: 0 0 0 $spacing-desktop-5;
		vertical-align: middle;
		border: 1px solid $color__border;
		@include font-body3;
	}
}

/* Header Social Menu */
.social-header-nav {
	display: none;
	margin: 0;
	padding: $spacing-mobile-5 0;

	@include breakpoint(l) {
		display: block;
		padding: 0;
	}

	ul li a {
		padding: 0 $spacing-3 0 0;
	}

	.has-nav-main & {
		margin-top: $spacing-mobile-5;

		@include breakpoint(l) {
			margin-top: 0;
			padding-left: $spacing-desktop-4;
		}
	}
}

.social-links-menu {
	@include flexbox;
	flex-wrap: wrap;
	align-items: center;
}

.menu-social-container ul,
.social-nav ul {
	margin: 0;
	padding: 0;

}

.social-links-menu li {
	padding-right: 12px;

	&:last-child {
		padding-right: 0;
	}
}

.menu-social-container ul li a {
	display: block;
	width: $spacing-desktop-5;
	height: $spacing-desktop-5;
	line-height: 1;
	margin: 0;
	overflow: hidden;
}

/* Header CTA Buttons */
.header-cta-wrap {
	display: none;
	position: relative;
	padding: 0;

	@include breakpoint(l) {
		display: block;
	}

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		@include flexbox;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		flex-direction: column;
		@include breakpoint(l) {
			flex-direction: row;
		}
	}

	ul li {
		width: 100%;
		list-style: none;
		padding: 0 0 8px;
		text-align: center;

		&:last-child {
			padding: 0;
		}

		@include breakpoint(xs) {
			width: auto;
		}
		@include breakpoint(l) {
			padding: 0 $spacing-2 0 0;
		}
	}

	.has-nav-main &,
	.has-nav-social & {
		@include breakpoint(l) {
			padding: 0 0 0 $spacing-desktop-4;
		}
	}

	.has-nav-social & {
		padding-top: $spacing-mobile-5;

		@include breakpoint(l) {
			padding-top: 0;
		}
	}
}

/* -------------------------------------------------------------------------- */
/*	Site Header
/* -------------------------------------------------------------------------- */
.site-header {
	position: relative;
}

.header-inner {
	padding-left: $spacing-3;
	padding-right: $spacing-3;

	@include breakpoint(xs) {
		padding-left: $spacing-mobile-9;
		padding-right: $spacing-mobile-9;
	}

	@include breakpoint(l) {
		@include flexbox;
		align-items: center;
		justify-content: flex-end;
	}
}

/* Header Navigation ------------------------- */
.header-navigation-wrapper {
	display: none;
}

/* Header Toggles ---------------------------- */
.header-toggles {
	display: none;
}

.header-inner .toggle {
	align-items: center;
	display: flex;
	overflow: visible;
}

.header-inner .toggle svg {
	display: block;
	position: relative;
	z-index: 1;
}

.header-inner .toggle path {
	fill: currentColor;
}

.toggle-inner {
	display: flex;
	justify-content: center;
	position: relative;
}

.toggle-inner .toggle-text {
	display: none;
}

.overlay-header .toggle-text {
	color: inherit;
}

.toggle:hover {
	background-color: transparent;
	@include shadow-none;
}

/* Navigation Toggle ------------------------- */
.toggle {
	background: transparent;
}
.nav-toggle {
	position: absolute;
	bottom: 0;
	top: $spacing-3;
	right: $spacing-3;
	padding: $spacing-xxs;
	border-radius: 0;
	color: $color__text_one;
	width: $spacing-mobile-5;
	height: $spacing-mobile-5;

	@include breakpoint(xs) {
		right: $spacing-mobile-9;
	}

}

button.close-nav-toggle {
	padding: $spacing-3;
	border-radius: 0;
	color: $color__text_one;
	align-items: center;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 80px;
	border-radius: 0;
}

/* Primary Menu ---------------------------- */
.primary-menu-wrapper {
	display: none;
}

ul.primary-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
}

.primary-menu .icon {
	display: block;
	height: 12px;
	position: absolute;
	pointer-events: none;
	width: 12px;
	transform: rotate(-45deg);
}

.primary-menu .icon::before,
.primary-menu .icon::after {
	content: "";
	display: block;
	background-color: $color__text_one;
	position: absolute;
	bottom: calc(50% - 2px);
	left: 0;
}

.primary-menu .icon::before {
	height: 2px;
	width: 8px;
}

.primary-menu .icon::after {
	height: 8px;
	width: 2px;
}

.primary-menu li {
	font-size: inherit;
	position: relative;
}

.primary-menu > li {
	margin: 0 $spacing-desktop-4 0 0;
}

.primary-menu > li:last-child {
	margin-right: 0;
}

.primary-menu > li.menu-item-has-children > a {
	padding-right: $spacing-3;
}

.primary-menu > li > .icon {
	right: $spacing-xxs;
	top: $spacing-xs;
}

.primary-menu a {
	color: $color__text_one;
	display: block;
	text-decoration: none;
	padding-top: $spacing-xxs;
	padding-bottom: $spacing-xxs;
}

.primary-menu ul {
	@include shadow-5;
	@include font-body4;
	background: $color__white;
	color: $color__text_one;
	padding: $spacing-3;
	position: absolute;
	opacity: 1;
	right: 0;
	top: calc(100% + 10px);
	transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
	transform: translateY(0.6rem);
	width: 264px;
	z-index: 10;
	margin: 0;

	.btn-curved & {
		border-radius: $border-radius-s;
	}

	.btn-round & {
		border-radius: $border-radius-m;
	}
}

.primary-menu ul ul {
	opacity: 0;
}

.primary-menu ul::before {
    height: 10px;
    left: 0;
    right: 0;
}

.primary-menu ul::before,
.primary-menu ul::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 100%;
}

.primary-menu li.menu-item-has-children:hover > ul,
.primary-menu li.menu-item-has-children:focus > ul,
.primary-menu li.menu-item-has-children.focus > ul {
	right: 0;
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.15s linear, transform 0.15s linear;
}

.primary-menu ul a {
	background: transparent;
	border: none;
	color: inherit;
	display: block;
	transition: background-color 0.15s linear;
	width: 100%;
}

.primary-menu ul li {
	margin-bottom: $spacing-xs;
}

.primary-menu ul li:last-child {
	margin-bottom: 0;
}

.primary-menu ul li.menu-item-has-children > a {
	padding-right: 0;
	background: red;
}

.primary-menu ul li.menu-item-has-children .icon {
	position: absolute;
	right: 0;
	top: calc(50% - 0.5rem);
}

.primary-menu ul ul {
	top: -1rem;
}

.primary-menu ul li.menu-item-has-children:hover > ul,
.primary-menu ul li.menu-item-has-children:focus > ul,
.primary-menu ul li.menu-item-has-children.focus > ul {
	right: calc(100% + 2rem);
}

.primary-menu ul ul::before {
	bottom: 0;
	height: auto;
	left: auto;
	right: -2rem;
	top: 0;
	width: 2rem;
}

/* -------------------------------------------------------------------------- */

/*	Menu Modal
/* -------------------------------------------------------------------------- */
.menu-modal {
	background: $color__white;
	display: none;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	left: -99999rem;
	right: 99999rem;
	top: 0;
	transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
	z-index: 99;
}

.admin-bar .menu-modal {
	top: 32px;
}

@media (max-width: 782px) {

	.admin-bar .menu-modal {
		top: 46px;
	}
}

.menu-modal.show-modal {
	display: flex;
}

.menu-modal.active {
	left: 0;
	opacity: 1;
	right: 0;
	transition: opacity 0.25s ease-out;
}

.menu-modal-inner {
	background: $color__white;
	display: flex;
	justify-content: stretch;
	overflow: auto;
	-ms-overflow-style: auto;
	width: 100%;
}

.menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.menu-modal .menu-top {
	flex-shrink: 0;
}

.header-inner .toggle-text {
	display: none;
}

/* Primary Menu --------------------------------- */
.modal-menu {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
}

.modal-menu li {
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
	justify-content: flex-start;
	border-left-width: 48px;
	border-right-width: 24px;
	border-color: transparent;
}

.modal-menu > li:last-child {
	border-bottom-width: 0.1rem;
}

.modal-menu .ancestor-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.modal-menu a {
	display: block;
	padding: 20px 0;
	text-decoration: none;
	width: 100%;
}

.modal-menu a:focus,
.modal-menu a:hover,
.modal-menu li.current-menu-item > .ancestor-wrapper > a,
.modal-menu li.current_page_ancestor > .ancestor-wrapper > a,
button.sub-menu-toggle:hover,
button.sub-menu-toggle:focus {
	color: $color__primary;
}

button.sub-menu-toggle {
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	width: $spacing-desktop-7;
	height: $spacing-desktop-7;
	color: $color__text_one;
	border-radius: 0;
}

button.sub-menu-toggle svg {
	transform: rotate(90deg);
}

button.sub-menu-toggle.active svg {
	transform: rotate(270deg);
}

.modal-menu ul {
	display: none;
	margin: 0;
	width: 100%;
}

.modal-menu ul li {
	border-left-width: 24px;
	border-color: transparent;
}

.modal-menu ul li a {
	color: inherit;
}

.menu-wrapper .menu-item {
	position: relative;
}

.menu-wrapper .active {
	display: block;
}

.menu-wrapper.is-toggling {
	pointer-events: none;
}

.menu-wrapper.is-toggling .menu-item {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
}

.menu-wrapper.is-toggling .menu-bottom .social-menu .menu-item {
	width: auto;
}

.menu-wrapper.is-animating .menu-item,
.menu-wrapper.is-animating .toggling-target {
	transition-duration: 250ms;
}

.menu-wrapper.is-animating .menu-item {
	transition-property: transform;
}

.menu-wrapper.is-toggling .toggling-target {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
}

.menu-wrapper.is-toggling .toggling-target.active {
	opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target {
	display: block;
	transition-property: opacity;
	opacity: 0;
}

.menu-wrapper.is-animating.is-toggling .toggling-target.active {
	opacity: 1;
}

.menu-wrapper.is-toggling .modal-menu > li:last-child li {
	border-top-color: transparent;
	border-bottom-width: 0.1rem;
}

@media (prefers-reduced-motion: reduce) {

	.menu-wrapper.is-animating .menu-item,
	.menu-wrapper.is-animating .toggling-target {
		transition-duration: 1ms !important;
	}

}

@include breakpoint(l) {

	.header-navigation-wrapper {
		align-items: center;
		display: flex;
	}

	.primary-menu-wrapper {
		display: block;
		width: 100%;
	}

	.mobile-nav-toggle {
		display: none !important;
	}

	.primary-menu-wrapper + .header-toggles {
		margin-left: 3rem;
	}

	.header-toggles {
		display: flex;
		flex-shrink: 0;
		margin-right: -3rem;
	}

	.header-inner .toggle {
		padding: 0;
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		top: auto;
		width: auto;
	}

	.header-inner .toggle-wrapper {
		position: relative;
	}

	.nav-toggle-wrapper:not(.has-expanded-menu) {
		display: none;
	}

	.toggle-inner {
		position: static;
	}

	.header-toggles:only-child .nav-toggle .toggle-inner {
		padding-top: 0;
	}

	.header-toggles:only-child .toggle-inner {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	/* Menu Modal ---------------------------- */
	.menu-modal {
		opacity: 1;
		justify-content: flex-end;
		padding: 0;
		transition: background-color 0.3s ease-in, left 0s 0.3s, right 0s 0.3s;
	}

	.menu-modal.cover-modal {
		background: rgba(0, 0, 0, 0);
	}

	.menu-modal.active {
		background: rgba(0, 0, 0, 0.2);
		transition: background-color 0.3s ease-out;
	}

	.menu-wrapper.section-inner {
		width: calc(100% - 8rem);
	}

	.menu-modal-inner {
		box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
		opacity: 0;
		padding: 0;
		transform: translateX(20rem);
		transition: transform 0.2s ease-in, opacity 0.2s ease-in;
		width: 50rem;
	}

	.menu-modal.active .menu-modal-inner {
		opacity: 1;
		transform: translateX(0);
		transition-timing-function: ease-out;
	}

	.mobile-menu {
		display: none;
	}

	.expanded-menu {
		display: block;
	}

	.menu-bottom {
		padding: 0;
	}

	.menu-bottom .social-menu {
		justify-content: flex-start;
	}
}

/* Light Header Style ---------------------------- */
.header-light {

	.nav-toggle .icon-more_horiz-24px {
		color: $color__white;
	}

	@include breakpoint(m) {

		.site-title a,
		.site-branding .site-description,
		.primary-menu a,
		.btn-outline a,
		.btn-naked a,
		.site-header .menu-social-container .icon {
			color: $color__white;
			fill: $color__white;

			&:hover,
			&:focus {
				color: rgba(255, 255, 255, 0.6);
				fill: rgba(255, 255, 255, 0.6);
			}
		}

		.header-inner .toggle .icon {
			fill: $color__white;
		}

		.primary-menu .icon::before,
		.primary-menu .icon::after,
		.btn-primary a {
			background-color: $color__white;

			&:hover {
				background-color: rgba(255, 255, 255, 0.6);
			}
		}

		.primary-menu a:hover + .icon::before,
		.primary-menu a:hover + .icon::after {
			background-color: rgba(255, 255, 255, 0.6);
		}

		.primary-menu .sub-menu a,
		.btn-primary a {
			color: $color__text_one;
		}

		.primary-menu .sub-menu a:hover + .icon::before,
		.primary-menu .sub-menu a:hover + .icon::after {
			background-color: $color__primary;
		}

		.btn-outline a {
			border-color: $color__white;

			&:hover {
				border-color: rgba(255, 255, 255, 0.6);
			}
		}
	}
}
