.site-header {

	padding: $spacing-3 $spacing-3 0;

	@include breakpoint(l) {
		width: 100%;
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
		transition: -webkit-transform 0.35s;
		transition: transform 0.35s;
		transition: transform 0.35s,-webkit-transform 0.35s;
	}

	@include breakpoint(m) {
		padding: $spacing-3 $spacing-desktop-6;
	}

	@include breakpoint(l) {
		display: -webkit-box;
		display: -ms-flexbox;
		@include flexbox;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		justify-content: flex-start;
	}

	.header-border-hide & {
		border-bottom: none;
		background-color: $color__white;
	}

	.admin-bar & {
		top: 32px;
		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}
}

/* Sticky Header on Scroll Up */
/* For the moment only on desktop - breakpoint L */

.site-header.header-up {

	@include breakpoint(l) {

		-webkit-transform: translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0);

		.mobilemenu-active & {
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);

			@include breakpoint(m) {
				-webkit-transform: translate3d(0,-100%,0);
				transform: translate3d(0,-100%,0);
			}
		}

		.admin-bar & {
			@media screen and (max-width: 782px) {
				-webkit-transform: translate3d(0,-110px,0);
				transform: translate3d(0,-110px,0);
			}
			-webkit-transform: translate3d(0,-96px,0);
			transform: translate3d(0,-96px,0);
			@include breakpoint(m) {
				-webkit-transform: translate3d(0,-120px,0);
				transform: translate3d(0,-120px,0);
			}
		}

		&:-ms-fullscreen,
		&:root {
			visibility: hidden;
		}
	}
}


/* Site Title, Custom Logo and Tagline */
.site-branding {
	@include flexbox;
	align-items: center;
	margin: 0 $spacing-desktop-4 0 0;
	min-height: $spacing-desktop-5;

	h1.site-title,
	p.site-title {
		display: block;
		margin: 0;
	}

	.site-description {
		display: none;
		height: $spacing-desktop-4;
		margin: 0 0 0 $spacing-2;
		padding: 0 $spacing-s;
		@include font-body4;
		color: $color__text_three;
		background: $color__background;
		border-radius: $border-radius-xl;
		@include breakpoint(m) {
			@include flexbox;
			@include flex-center;
		}
	}

	.custom-logo-link {
		display: block;
		padding: 0 $spacing-s 0 0;

		img {
			max-width: 40px;
		}
	}
}

/* Search Form */
.search-header {
	position: relative;
	margin: 0 0 $spacing-desktop-4;
	padding: 0 0 $spacing-desktop-4;
	@include breakpoint(l) {
		margin: 0 $spacing-desktop-4 0 0;
		padding: 0 $spacing-desktop-4 0 0;
	}

	.header-dividers-hide & {
		margin: 0;
	}

	.header-search-hide &,
	.search-submit {
		display: none;
	}

	label {
		cursor: pointer;
		padding: 0;
	}

	.search-form {
		position: relative;
	}

	.search-field {
		background: transparent;
		@include flexbox;
		align-items: center;
		max-width: 100%;
		height: $spacing-desktop-7;
		padding: 0 0 0 $spacing-desktop-7;
		vertical-align: middle;
		border: 1px solid $color__border;
		@include font-body3;
		@include border-radius-s;

		@include breakpoint(m) {
			height: $spacing-desktop-5;
			padding: 0 0 0 $spacing-desktop-5;
		}
	}
}

/* Social Header Menu */
.social-header-nav {
	display: none;
	margin: 0;
	padding: $spacing-mobile-5 0;
	@include breakpoint(l) {
		padding: 0;
	}

	ul li a {
		padding: 0 $spacing-3 0 0;
	}

	.header-dividers-hide & {
		padding: $spacing-mobile-5 0 0;
		@include breakpoint(l) {
			padding: 0;
		}
	}

	.has-nav-main & {
		margin-top: $spacing-mobile-5;
		border-top: 1px solid $color__border;
		@include breakpoint(l) {
			margin: 0 0 0 $spacing-desktop-4;
			padding-left: $spacing-desktop-4;
			border-top: none;
			border-left: 1px solid $color__border;
		}
	}

	.has-nav-main.header-dividers-hide & {
		border: none;
		margin: 0;
	}

}

.social-links-menu {
	@include flexbox;
	flex-wrap: wrap;
	align-items: center;
}

.menu-social-container ul,
.social-nav ul {
	margin: 0;
	padding: 0;

	li {
		padding-right: $spacing-2;
	}

	li:last-child {
		padding-right: 0;
	}
}

.menu-social-container ul li a {
	display: block;
	width: $spacing-3;
	height: $spacing-3;
	line-height: 1;
	margin: 0;
	overflow: hidden;
}

/* Header CTA Buttons */
.header-cta-wrap {
	position: relative;
	padding: 0;

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		@include flexbox;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		flex-direction: column;
		@include breakpoint(l) {
			flex-direction: row;
		}
	}

	ul li {
		width: 100%;
		list-style: none;
		padding: 0 0 8px;
		text-align: center;

		&:last-child {
			padding: 0;
		}

		@include breakpoint(xs) {
			width: auto;
		}
		@include breakpoint(l) {
			padding: 0 $spacing-desktop-2 0 0;
		}
	}

	.has-nav-main &,
	.has-nav-social & {
		@include breakpoint(l) {
			margin: 0 0 0 $spacing-desktop-4;
			padding: 0 0 0 $spacing-desktop-4;
		}
	}

	.has-nav-main.header-dividers-hide &,
	.has-nav-social.header-dividers-hide & {
		@include breakpoint(l) {
			margin: 0;
		}
	}

	.has-nav-social & {
		padding-top: $spacing-mobile-5;

		@include breakpoint(l) {
			padding-top: 0;
		}
	}
}

.has-nav-main .header-cta-wrap:after,
.has-nav-social .header-cta-wrap:after,
.search-header:after {
	content: "";
    display: block;
	width: 100%;
	height: 1px;
    background-color: $color__border;
	position: absolute;
	bottom: 0;

	@include breakpoint(l) {
		width: 1px;
		height: $spacing-3;
		top: $spacing-1;
	}
}

.search-header:after,
.header-cta-wrap:after {

	.header-dividers-hide & {
		display: none;
	}
}

.has-nav-social .header-cta-wrap:after {
	top: 0;
	@include breakpoint(l) {
		top: $spacing-1;
	}
}

.has-nav-main .header-cta-wrap:after,
.has-nav-social .header-cta-wrap:after {
	left: 0;
}

.search-header:after {
	right: 0;
}

/* TEMPORARY */

/* Main Menu - Mobile */
.nav-container {
	flex-grow: 2;
}

.nav-container .nav-wrap {

}

.main-navigation {

	display: block;
	margin-top: 0;

	body.page & {
		display: block;
	}

	> div {
		display: inline;
	}

	/* Un-style buttons */
	button {
		display: inline-block;
		border: none;
		padding: 0;
		margin: 0;
		text-decoration: none;
		background: transparent;
		color: inherit;
		cursor: pointer;
		transition:
			background 250ms ease-in-out,
			transform 150ms ease;
		-webkit-appearance: none;
		-moz-appearance: none;

		&:hover,
		&:focus {
			background: transparent;
		}

		&:focus {
			outline: 1px solid transparent;
			outline-offset: -4px;
		}

		&:active {
			transform: scale(0.99);
		}
	}

	.main-menu {

		display: block;
		margin: 0;
		padding: 0;
		height: 0;

		@include breakpoint(m) {
			display: inline-block;
		}

		> li {

			display: inline;
			position: relative;

			@include breakpoint(l) {
				padding-right: $spacing-desktop-4;
			}

			> a {

				margin-right:0;

				+ svg {
					margin-right: 0;
				}

				&:hover,
				&:hover + svg {

				}
			}

			&.menu-item-has-children {

				display: inline-block;
				position: inherit;

				@include breakpoint(m) {
					position: relative;
				}

				> a {
					margin-right: 0;
				}

				& > a,
				.menu-item-has-children > a {

					&:after {
						content: "";
						display: none;
					}
				}

				.submenu-expand {

					display: inline-block;
					margin-right: 0;

					@include breakpoint(l) {
						display: none;
					}

					/* Priority+ Menu */
					&.main-menu-more-toggle {

						position: absolute;
						top: $spacing-3;
						right: $spacing-3;
						height: $spacing-desktop-5;
						width: $spacing-desktop-5;
						padding: 0;
						margin-left: 0;
						background: red;
						border-radius: 0;

						svg {
							display: inline-block;
							height: $spacing-3;
							width: $spacing-3;
							top: 0;
							vertical-align: text-bottom;
						}

						a .icon {
							display: none;
						}
					}

					.wp-customizer-unloading &,
					&.is-empty {
						display: none;
					}

					svg {
						position: relative;
						top: 0.2rem;
					}
				}
			}

			&:last-child > a,
			&:last-child.menu-item-has-children .submenu-expand {
				margin-right: 0;
			}
		}
	}

	.sub-menu {

		background-color: lightblue;
		color: white;
		list-style: none;
		padding-left: 0;

		position: absolute;
		opacity: 0;
		left: -9999px;
		z-index: 99999;

		@include breakpoint(m) {
			width: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
		}

		> li {
			display: block;
			float: none;
			position: relative;
			margin-bottom: $spacing-2;
			padding: 0 $spacing-3;

			&.menu-item-has-children {

				.submenu-expand {
					display: inline-block;
					position: absolute;
					width: 24px;
					right: 24px;
					top: 0;
					bottom: 0;
					color: $color__white;
					line-height: 1;
					padding:0;

					svg {
						top: 0;
						transform        : rotate(-90deg);
						-webkit-transform: rotate(-90deg);
						-ms-transform    : rotate(-90deg);
					}
				}

				.submenu-expand {
					margin-right: 0;
				}

				@include breakpoint(m) {

					.menu-item-has-children > a {

						&:after {
							content: "\203a";
						}
					}
				}
			}

			> a {
				padding: 16px 0;
			}

			> a,
			> .menu-item-link-return {

				color: $color__text_one;
				display: block;
				text-shadow: none;
				white-space: nowrap;

				&:hover,
				&:focus {


					&:after {

					}
				}
			}

			> .menu-item-link-return {
				width: 100%;
				font-weight: normal;
				text-align: left;
				padding: 32px 0 16px;
			}

			> a:empty {
				display: none;
			}

			&.mobile-parent-nav-menu-item {

				display: none;
				border-bottom: solid 1px #c9ccdb;

				svg {
					position: relative;
					top: 0;
					margin-right: 0;
				}
			}
		}

		.sub-menu li.mobile-parent-nav-menu-item .menu-item-link-return {

			font-size: 32px;
			line-height: 1.25;
			font-weight: bold;
			padding: 88px 0 15px;

			svg {
				position: absolute;
				top: 32px;
				left: 24px;
			}
		}
	}

	/*
	 * Sub-menu styles
	 *
	 * :focus-within needs its own selector so other similar
	 * selectors don’t get ignored if a browser doesn’t recognize it
	 */
	.main-menu .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu {

		display: block;
		left: 0;
		margin-top: 0;
		opacity: 1;
		width: auto;
		min-width: 100%;


		/* Non-mobile position */
		@include breakpoint(m) {
			display: block;
			margin-top: 0;
			opacity: 1;
			position: absolute;
			left: 0;
			right: auto;
			top: auto;
			bottom: auto;
			height: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
			transform: none;
		}

		&.hidden-links {
			left: 0;
			width: 100%;
			display: table;
			position: absolute;

			@include breakpoint(m) {
				right: 0;
				left: auto;
				display: block;
				width: max-content;
			}
		}

		.submenu-expand {
			display: none;
		}

		.sub-menu {
			display: block;
			margin-top: inherit;
			position: relative;
			width: 100%;
			left: 0;
			opacity: 1;

			/* Non-mobile position */
			@include breakpoint(m) {
				float: none;
				max-width: 100%;
			}
		}

		/* Nested sub-menu dashes */
		.sub-menu {
			counter-reset: submenu;
		}

		.sub-menu > li > a::before {
			content: "\2013\00a0" counters(submenu, "\2013\00a0", none);
			counter-increment: submenu
		}
	}

	.main-menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu,
	.main-menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu,
	.main-menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu {

		display: block;
		left: 0;
		margin-top: 0;
		opacity: 1;
		width: auto;
		min-width: 100%;


		/* Non-mobile position */
		@include breakpoint(m) {
			display: block;
			float: none;
			margin-top: 0;
			opacity: 1;
			position: absolute;
			left: 0;
			right: auto;
			top: auto;
			bottom: auto;
			height: auto;
			min-width: -moz-max-content;
			min-width: -webkit-max-content;
			min-width: max-content;
			transform: none;
		}

		&.hidden-links {
			left: 0;
			width: 100%;
			display: table;
			position: absolute;

			@include breakpoint(m) {
				right: 0;
				left: auto;
				display: table;
				width: max-content;
			}
		}

		.submenu-expand {
			display: none;
		}

		.sub-menu {
			display: block;
			margin-top: inherit;
			position: relative;
			width: 100%;
			left: 0;
			opacity: 1;

			/* Non-mobile position */
			@include breakpoint(m) {
				float: none;
				max-width: 100%;
			}
		}

		/* Nested sub-menu dashes */
		.sub-menu {
			counter-reset: submenu;
		}

		.sub-menu > li > a::before {
			font-weight: normal;
			content: "\2013\00a0" counters(submenu, "\2013\00a0", none);
			counter-increment: submenu
		}
	}

	/**
	 * Fade-in animation for top-level submenus
	 */
	.main-menu > .menu-item-has-children:not(.off-canvas):hover > .sub-menu {
		animation: fade_in 0.1s forwards;
	}

	/**
	 * Off-canvas touch device styles
	 */
	.main-menu .menu-item-has-children.off-canvas .sub-menu {

		.submenu-expand .svg-icon {
			transform: rotate(270deg);
		}

		.sub-menu {
			opacity: 0;
			position: absolute;
			z-index: 0;
			transform: translateX(-100%);
		}

		li:hover,
		li:focus,
		li > a:hover,
		li > a:focus {
			background-color: transparent;
		}

		> li > a,
		> li > .menu-item-link-return {
			white-space: inherit;
		}

		&.expanded-true {

			display: table;
			margin-top: 0;
			margin-left: 0;
			opacity: 1;
			padding-left: 0;

			/* Mobile position */
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			position: fixed;
			z-index: 100000; /* Make sure appears above mobile admin bar */
			width: 100vw;
			height: 100vh;
			max-width: 100vw;
			transform: translateX(+100%);
			animation: slide_in_right 0.3s forwards;

			> .mobile-parent-nav-menu-item {
				display: block;
			}

			/* Prevent menu from being blocked by admin bar */
			.admin-bar & {
				top: 46px;
				height: calc( 100vh - 46px );

				.sub-menu.expanded-true {
					top: 0;
				}

				/* WP core breakpoint */
				@media only screen and ( min-width: 782px ) {
					top: 32px;
					height: calc( 100vh - 32px );

					.sub-menu.expanded-true {
						top: 0;
					}
				}
			}
		}
	}

	// Hide duplicate menu-more-link when re-loading a menu in the customizer
	.main-menu-more {
		&:nth-child(n+3) {
			display: none;
		}
	}

}

/* Menu animation */

@keyframes slide_in_right {
	100% {
		transform: translateX(0%);
	}
}

@keyframes fade_in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
