.entry-header {

	.entry-title {
		margin: 0;
	}

	.error-404 &,
	.search.search-no-results & {
		position: relative;
		margin: 0;
		padding: 0 0 $spacing-mobile-4;

		@include breakpoint(m) {
			margin: 0 $spacing-3 $spacing-desktop-8;
			padding: 0 0 $spacing-desktop-4;
		}
	}

	.archive .type-page &,
	.search-results .type-page & {
		padding-top: $spacing-mobile-4;
		padding-bottom: 0;

		@include breakpoint(m) {
			padding-top: $spacing-desktop-4;
			padding-bottom: 0;
		}
	}
}

.entry-footer {

	.archive .type-page &,
	.search-results .type-page & {
		display: none;
	}
}


/* Site Building Page */
.tpl-fullscreen {

	.type-page .entry-header {
		display: none;
	}

	.site-content {
		max-width: none;
		padding: 0;
	}

	.site-content .type-page {
		clear: both;
		overflow: hidden;
	}

	.site-content .entry-content {
		padding-top: 0;
		padding-bottom: 0;
		float: none;
	}
}

/* Fullwidth Page */
.tpl-fullwidth-notitle {

	.type-page .entry-header {
		display: none;
	}
}
