#page .alignleft {
	display: block;
	float: none;
	margin: 0 0 $spacing-mobile-5;
	@include breakpoint(xs) {
		display: inline;
		float: left;
		margin: $spacing-1 $spacing-desktop-4 $spacing-desktop-4 0;
	}
}

#page .alignright {
	display: block;
	float: none;
	margin: 0 0 $spacing-mobile-5;
	@include breakpoint(xs) {
		display: inline;
		float: right;
		margin: $spacing-1 0 $spacing-desktop-4 $spacing-desktop-4;
	}
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	margin-bottom: 0;
}
