body {

	/* Global Colors */


	--wp--custom--color--form-glow: var(--wp--custom--color--form-glow);
	--wp--custom--color--star-rating: var(--wp--custom--color--star-rating);
	--wp--custom--color--code-background: var(--wp--custom--color--code-background);
	--wp--custom--color--code-color: var(--wp--custom--color--code-color);
	--wp--custom--color--notification: var(--wp--custom--color--notification);
	--wp--custom--color--success: var(--wp--custom--color--success);
	--wp--custom--color--error: var(--wp--custom--color--error);
	--wp--custom--color--form-select-fill: var(--wp--custom--color--form-select-fill);
	--wp--custom--color--form-background: var(--wp--custom--color--form-background);
	--wp--custom--color--badge-background: var(--wp--custom--color--badge-background);
	--wp--custom--color--badge-color: var(--wp--custom--color--badge-color);
	--wp--custom--color--button-color-primary: var(--wp--custom--color--button-color-primary);
	--wp--custom--color--button-color-secondary: var(--wp--custom--color--button-color-secondary);
}
