.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Images */
.image-border img,
.img-border {
	border: 4px solid var(--wp--custom--color--border);
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img,
video {
	height: auto;
	max-width: 100%;
}

audio,
video {
	display: inline-block;
}

figure {
	margin: 0;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	font-size: var(--font-size--body-xs);
	@include s-r-7(margin-top);
	@include s-r-8(margin-bottom);
}

.wp-caption.alignleft {
	text-align: left;
}

.wp-caption.alignright {
	text-align: right;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery,
.entry-content .tiled-gallery {
	@include s-r-8(margin-bottom);
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 0;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}