/* Body Fonts */
body,
button,
input,
select,
table,
textarea,
.post-navigation .nav-title span,
.entry-content p.has-s-font-size,
.wp-block-calendar table {
	@include font-body;
	@include font-body-s;
	color: $color__text_two;
}

.posts-container .hentry .entry-footer,
.hentry .entry-summary,
.hentry .entry-header .entry-meta,
.single-post .navigation a span.nav-subtitle,
.entry-content p.has-extrasmall-font-size,
.entry-content p.has-xs-font-size,
.entry-content .sharedaddy h3.sd-title,
.widget ul li,
.site-info {
	@include font-body-xs;
}

.hentry .entry-summary {

	.blog-2-column & {
		@include breakpoint(md) {
			@include font-body-s;
		}
	}

	.blog-1-column & {
		@include breakpoint(sm) {
			@include font-body-m;
		}
	}
}

.entry-content p,
.hentry ol,
.hentry ul,
.single-post .entry-cats,
.page-header .description p,
.entry-content p.has-m-font-size {
	@include font-body-m;
}

.entry-content p.has-l-font-size,
.entry-content .intro {
	@include font-body-l;
}

.entry-content p.has-xl-font-size,
.footer-big .widget ul li,
.footer-big .site-info {
	@include font-body-xl;
}

.entry-content p.has-xxl-font-size {
	@include font-body-2xl;
}

.entry-content p.has-xxxl-font-size {
	@include font-body-3xl;
}

.entry-content p.has-xxxxl-font-size {
	@include font-body-4xl;
}

.comment-metadata,
.comment-notes,
.logged-in-as,
.entry-content p.has-xxs-font-size {
	@include font-body-2xs;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.site-title,
.post-navigation .nav-title {
	@include font-regular;
	color: $color__text_one;
	line-height: 1.1;
	@include hyphenation;
}

h1.site-title,
.site-title,
h2.entry-title {
	@include hyphenation;
}

.h-regular {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.site-title,
	&.single-post .byline,
	.post-navigation .nav-title {
		@include font-regular;
	}
}

.h-bold {

	:not(.entry-content)>h1,
	:not(.entry-content)>h2,
	:not(.entry-content)>h3,
	:not(.entry-content)>h4,
	:not(.entry-content)>h5,
	:not(.entry-content)>h6,
	.site-title,
	&.single-post .byline,
	.post-navigation .nav-title {
		@include font-bold;
	}
}

.post-navigation .nav-title span {
	@include font-regular;
}

h1.has-xxxxl-font-size {
	@include font-h-12;
}

h1.has-xxxl-font-size,
h2.has-xxxxl-font-size {
	@include font-h-11;
}

h1.has-xxl-font-size,
h2.has-xxxl-font-size,
h3.has-xxxxl-font-size {
	@include font-h-10;
}

h1.has-xl-font-size,
h2.has-xxl-font-size,
h3.has-xxxl-font-size,
h4.has-xxxxl-font-size {
	@include font-h-9;
}

h1.has-l-font-size,
h2.has-xl-font-size,
h3.has-xxl-font-size,
h4.has-xxxl-font-size,
h5.has-xxxxl-font-size {
	@include font-h-8;
}

h1.has-m-font-size,
h2.has-l-font-size,
h3.has-xl-font-size,
h4.has-xxl-font-size,
h5.has-xxxl-font-size,
h6.has-xxxxl-font-size {
	@include font-h-7;
}

h1,
h1.has-s-font-size,
h2.has-m-font-size,
h3.has-l-font-size,
h4.has-xl-font-size,
h5.has-xxl-font-size,
h6.has-xxxl-font-size {
	@include font-h-6;
}

h2,
h1.has-xs-font-size,
h2.has-s-font-size,
h3.has-m-font-size,
h4.has-l-font-size,
h5.has-xl-font-size,
h6.has-xxl-font-size {
	@include font-h-5;
}

h3,
h1.has-xxs-font-size,
h2.has-xs-font-size,
h3.has-s-font-size,
h4.has-m-font-size,
h5.has-l-font-size,
h6.has-xl-font-size,
.related .section-title,
.comments-area .comments-title,
.footer-big h2.widget-title {
	@include font-h-4;
}

h2.has-xxs-font-size,
h3.has-xs-font-size,
h4,
h4.has-s-font-size,
h5.has-m-font-size,
h6.has-l-font-size,
h1.site-title,
.site-title {
	@include font-h-3;
}

h1.site-logo {
	font-size: 1px;
	line-height: 1;

	@include breakpoint(sm) {
		font-size: 1;
	}
}

.related-title,
.comment-reply-title,
.nav-title,
.blog h2.entry-title,
.blog-archive h2.entry-title,
h3.has-xxs-font-size,
h4.has-xs-font-size,
h5,
h5.has-s-font-size,
h6.has-m-font-size {
	@include font-h-2;
}

h4.has-xxs-font-size,
h5.has-xs-font-size,
h5.has-xxs-font-size,
h6,
h6.has-s-font-size,
h6.has-xs-font-size,
h6.has-xxs-font-size,
h6.has-xxs-font-size,
h2.widget-title {
	@include font-h-1;
}

.blog,
.blog-archive {
	&.blog-2-column h2.entry-title {
		@include breakpoint(md) {
			@include font-h-3;
		}
	}

	&.blog-1-column h2.entry-title {
		@include breakpoint(sm) {
			@include font-h-4;
		}
	}
}

/* Padding for Headlines in Content Area */
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	margin-top: $s-4;
	margin-bottom: $s-4;
}

address,
p {
	@include s-r-7(margin-bottom);
}

dfn,
em,
i {
	font-style: italic;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $s-6 $s-6;

	@include breakpoint(sm) {
		margin: 0 $s-6 $s-6;
	}
}

blockquote {
	margin: 0;
	padding: 0;
}

.entry-content blockquote p,
blockquote p {
	margin: 0;
}

blockquote cite,
.wp-block-pullquote cite {
	text-align: left;
	display: block;
	padding: $s-4 0 0;
	@include font-body-xs;
	font-style: normal;
	font-weight: bold;
}

code,
kbd,
tt,
var {
	@include font-code;
}

pre {
	max-width: 100%;
	overflow: auto;
	@include s-r-7(padding);
	@include s-r-7(margin-bottom);
	border: none;
	@include border-radius-m;
	@include font-code;
}

abbr,
acronym {
	text-decoration: none;
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins,
mark {
	background-color: rgba(63, 192, 224, .1);
	text-decoration: none;
}

big {
	font-size: 125%;
}

.dropcap {
	font-size: 6.125rem;
	font-weight: 300;
	float: left;
	padding: 0 10px 0 0;
	line-height: 0.9;
	color: $color__text_one;

	@include breakpoint(sm) {
		font-size: 7.75rem;
		margin-left: -11px;
		line-height: 0.79;
	}
}

.wide-content {
	@include breakpoint(lg) {
		max-width: $col12;
	}
}