/* Body Fonts */
body,
button,
input,
select,
table,
textarea {
	@include font-body;
	color: var(--global--color-text-two);
}

div[class*='wp-block-'] figcaption,
.wp-block-calendar table,
.hentry .entry-summary,
.posts-container .hentry .entry-footer {
	@include font-body-s;
	color: var(--global--color-text-two);
}

.single .navigation a span.nav-subtitle,
.entry-content p.has-extrasmall-font-size,
.entry-content p.has-xs-font-size,
.entry-content .wp-block-post-excerpt.has-xs-font-size p,
.entry-content .wp-block-post-terms.has-xs-font-size,
.entry-content .sharedaddy h3.sd-title,
.blocks-gallery-grid .blocks-gallery-item figcaption {
	@include font-body-xs;
}

.entry-content {

	form label,
	label .required,
	.comment-notes,
	.logged-in-as,
	.comment-reply-title #cancel-comment-reply-link,
	.has-s-font-size,
	p.has-s-font-size,
	.has-s-font-size p,
	.onsale {
		@include font-body-s;
	}
}

.hentry {

	.entry-summary,
	.entry-cats,
	.entry-footer {

		.blog-1-column &,
		.blog-2-column & {
			@include font-body-m;
		}
	}
}

.page-header .description p,
.entry-content p.has-m-font-size,
.entry-content .wp-block-post-excerpt.has-m-font-size p,
.entry-content .wp-block-post-terms.has-m-font-size,
.related-wrap .related-post .entry-cats,
.comment-author .fn,
.footer-info,
.footer-widget .widget ul li,
.mc4wp-form .mc4wp-alert p,
input,
select,
table,
textarea {
	@include font-body-m;
}

.entry-content p.has-l-font-size,
.site-branding .site-description,
ul.primary-menu li,
.hentry .entry-header .entry-meta,
.comment-content p,
.entry-content p,
.hentry ol,
.hentry ul,
dl,
.comment-content ol,
.comment-content ul,
.authorbox__content .author-bio,
.modal-menu,
.search-header .search-field,
.entry-content .wp-block-post-excerpt.has-l-font-size p,
.entry-content .wp-block-post-terms.has-l-font-size {
	@include font-body-l;
}

.entry-content p.has-xl-font-size,
.entry-content .wp-block-post-excerpt.has-xl-font-size p,
.entry-content .wp-block-post-terms.has-xl-font-size {
	@include font-body-xl;
}

.entry-content p.has-xxl-font-size,
.entry-content .wp-block-post-excerpt.has-xxl-font-size p,
.entry-content .wp-block-post-terms.has-xxl-font-size {
	@include font-body-2xl;
}

.entry-content p.has-xxxl-font-size,
.page-header .description p,
.entry-content .wp-block-post-excerpt.has-xxxl-font-size p,
.entry-content .wp-block-post-terms.has-xxxl-font-size {
	@include font-body-3xl;
}

.entry-content p.has-xxxxl-font-size,
.entry-content .wp-block-post-excerpt.has-xxxxl-font-size p,
.entry-content .wp-block-post-terms.has-xxxxl-font-size {
	@include font-body-4xl;
}

.entry-content p.has-xxs-font-size,
.entry-content .wp-block-post-excerpt.has-xxs-font-size p,
.entry-content .wp-block-post-terms.has-xxs-font-size {
	@include font-body-2xs;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-heading;
	@include font-regular;
	color: var(--global--color-text-one);
}

h1.site-title,
.site-title,
h2.entry-title {
	@include hyphenation;
}

.h-regular {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.site-title,
	&.single-post .byline {
		@include font-regular;
	}
}

.h-bold {

	:not(.entry-content)>h1,
	:not(.entry-content)>h2,
	:not(.entry-content)>h3,
	:not(.entry-content)>h4,
	:not(.entry-content)>h5,
	:not(.entry-content)>h6,
	.site-title,
	&.single-post .byline {
		@include font-bold;
	}
}

h1.has-xxxxl-font-size {
	@include font-h-12;
}

h1.has-xxxl-font-size,
h2.has-xxxxl-font-size {
	@include font-h-11;
}

h1.has-xxl-font-size,
h2.has-xxxl-font-size,
h3.has-xxxxl-font-size {
	@include font-h-10;
}

h1.has-xl-font-size,
h2.has-xxl-font-size,
h3.has-xxxl-font-size,
h4.has-xxxxl-font-size {
	@include font-h-9;
}

h1.has-l-font-size,
h2.has-xl-font-size,
h3.has-xxl-font-size,
h4.has-xxxl-font-size,
h5.has-xxxxl-font-size {
	@include font-h-8;
}

h1.entry-title,
h1.has-m-font-size,
h2.has-l-font-size,
h3.has-xl-font-size,
h4.has-xxl-font-size,
h5.has-xxxl-font-size,
h6.has-xxxxl-font-size {
	@include font-h-7;
}

h1.has-s-font-size,
h2.has-m-font-size,
h3.has-l-font-size,
h4.has-xl-font-size,
h5.has-xxl-font-size,
h6.has-xxxl-font-size {
	@include font-h-6;
}

h2,
h1.has-xs-font-size,
h2.has-s-font-size,
h3.has-m-font-size,
h4.has-l-font-size,
h5.has-xl-font-size,
h6.has-xxl-font-size,
.authorbox__details .author-name,
.related-title,
.comment-reply-title {
	@include font-h-5;
}

h3,
h1.has-xxs-font-size,
h2.has-xs-font-size,
h3.has-s-font-size,
h4.has-m-font-size,
h5.has-l-font-size,
h6.has-xl-font-size,
h2.widget-title,
.blog h2.entry-title,
.blog-archive h2.entry-title {
	@include font-h-4;
}

h2.has-xxs-font-size,
h3.has-xs-font-size,
h4,
h4.has-s-font-size,
h5.has-m-font-size,
h6.has-l-font-size,
.authorbox__wrap .section-title,
.related-wrap .section-title,
.comments-area .comments-title,
.blog .page-header h1.page-title,
.blog-archive .page-header h1.page-title {
	@include font-h-3;
}

.nav-title,
h3.has-xxs-font-size,
h4.has-xs-font-size,
h5,
h5.has-s-font-size,
h6.has-m-font-size,
h2.woocommerce-loop-product__title {
	@include font-h-2;
}

h4.has-xxs-font-size,
h5.has-xs-font-size,
h5.has-xxs-font-size,
h6,
h6.has-s-font-size,
h6.has-xs-font-size,
h6.has-xxs-font-size,
h6.has-xxs-font-size {
	@include font-h-1;
}

.blog,
.blog-archive {

	&.blog-1-column h2.entry-title,
	&.blog-2-column h2.entry-title {
		@include font-h-5;
	}
}

.site-branding {

	.site-title {
		@include font-body-l;
		line-height: 1;
	}
}

/* Padding for Headlines in Content Area */
.single .entry-content,
.page-template-default .entry-content {
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include s-r-4(padding-top);
		@include s-r-4(padding-bottom);
	}
}

/* Padding for Paragraphs in Content Area */
.single,
.page-template-default,
.error404 {

	address,
	p {
		@include s-r-6(padding-bottom);
	}
}

dfn,
em,
i {
	font-style: italic;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $s-6 $s-6;

	@include breakpoint(sm) {
		margin: 0 $s-6 $s-6;
	}
}

blockquote {
	margin: 0;
	padding: 0;
}

.entry-content blockquote p,
blockquote p {
	margin: 0;
	padding: 0;
}

blockquote cite,
.wp-block-pullquote cite {
	text-align: left;
	display: block;
	padding: $s-4 0 0;
	@include font-body-xs;
	font-style: normal;
	font-weight: bold;
}

code,
kbd,
tt,
var {
	@include font-code;
}

pre {
	@include s-r-6(padding);
	@include s-r-6(margin-bottom);
	border: none;
	@include font-code;
}

abbr,
acronym {
	text-decoration: none;
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins,
mark {
	background-color: rgba(63, 192, 224, .1);
	text-decoration: none;
}

big {
	font-size: 125%;
}

.dropcap {
	font-size: 6.125rem;
	font-weight: 300;
	float: left;
	padding: 0 10px 0 0;
	line-height: 0.9;
	color: var(--global--color-text-one);

	@include breakpoint(sm) {
		font-size: 7.75rem;
		margin-left: -11px;
		line-height: 0.79;
	}
}

.wide-content {
	@include breakpoint(lg) {
		max-width: $col12;
	}
}

.center-text {
	text-align: center;
}

.justify {
	text-align: justify;
}