.pt {

	&__0 {
		padding-top: 0;
	}

	&__1 {
		padding-top: 0.5rem;
	}

	&__2 {
		padding-top: 1rem;
	}

	&__3 {
		padding-top: 1.5rem;
	}

	&__4 {
		padding-top: 1.5rem;

		@media (min-width: 48.5em) {
			padding-top: 2rem;
		}
	}

	&__5 {
		padding-top: 2rem;

		@media (min-width: 48.5em) {
			padding-top: 2.5rem;
		}
	}

	&__6 {
		padding-top: 2rem;

		@media (min-width: 48.5em) {
			padding-top: 3rem;
		}
	}

	&__7 {
		padding-top: 2.5rem;

		@media (min-width: 48.5em) {
			padding-top: 3.5rem;
		}
	}

	&__8 {
		padding-top: 2.5rem;

		@media (min-width: 48.5em) {
			padding-top: 4.5rem;
		}
	}

	&__9 {
		padding-top: 3rem;

		@media (min-width: 48.5em) {
			padding-top: 6rem;
		}
	}

	&__10 {
		padding-top: 3rem;

		@media (min-width: 48.5em) {
			padding-top: 9rem;
		}
	}

	&__11 {
		padding-top: 3.5rem;

		@media (min-width: 48.5em) {
			padding-top: 12rem;
		}
	}
}

.pb {

	&__0 {
		padding-bottom: 0;
	}

	&__1 {
		padding-bottom: 0.5rem;
	}

	&__2 {
		padding-bottom: 1rem;
	}

	&__3 {
		padding-bottom: 1.5rem;
	}

	&__4 {
		padding-bottom: 1.5rem;

		@media (min-width: 48.5em) {
			padding-bottom: 2rem;
		}
	}

	&__5 {
		padding-bottom: 2rem;

		@media (min-width: 48.5em) {
			padding-bottom: 2.5rem;
		}
	}

	&__6 {
		padding-bottom: 2rem;

		@media (min-width: 48.5em) {
			padding-bottom: 3rem;
		}
	}

	&__7 {
		padding-bottom: 2.5rem;

		@media (min-width: 48.5em) {
			padding-bottom: 3.5rem;
		}
	}

	&__8 {
		padding-bottom: 2.5rem;

		@media (min-width: 48.5em) {
			padding-bottom: 4.5rem;
		}
	}

	&__9 {
		padding-bottom: 3rem;

		@media (min-width: 48.5em) {
			padding-bottom: 6rem;
		}
	}

	&__10 {
		padding-bottom: 3rem;

		@media (min-width: 48.5em) {
			padding-bottom: 9rem;
		}
	}

	&__11 {
		padding-bottom: 3.5rem;

		@media (min-width: 48.5em) {
			padding-bottom: 12rem;
		}
	}
}

.pl {

	&__0 {
		padding-left: 0;
	}

	&__1 {
		padding-left: 0.5rem;
	}

	&__2 {
		padding-left: 1rem;
	}

	&__3 {
		padding-left: 1.5rem;
	}

	&__4 {
		padding-left: 1.5rem;

		@media (min-width: 48.5em) {
			padding-left: 2rem;
		}
	}

	&__5 {
		padding-left: 2rem;

		@media (min-width: 48.5em) {
			padding-left: 2.5rem;
		}
	}

	&__6 {
		padding-left: 2rem;

		@media (min-width: 48.5em) {
			padding-left: 3rem;
		}
	}

	&__7 {
		padding-left: 2.5rem;

		@media (min-width: 48.5em) {
			padding-left: 3.5rem;
		}
	}

	&__8 {
		padding-left: 2.5rem;

		@media (min-width: 48.5em) {
			padding-left: 4.5rem;
		}
	}

	&__9 {
		padding-left: 3rem;

		@media (min-width: 48.5em) {
			padding-left: 6rem;
		}
	}

	&__10 {
		padding-left: 3rem;

		@media (min-width: 48.5em) {
			padding-left: 9rem;
		}
	}

	&__11 {
		padding-left: 3.5rem;

		@media (min-width: 48.5em) {
			padding-left: 12rem;
		}
	}
}

.pr {

	&__0 {
		padding-right: 0;
	}

	&__1 {
		padding-right: 0.5rem;
	}

	&__2 {
		padding-right: 1rem;
	}

	&__3 {
		padding-right: 1.5rem;
	}

	&__4 {
		padding-right: 1.5rem;

		@media (min-width: 48.5em) {
			padding-right: 2rem;
		}
	}

	&__5 {
		padding-right: 2rem;

		@media (min-width: 48.5em) {
			padding-right: 2.5rem;
		}
	}

	&__6 {
		padding-right: 2rem;

		@media (min-width: 48.5em) {
			padding-right: 3rem;
		}
	}

	&__7 {
		padding-right: 2.5rem;

		@media (min-width: 48.5em) {
			padding-right: 3.5rem;
		}
	}

	&__8 {
		padding-right: 2.5rem;

		@media (min-width: 48.5em) {
			padding-right: 4.5rem;
		}
	}

	&__9 {
		padding-right: 3rem;

		@media (min-width: 48.5em) {
			padding-right: 6rem;
		}
	}

	&__10 {
		padding-right: 3rem;

		@media (min-width: 48.5em) {
			padding-right: 9rem;
		}
	}

	&__11 {
		padding-right: 3.5rem;

		@media (min-width: 48.5em) {
			padding-right: 12rem;
		}
	}
}
