@import "1-base/base-index";
@import "2-components/components-index";
@import "3-blocks/blocks-index";
@import "4-layout/layout-index";
@import "5-woocommerce/woocommerce-index";

.wp-block-group.alignfull>.alignfull,
*[class*="wp-container-"]>.alignfull,
.is-root-container .wp-block[data-align="full"] .wp-block-separator.is-style-wide {
	width: calc(100% + var(--global--content--padding--left) + var(--global--content--padding--right)) !important;
	margin-left: calc(-1 * var(--global--content--padding--left)) !important;
	margin-right: calc(-1 * var(--global--content--padding--right)) !important;
}

/* Container and Alignment */
.wp-block[data-align=full] .wp-block-group .wp-block {
	max-width: var(--global--wide-content-width);
	margin-left: auto;
	margin-right: auto;
}

.wp-block-group.has-background.content-gap,
.site-header,
.wp-block[data-align="wide"],
.wp-block[data-align=full] .alignwide,
.site-footer .footer-content {
	padding-left: var(--global--content--padding--left);
	padding-right: var(--global--content--padding--right);
}