button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-search__button {
	@include btn;
	@include btn-s;
}

input[type="button"]:not(.wp-block-navigation__responsive-container-open),
input[type="submit"] {
	@include btn-primary;
}

.wp-block-button__link,
.wp-block-ainoblocks-button:not(.is-style-naked) .wp-block-ainoblocks-button__link,
.wc-block-components-button:not(.is-link) {

	&:hover {
		color: var(--wp--preset--color--button-color-secondary);
		background-color: var(--wp--preset--color--secondary);
		border-color: var(--wp--preset--color--primary);
		fill: var(--wp--preset--color--button-color-primary);
	}
}

.wp-block-ainoblocks-button.is-style-outline {

	&:hover {
		border-color: var(--wp--preset--color--secondary) !important;
	}
}

.wp-block-tag-cloud.is-style-btn a,
.wp-block-categories.is-style-btn a {
	@include btn;
	@include btn-outline;
	text-decoration: none;
}

.wp-block-tag-cloud.is-style-btn.btn-light a,
.wp-block-categories.is-style-btn.btn-light a {
	@include btn-outline-light;
}

.stretch {
	width: 100% !important;

	.wp-block-ainoblocks-multiple-buttons__inner,
	.wp-block-ainoblocks-button__link {
		width: 100% !important;
	}
}

.wp-block-tag-cloud.is-style-btn a,
.wp-block-categories.is-style-btn a {
	@include btn-xs;
}

.btn-rounded {

	.btn,
	input[type="submit"],
	button[type="submit"],
	.edit,
	.woocommerce-button,
	.wc-block-components-button,
	.form-submit.wp-block-button input,
	.woocommerce-MyAccount-navigation li a,
	.tag-cloud-link,
	li a {
		border-radius: var(--global--border-radius-xxs);
	}
}

.btn-round {

	.btn,
	.edit,
	input[type="submit"],
	button[type="submit"],
	.woocommerce-button,
	.search-header .search-field,
	.wc-block-components-button,
	.form-submit.wp-block-button input,
	.woocommerce-MyAccount-navigation li a,
	.tag-cloud-link,
	li a {
		border-radius: var(--global--border-radius-round);
	}
}

.site-header {

	.btn-icon {
		margin-top: var(--space-04) !important;

		.wp-block-ainoblocks-button__link {
			display: flex;
			width: var(--space-08);
			height: var(--space-08);
			text-indent: -9000px;
			text-transform: capitalize;
			padding: 0;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	.icon-search {

		.wp-block-ainoblocks-button__link {
			background-image: url(/assets/images/search.svg) !important;
		}
	}

	.wp-block-ainoblocks-multiple-buttons {

		.wp-block-ainoblocks-multiple-buttons__inner {
			.btn-icon:not(:first-child) {
				margin-left: var(--space-01);
			}
		}
	}
}

.wp-block-search__button {
	min-width: auto;
}