button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-search__button {
	@include btn;
	@include btn-s;
}

.wp-block-button {

	.wp-block-button__link {
		@include btn;
		@include btn-m;
		border: 1px solid transparent;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		height: auto;
		box-shadow: none;
		border-radius: 0;
	}
}

// Special / Additional button styles
.wp-block-tag-cloud.is-style-btn a,
.wp-block-categories.is-style-btn a {
	@include btn;
	text-decoration: none;
}

.wp-block-tag-cloud.is-style-btn.btn-light a,
.wp-block-categories.is-style-btn.btn-light a {
	color: var(--wp--preset--color--variant-primary);
	fill: var(--wp--preset--color--variant-primary);
	border: 1px solid;
	border-color: var(--wp--preset--color--variant-primary);
}

.stretch {
	width: 100% !important;

	.wp-block-ainoblocks-multiple-buttons__inner,
	.wp-block-ainoblocks-button__link {
		width: 100% !important;
	}
}

.wp-block-tag-cloud.is-style-btn a,
.wp-block-categories.is-style-btn a {
	@include btn-xs;
}

.wp-block-search__button {
	min-width: auto;
}

// Classed to set all default buttons to rounded or round.
.btn-rounded {

	.btn,
	input[type="submit"],
	button[type="submit"],
	.edit,
	.woocommerce-button,
	.wc-block-components-button,
	.form-submit.wp-block-button input,
	.woocommerce-MyAccount-navigation li a,
	.tag-cloud-link,
	li a {
		border-radius: var(--global--border-radius-xxs);
	}
}

.btn-round {

	.btn,
	.edit,
	input[type="submit"],
	button[type="submit"],
	.woocommerce-button,
	.search-header .search-field,
	.wc-block-components-button,
	.form-submit.wp-block-button input,
	.woocommerce-MyAccount-navigation li a,
	.tag-cloud-link,
	li a {
		border-radius: var(--global--border-radius-round);
	}
}

// Button styles
.wp-block-button .wp-block-button__link,
.wp-block-ainoblocks-button:not(.is-style-outline):not(.is-style-naked),
input[type="button"]:not(.wp-block-navigation__responsive-container-open),
input[type="submit"],
.woocommerce-orders-table .woocommerce-button,
.edit {
	@include btn-filled;
}

.wp-block-ainoblocks-button.is-style-outline,
.wp-block-tag-cloud.is-style-btn a,
.wp-block-categories.is-style-btn a {
	@include btn-outlined;
}

.wp-block-ainoblocks-button.is-style-naked {
	@include btn-ghost;
}

// WooCommerce
.woocommerce-orders-table .woocommerce-button,
.edit {
	@include btn;
	@include btn-xxs;
}
