button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-search__button {
	@include btn;
	@include btn-m;
}

button,
input[type="button"],
input[type="submit"] {
	@include btn-primary;
}

.wp-block-button__link,
.wp-block-ainoblocks-button:not(.is-style-outline) .wp-block-ainoblocks-button__link,
.wc-block-components-button:not(.is-link) {

	&:hover {
		color: var(--wp--custom--color--button-color-secondary);
		background-color: var(--wp--custom--color--secondary);
	}
}

a.btn-primary,
.btn-primary a {
	@include btn;
	@include btn-primary;
}

a.btn-outline,
.btn-outline a {
	@include btn;
	@include btn-outline;
}

.wp-block-tag-cloud.is-style-btn a,
.wp-block-categories.is-style-btn a {
	@include btn;
	@include btn-outline;
}

.wp-block-tag-cloud.is-style-btn.btn-light a,
.wp-block-categories.is-style-btn.btn-light a {
	@include btn-outline-light;
}

.btn-naked,
.btn-naked a {
	@include btn-naked;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.btn-long,
.cr_button {
	width: 100%;
}

.stretch {
	width: 100% !important;

	.wp-block-ainoblocks-multiple-buttons__inner,
	.wp-block-ainoblocks-button__link {
		width: 100% !important;
	}
}

.btn-xxs {
	@include btn-xxs;
}

.wp-block-tag-cloud.is-style-btn a,
.wp-block-categories.is-style-btn a,
.btn-xs {
	@include btn-xs;
}

.btn-s {
	@include btn-s;
}

.btn-m {
	@include btn-m;
}

.btn-l {
	@include btn-l;
}

.btn-xl {
	@include btn-xl;
}

.btn-xxl {
	@include btn-xxl;
}

.btn-xxxl {
	@include btn-xxxl;
}

.btn-xxxxl {
	@include btn-xxxxl;
}

.btn-curved,
.btn-rounded {

	.btn,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.edit,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a,
	.woocommerce-button,
	.wc-block-components-button,
	.form-submit.wp-block-button input,
	.woocommerce-MyAccount-navigation li a {
		border-radius: var(--global--border-radius-xxs);
	}
}

.btn-round {

	.btn,
	.edit,
	input[type="submit"],
	button[type="submit"],
	a.btn-primary,
	.btn-primary a,
	a.btn-outline,
	.btn-outline a,
	.woocommerce-button,
	.search-header .search-field,
	.wc-block-components-button,
	.form-submit.wp-block-button input,
	.woocommerce-MyAccount-navigation li a {
		border-radius: var(--global--border-radius-round);
	}
}

.site-header {

	.btn-icon {
		margin-top: var(--space-04);

		a {
			display: flex;
			width: var(--space-08);
			height: var(--space-08);
			text-indent: -9000px;
			text-transform: capitalize;
			padding: 0;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	.icon-search {

		a {
			background-image: url(/assets/images/search.svg) !important;
		}
	}

	.wp-block-ainoblocks-multiple-buttons {

		.wp-block-ainoblocks-multiple-buttons__inner {
			.btn-icon:not(:first-child) {
				margin-left: var(--space-01);
			}
		}
	}
}

.wp-block-search__button {
	min-width: auto;
}