a {
	color: inherit;

	&:active,
	&:hover {
		outline: 0;
	}
}

/* Primary Links */
.single .wp-block-post-content p a,
.single .wp-block-post-content li a,
.authorbox__content p a,
.comment-content p a,
figcaption a,
.comment-reply-title #cancel-comment-reply-link,
.wp-block-post-excerpt__more-link,
.comment .comment-body p a,
.wp-block-ainoblocks-card p a,
.wp-block-ainoblocks-grid-item p a,
.wp-block-ainoblocks-notification-block p a,
.wp-block-post-author p a {
	color: currentColor;
	@include underline-default;

	&:hover {
		text-decoration: none;
	}
}

.page .entry-content .wp-block-group.has-link-color p a:hover,
.page .entry-content p.has-link-color a:hover {
	color: var(--wp--style--color--link);
}

/* Link color on hover */
.site-title a,
h2.entry-title a,
.comment-list b.fn a,
.main-navigation a {
	color: var(--wp--preset--color--font-primary);
	fill: var(--wp--preset--color--font-primary);
}

.posts-container .hentry .entry-meta a,
.entry-comments a,
.posted-on a,
.comment-reply-title #cancel-comment-reply-link,
.comment-body .reply a {
	color: var(--wp--preset--color--font-tertiary);
	fill: var(--wp--preset--color--font-tertiary);
}

/* Underline on hover */
.mc4wp-form p,
.footer-content p,
.posted_in,
.post-meta,
.wp-block-post-terms,
.comment-meta,
.entry-meta,
.entry-cats,
.wp-block-navigation-link,
.wp-block-navigation:not([style*=text-decoration]) {

	a {
		text-decoration: none;

		&:hover {
			@include underline-default;
		}
	}
}
