// Cart block
.is-large.wc-block-cart,
.wc-block-cart {

	tr {
		border-bottom: none;
	}

	.wc-block-cart-items {

		td {
			@include s-r-6(padding-top);
			@include s-r-6(padding-bottom);
		}

		.wc-block-cart-item__image {
			padding-left: 0;
		}

		.wc-block-cart-item__product,
		.wc-block-cart-item__total {
			@include s-r-6(padding-left);
		}

		td:last-child {
			padding-right: 0;
		}
	}

	.wc-block-cart__totals-title {

		text-transform: none;
		text-align: left;
		font-weight: normal;

	}

	.editor-styles-wrapper table.wc-block-cart-items,
	table.wc-block-cart-items {

		.wc-block-cart-items__header {
			text-transform: none;
			font-weight: normal !important;
		}
	}

	.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__header .wc-block-cart-items__header-image, 
	table.wc-block-cart-items .wc-block-cart-items__header .wc-block-cart-items__header-image {
		width: 200px;
	}
}