// Page Headings
.page.woocommerce-page {

	.entry-header {
		@include s-r-12(padding-bottom);
	}
}

// Grid Layout Sidebar
.wc-block-components-sidebar-layout {
	margin: 0;

	@include breakpoint(md) {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 48px;
		grid-template-rows: auto;
	}
}

.wc-block-components-sidebar-layout .wc-block-components-main {
	margin: 0;
	padding-right: 0;
	width: 100%;

	@include breakpoint(md) {
		grid-column-start: 1;
		grid-column-end: 7;
	}
}

.wc-block-components-sidebar {
	background: var(--global--color-very-light-gray);
	border-radius: var(--global--border-radius-s);
	margin: 48px 0 0 0;
	@include s-r-6(padding-top);
	@include s-r-9(padding-left);
	@include s-r-9(padding-right);
	@include s-r-9(padding-bottom);
	width: 100%;
	height: fit-content;

	@include breakpoint(md) {
		margin-top: 0;
		grid-column-start: 7;
		grid-column-end: 13;
	}
}

.wc-block-components-form,
.wc-block-components-form .wc-block-components-select,
.wc-block-components-select {

	.wc-block-components-text-input {
		margin-top: 1rem;

		&.is-active {
			label {
				transform: translateY(4px) scale(.6);
			}
		}

		&.has-error {
			margin-bottom: 2rem;
			outline: none;

			input:focus {
				outline: none;
				outline-offset: 0;
			}
		}
	}
}

.wc-block-components-text-input.has-error input:focus {
	outline: none;
	outline-offset: 0;
}

// WooCommerce forms
.wc-block-components-totals-coupon__form .wc-block-components-text-input label,
.wc-block-components-form .wc-block-components-text-input label,
.wc-block-components-text-input label {
	@include font-body-m;
}

.wc-block-components-totals-coupon__form .wc-block-components-text-input label,
.wc-block-components-form .wc-block-components-text-input label {
	position: absolute;
	transform: translateY(1.25rem);
	line-height: var(--global--line-height-reset);
	color: var(--global--color-text-one);
	margin: 0 0 0 1.25rem;
	max-width: calc(100% - 32px);
}

.wc-block-components-totals-coupon__form .wc-block-components-text-input,
.wc-block-components-form .wc-block-components-text-input,
.wc-block-components-text-input {

	input[type=email],
	input[type=number],
	input[type=tel],
	input[type=text],
	input[type=url] {
		@include font-body-m;
		border-radius: var(--global--border-radius-xxs);
		border: 1px solid var(--global--color-form-border);
		line-height: var(--global--line-height-body);
		font-family: inherit;
		margin: 0;
		box-sizing: border-box;
		height: 3em;
		min-height: 0;
	}

	&.has-error {
		input,
		input:active,
		input:focus,
		input:hover {
			border-color: var(--global--color-error);
		}

		label {
			color: var(--global--color-error);
		}

		p {
			line-height: var(--global--line-height-reset);
			@include font-body-2xs;
			margin: 0;
			@include s-r-1(padding-top);
		}
	}

	&.is-active input[type="tel"],
	&.is-active input[type="url"],
	&.is-active input[type="text"],
	&.is-active input[type="number"],
	&.is-active input[type="email"] {
		padding: 1rem 0 0 1.25rem;
	}

	&.is-active label {
		transform: translateY(10px) scale(0.7);
		color: var(--global--color-light-gray);
	}
}

.form-round {

	.wc-block-components-totals-coupon__form .wc-block-components-text-input,
	.wc-block-components-form .wc-block-components-text-input,
	.wc-block-components-text-input {
	
		input[type=email],
		input[type=number],
		input[type=tel],
		input[type=text],
		input[type=url] {
			border-radius: var(--global--border-radius-round);
		}
	}
}

.wc-block-components-sort-select__select {
	padding: 0;
	border: none;
	border-radius: 0;

	@media (min-width: 80em) {
		padding: 0;
	}
}

.wc-block-components-validation-error {
	@include font-body-2xs;
	color: var(--global--color-error);
	max-width: 100%;
	position: absolute;
	top: calc(100% - 1px);
	white-space: normal;
}

.wc-block-components-product-metadata {

	&__description>p,
	.wc-block-components-product-metadata__variation-data {
		margin: 0;
		padding: 0;
	}
}

.wc-block-components-totals-item {
	@include s-r-6(margin-top);
	@include s-r-6(margin-bottom);
}

.is-large .wc-block-components-sidebar .wc-block-components-panel,
.is-large .wc-block-components-sidebar .wc-block-components-totals-item {
	padding: 0;
}

.wc-block-components-panel {

	&__button {
		@include s-r-6(margin-top);
		@include s-r-6(margin-bottom);
		padding: 0;

		&:hover {
			-webkit-transform: none;
			transform: none;
		}
	}

	&__content {
		padding-bottom: 0;
	}
}

// Sale Badges
.onsale,
.wc-block-components-sale-badge,
.wc-block-components-product-sale-badge {
	width: auto;
	border: 0;
	padding: 5px 12px;
	border-radius: var(--global--border-radius-s);
	line-height: var(--global--line-height-reset);
	text-transform: none;
	font-weight: normal;
}

.onsale,
.wc-block-components-product-sale-badge {
	position: absolute;
	z-index: 100;
	margin: 0;
	border-radius: var(--global--border-radius-s);
	color: var(--global--color-text-one);
	background: var(--global--color-white);
}

.wc-block-components-sale-badge {
	background: none;
	border: 1px solid var(--global--color-text-one);
}

.onsale {
	left: $s-4;
	top: $s-4;
}

.wc-block-components-product-image {

	.wc-block-components-product-sale-badge {
		&--align-left {
			left: $s-4;
			top: $s-4;
		}
		&--align-center {
			top: $s-4;
		}
		&--align-right {
			right: $s-4;
			top: $s-4;
		}
	}
}

// WC buttons
.wc-block-components-button:not(.is-link) {
	font-weight: normal;
	@include font-body-m;
	padding: 18px 20px;
	@include transition-default;

	&:hover {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}

// Notification wrappers
.wc-block-components-notices {

		.wc-block-components-notices__notice {
			position: relative;
			display: flex;
			align-items: center;
			@include s-r-6(padding);
			@include s-r-9(margin-bottom);
			border-radius: var(--global--border-radius-xxs);
		
		&.woocommerce-error {
			background: var(--global--color-notification);
		}

		.components-notice__content {
			max-width:calc(100% - 2rem);
		}

		.components-notice__dismiss {

			&.has-icon {
				display: block;
				width: 1.5rem;
				height: 1.5rem;
				min-height: auto;
				background: var(--global--color-black);
				color: var(--global--color-white);
				fill: var(--global--color-white);
				border-radius: var(--global--border-radius-round);

				svg {
					max-width: 12px;
				}
			}
		}
	}
}

.woocommerce-notices-wrapper {

		div {
			display: block;
			@include s-r-6(padding);
			@include s-r-9(margin-bottom);
			border-radius: var(--global--border-radius-xxs);
		
		&.woocommerce-message {
			background: var(--global--color-notification);
		}
	}
}

// Star Ratings Blog grid
.wc-block-grid__product-rating {
	font-size: 14px;

	.star-rating,
	.wc-block-grid__product-rating__stars {
		margin: 0;

		span {
			max-height: 22px;
			letter-spacing: 1px;
		}

		&:before,
		span:before {
			content: '\2605\2605\2605\2605\2605';
			font-size: 14px;
			letter-spacing: 1px;
		}
	}
}

// Woo Products Pagination
.wc-block-components-pagination {
	@include s-r-12(margin-bottom);
}

// Coupon code form
.wc-block-components-totals-coupon__content {
	@include s-r-6(padding-bottom);
}