
.woocommerce-checkout.woocommerce-page {

	.woocommerce-info {
		text-align: left;
	}

	.woocommerce-notices-wrapper {

		ul {
			padding: 0;

			li strong {
				font-weight: normal;
			}
		}

	}

	.page .woocommerce-form p {
		padding-top: 0;
		@include s-r-6 (padding-bottom);
	}

	.entry-content>* {
		max-width: var(--global--default-content-width);

		@include breakpoint(lg) {
			max-width: var(--global--max-content-width);
			margin: 0;
		}
	}

	.entry-content {
		max-width: var(--global--max-content-width);
		@include push--auto;
		@include outer-margins;

		.checkout {
			@include s-r-12 (padding-top);
		}

		@include breakpoint(lg) {
			.woocommerce {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				column-gap: 48px;
				grid-template-rows: [row1-start] 0px [row1-end] 28px [third-line] auto [last-line];

				.woocommerce-notices-wrapper,
				.checkout_coupon {
					grid-column-start: 1;
					grid-column-end: 13;
				}

				.checkout {
					grid-column-start: 1;
					grid-column-end: 13;
					display: grid;
					grid-template-columns: repeat(12, 1fr);
					grid-template-rows: repeat(1, 100px auto);
					column-gap: 48px;
				}

				.col2-set,
				.woocommerce-form-login,
				.woocommerce-form-login-toggle {
					grid-column-start: 1;
					grid-column-end: 7;
				}

				.col2-set {
					grid-row-start: 1;
					grid-row-end: 3;
				}

				.woocommerce-form-login-toggle,
				.woocommerce-form-coupon-toggle {
					grid-row-start: 1;
				}

				.woocommerce-form-coupon-toggle,
				.woocommerce-form-coupon {
					grid-column-start: 7;
					grid-column-end: 13;
				}

				#order_review_heading,
				.woocommerce-checkout-review-order {
					grid-column-start: 7;
					grid-column-end: 13;
				}

				#order_review_heading {
					grid-row-start: 1;
				}

				.woocommerce-checkout-review-order {
					grid-row-start: 2;
					align-self: start;
				}
			}
		}
	}

	#order_review_heading,
	.woocommerce-checkout-review-order-table,
	.woocommerce-checkout-review-order {
		background-color: var(--global--color-very-light-gray);
	}

	#order_review_heading {
		@include s-r-9 (padding-top);
		@include s-r-9 (padding-left);
		@include s-r-9 (padding-right);
		border-top-left-radius: var(--global--border-radius-xs);
		border-top-right-radius: var(--global--border-radius-xs);
	}

	.woocommerce-checkout-review-order {
		@include s-r-9 (padding-bottom);
		@include s-r-9 (padding-left);
		@include s-r-9 (padding-right);
		border-bottom-left-radius: var(--global--border-radius-xs);
		border-bottom-right-radius: var(--global--border-radius-xs);
	}

	.entry-header {

		@include breakpoint(lg) {
			.entry-title {
				text-align: left;
				max-width: var(--global--max-content-width);
			}
		}
	}

	.woocommerce-billing-fields {

		.form-row-first {
			float: left;
			margin-left: 0;
			margin-right: 8px;
			position: relative;
			width: calc(50% - 8px);
		}

		.form-row-last {
			float: left;
			margin-left: 8px;
			margin-right: 0;
			position: relative;
			width: calc(50% - 8px);
		}

		.form-row-wide {
			clear: both;
			width: 100%;
		}
	}

	// Order summary
	.woocommerce-checkout-review-order-table {

		td {
			padding: $s-2 0;
			border-right: none;
		}

		th {
			padding: $s-2 0;
		}

		thead {
			display: none;
		}

		.cart_item {
			border-bottom: none;

			&:first-of-type {
				td {
					padding-top: 0;
				}
			}

			&:last-of-type {
				td {
					@include s-r-6(padding-bottom);
				}
			}
		}

		tbody {
			@include s-r-6(padding-bottom);
		}

		tr.cart-subtotal {
			border-top: 1px solid var(--global--color-border);
		}

		.cart-subtotal,
		.woocommerce-shipping-totals,
		.order-total {
			th, td {
				@include s-r-6(padding-top);
				@include s-r-6(padding-bottom);
			}
		}

		th,
		.amount,
		.product-quantity {
			font-weight: normal;
		}
	}

	.wc_payment_method {

		img {
			max-width: 30%;
		}

		.payment_box {
			display: block;
		}
	}

	.woocommerce-checkout-payment {
		.button {
			width: 100%;
		}

	}
}
