/* Blog Posts */
.entry-link {
	display: block;

	body:not(.no-blogcard-spacing) & {
		@include s-r-6(padding-bottom);
	}
}

.posts-container .hentry {
	@include s-r-9(margin-bottom);
}

.entry-content,
.entry-summary,
.page-content {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0;
}

/* Blog Cards - Height Alignment */
.posts-container {
	align-items: stretch;
}

.posts-container .hentry {
	position: relative;
	@include flexbox;
	align-items: stretch;
}

.posts-container .hentry .entry-link {
	@include flexbox;
	flex-direction: column;
	width: 100%;
	align-content: stretch;
}

.posts-container .hentry .entry-link .post-thumb {
	flex-shrink: 0;
}

.posts-container .hentry .entry-summary {
	margin-bottom: auto;
}

.posts-container .hentry .entry-footer {
	@include flexbox;
	align-items: center;
}

body:not(.no-blogcard-spacing) {
	.posts-container .hentry .entry-footer {
		margin-top: auto;
	}
}

.blogcards-flexstart .posts-container .hentry {
	align-items: flex-start;
}

.content-container {
	display: block;
}

/* Blog Cards - 1 Columns */
.blog.blog-1-column,
.blog-archive.blog-1-column {

	@include breakpoint(md) {

		& .hentry .entry-link {
			display: block;
			padding-bottom: 0;
		}

		& .post-thumb {
			width: 56.666%;
			float: left;
		}

		& .has-post-thumbnail .entry-header {
			float: left;
			width: 43.334%;
		}

		& .posts-container .hentry .entry-footer {
			margin: 0;
			@include s-r-6(padding);
		}

		& .posts-container .has-post-thumbnail .entry-footer {
			float: left;
			width: 43.334%;
		}
	}

	&.no-blogcard-spacing {

		.posts-container .hentry .entry-footer {
			padding-right: 0;
			padding-bottom: 0;
		}
	}
}

/* Blog Cards - Border Radius */
.blogcards-radius-s {

	.entry-link,
	.related-post a,
	.navigation .nav-thumb,
	.navigation .nav-thumb img {
		@include border-radius-s;
	}

	.entry-link .post-thumb img {
		border-radius: $border-radius-s $border-radius-s 0 0;
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {
		border-radius: $border-radius-s;
	}
}

.blog-1-column.blogcards-radius-s {

	.entry-link .post-thumb img {

		@include breakpoint(md) {
			border-radius: $border-radius-s 0 0 $border-radius-s;
		}
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {

		@include breakpoint(md) {
			border-radius: $border-radius-s;
		}
	}
}

.blogcards-radius-m {

	.entry-link,
	.related-post a,
	.navigation .nav-thumb,
	.navigation .nav-thumb img {
		@include border-radius-m;
	}

	.entry-link .post-thumb img {
		border-radius: $border-radius-m $border-radius-m 0 0;
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {
		border-radius: $border-radius-m;
	}
}

.blog-1-column.blogcards-radius-m {

	.entry-link .post-thumb img {

		@include breakpoint(md) {
			border-radius: $border-radius-m 0 0 $border-radius-m;
		}
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {

		@include breakpoint(md) {
			border-radius: $border-radius-m;
		}
	}
}

.blogcards-radius-l {

	.entry-link,
	.related-post a,
	.navigation .nav-thumb,
	.navigation .nav-thumb img {
		@include border-radius-l;
	}

	.entry-link .post-thumb img {
		border-radius: $border-radius-l $border-radius-l 0 0;
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {
		border-radius: $border-radius-l;
	}
}

.blog-1-column.blogcards-radius-l {

	.entry-link .post-thumb img {

		@include breakpoint(md) {
			border-radius: $border-radius-l 0 0 $border-radius-l;
		}
	}

	&.blogcards-no-shadow .entry-link .post-thumb img {

		@include breakpoint(md) {
			border-radius: $border-radius-l;
		}
	}
}

.cards-custom-bg {

	&:not(.blog-1-column) {
		.entry-link .post-thumb img {
			border-bottom-left-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
	}

	&.blog-1-column {
		.entry-link .post-thumb img {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;

			@include breakpoint(md) {
				border-top-right-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
	}
}

/* Blog Cards - Shadows */
.blogcards-shadow-a .entry-link,
.blogcards-shadowhover-a .entry-link:hover,
.single-post.blogcards-shadow-a .navigation .nav-thumb,
.single-post.blogcards-shadowhover-a .navigation .nav-thumb:hover {
	@include shadow-3;
}

.blogcards-shadow-b .entry-link,
.blogcards-shadowhover-b .entry-link:hover,
.single-post.blogcards-shadow-b .navigation .nav-thumb,
.single-post.blogcards-shadowhover-b .navigation .nav-thumb:hover {
	@include shadow-4;
}

/* Blog Card - Animations */
.entry-link,
.entry-link img {
	background-color: transparent;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.cardhover-zoom .entry-link:hover,
.cardhover-zoom .entry-link:hover+.post-edit-link,
.cardhover-zoom .post-thumb-img:hover+.post-edit-link,
.cardhover-zoom .navigation .nav-thumb:hover {
	-webkit-transform: perspective(1200) translateZ(30px);
	transform: perspective(1200) translateZ(30px);
}

.cardhover-moveup .entry-link:hover,
.cardhover-moveup .entry-link:hover+.post-edit-link,
.cardhover-moveup .post-thumb-img:hover+.post-edit-link,
.single-post.cardhover-moveup .navigation .nav-thumb:hover {
	-webkit-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
}

/* Blog Cards - Featured Images */
.hentry .post-thumb a {
	display: inline-block;
	line-height: 0;
}

/* Blog Cards - Entry Header */
.blog,
.archive,
.search,
.parent:not(.single-post) {

	.hentry {
		.entry-header {
			@include s-r-6 (padding-top);
		}
	}

	&:not(.no-blogcard-spacing) {

		.hentry {
			.entry-header {
				@include s-r-6 (padding-right);
				@include s-r-6 (padding-left);
			}
		}
	}

	&.blog-1-column {
		&.no-blogcard-spacing {
			.hentry {
				.entry-header {
					padding-top: 0;
					@include s-r-6 (padding-left);
				}
			}
		}
	}
}

.hentry {

	.entry-cats {
		@include s-r-2 (padding-bottom);
	}

	.entry-summary {
		@include s-r-4 (padding-top);
	}
}

/* Blog Cards - Entry Meta Elements */
.updated:not(.published) {
	display: none;
}

.group-blog .byline {
	display: inline;

	@include breakpoint(sm) {
		padding: 0 $s-6 0 0;
	}
}

/* Blog Cards - Entry Footer */
.posts-container .hentry .entry-footer {
	@include s-r-6 (padding-top);
}

body:not(.blogcard-avatar-hide).has-post-author {

	.posts-container .hentry .entry-footer {
		padding-top: 12px;
	}
}

body:not(.no-blogcard-spacing) {

	.posts-container .hentry .entry-footer {
		@include s-r-6 (margin-left);
		@include s-r-6 (margin-right);
	}
}

.blog,
.archive,
.search {

	.entry-link {

		.entry-comments,
		.posted-on {
			color: var(--global--color-text-two);
		}

		.posted-on {
			display: flex;
			align-items: center;

			&:before {
				@include divider;
				@include divider-m;
			}
		}
	}

	&.has-post-author.has-comments-count {

		.entry-link {

			.entry-comments {
				@include breakpoint(lg) {
					display: flex;
					align-items: center;
				}
		
				&:before {
					@include divider;
					@include divider-m;
				}
			}
		}
	}

	&.blog-3-column {

		.entry-link {
			.posted-on {

				&:before {
					@include divider-s;
				}
			}
		}

		&.has-post-author.has-comments-count {

			.entry-link {

					&:before {
						@include divider-s;
					}
				}
		}
	}

	.entry-meta {
		display: flex;

		.entry-comments {
			display: none;
		}
	}

	.entry-header .entry-cats,
	.entry-meta .author-name {
		display: block;
	}

	.entry-footer {

		.entry-author-pic,
		.entry-author-pic img {
			width: $s-10;
			height: $s-10;
		}
	}
}

.divider {
	display: block;
	height: $s-8;
}

/* Blog Cards - Hide Elements */
.nav-links,
.blogcard-avatar-hide .entry-footer .author-avatar,
.no-postauthor .author,
.no-postauthor .byline,
.no-postauthor .author-avatar,
.no-postauthor .entry-footer .entry-meta .author-name,
.no-postcats .entry-cats,
.blog.no-postdate .entry-date,
.blog.no-postdate .posted-on,
.blog-archive.no-postdate .entry-date,
.blog-archive.no-postdate .posted-on,
.blog.no-postcommentscount .entry-comments,
.blog-archive.no-postcommentscount .entry-comments,
.no-postdate-single .entry-date,
.no-postdate-single .posted-on,
.blog.no-postreadtime .reading-time,
.blog-archive.no-postreadtime .reading-time,
.no-postreadtime-single .reading-time,
.no-posttags .entry-tags,
.single-post.no-postauthor .author-avatar,
.single-post.no-postcommentscount-single .entry-comments,
.blog.no-postdate .entry-comments:before,
.blog-archive.no-postdate .entry-comments:before,
.no-postdate-single .entry-comments:before,
.no-postdate.no-postcommentscount .reading-time:before {
	display: none;
}

/* Load More Button */
.pagination {
	width: 100%;
	flex-basis: 100%;
	height: 0;
}

.loadmore {
	text-align: center;
	@include s-r-9(margin-top);
	@include push--auto;
	outline: none;
}

/* Blog Archives */
.blog-archive .page-header,
.blog .page-header {

	@include s-r-15(padding-bottom);

	.page-title {
		margin: 0;
		@include s-r-7(padding-top);
		border-top: 1px solid var(--global--color-border);

		span {
			padding-right: 0.125rem;
		}
	}

	.description p {
		margin: 0;
		@include s-r-12(padding-top);
		padding-bottom: 0;
		max-width: $col8;
	}
}

//Hide blog page title on paged blog pages.
.blog.paged .page-header {
	display: none;
}

.archive .page-header .page-title span:after {
	content: '\003A';
}

.archive.author .authorbox__wrap {
	border-top: none;
	padding: 0;
}

.archive.author .page-header .page-title {
	display: none;
}