.site-footer {
	background-color: var(--wp--custom--color--background-primary);

	.textwidget p {
		color: var(--wp--custom--color--font-secondary);
		fill: var(--wp--custom--color--font-secondary);
	}

	.footer-wrap {
		@include s-r-9 (padding-bottom);

		/* Footer Widget Area */
		.footer-widget-wrap {
			@include s-r-13(padding-bottom);

			@include breakpoint(sm) {
				display: grid;
				grid-template-columns: repeat(12, 8.333%);
			}

			.footer-widget {

				@include breakpoint(sm) {

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						grid-column-start: span 4;
					}

					&:nth-child(4),
					&:nth-child(5) {
						grid-column-start: span 6;
					}
				}

				@include breakpoint(md) {

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						grid-column-start: span 2;
					}

					&:nth-child(5) {
						grid-column-start: span 4;
					}
				}

				.widget {
					@include s-r-9(margin-top);
			
					.footerwidgets-centered & {
						text-align: center;
					}
				}

				.wp-block-search {
					@include s-r-9(padding-bottom);
				}
			}
		}

		/* Footer Credit Info and Social Menu */
		.footer-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			border-top: 1px solid var(--wp--custom--color--border);
			@include s-r-9 (padding-top);

			.footer-spacebetween & {

				@include breakpoint(md) {
					flex-direction: row-reverse;
				}
			}

			.footer-left & {
				align-self: flex-start;
			}

			.footer-right & {
				align-self: flex-end;
			}

			.footer-centered & {
				justify-content: center;
			}

			.footer-left & {
				justify-content: flex-start;
				flex-direction: column;
			}

			.site-info {
				color: var(--wp--custom--color--font-secondary);
				text-align: center;

				@include breakpoint(sm) {
					flex-basis: 33.3333333%;
					flex-grow: 0;
					text-align: left;
				}

				.footer-centered & {
					align-self: center;
				}

				.footer-left & {
					align-self: flex-start;
				}

				.footer-right & {
					align-self: flex-end;
				}

				.site-name {
					margin-right: 2px;

					&:after {
						content: '.';
					}
				}

				a {
					padding: 0;
					color: var(--wp--custom--color--font-secondary);
				}
			}

			.social-footer-nav {

				@include breakpoint(sm) {
					flex-basis: 33.3333333%;
					flex-grow: 0;
				}

				.social-links-menu {
					display: flex;
					justify-content: center;
				}

				.footer-centered & {
					justify-content: center;
				}

				.footer-left & {
					align-self: flex-start;
				}

				.footer-right & {
					align-self: flex-end;
				}

				.footer-spacebetween & {
					.social-links-menu {
						justify-content: flex-end;
					}
				}

				.footer-left &,
				.footer-right &,
				.footer-centered &,
				.footer-spacebetween & {
					@include s-r-4(padding-bottom);
				}

				
					@include breakpoint(lg) {

						.footer-spacebetween & {
							padding-bottom: 0;
						}
					}
			}

			.back-top {
				align-self: center;
				padding-top: $s-4;

				@include breakpoint(sm) {
					flex-basis: 33.3333333%;
					flex-grow: 0;
					text-align: right;
					padding-top: 0;
				}

				.footer-centered & {
					@include s-r-6(padding-top);
					align-self: center;
				}
			}
		}
	}
}

.no-footer-border-top {
	.footer-widget-wrap {
		&:before {
			height: 0;
		}
	}
}

.no-footer-border-bottom {
	.site-footer {
		.footer-wrap {

			.footer-info {
				border-top: none;
			}
		}
	}
}

// Block Theme Footer

body:not(.footer-centered) .site-footer .footer-wrap .footer-info .social-footer-nav {

	@include breakpoint(sm) {
		padding-top: 0;
	}
}

.site-footer {

	.wp-block-ainoblocks-grid-item {

		.wp-block-group:not(:last-child) {
			padding-bottom: 5rem;

			@include breakpoint(lg) {
				@include s-r-11(padding-bottom);
			}
		}
	}
}