.site-header {
	position: relative;
	@include s-r-6(padding-top);

	&.site-header {
		display: flex;
		align-items: center;
		align-content: stretch;
		justify-content: space-between;
		max-width: var(--global--max-content-width);
		@include push--auto;
	}

	.wp-block-navigation {
		justify-content:flex-start;
		flex-grow: 1;
		display: flex;
	}

	.wp-block-site-title {
		flex-grow: 1;
		line-height: var(--wp--custom--line-height--body);
	}
}

//mobile menu

.wp-block-navigation.is-responsive {

	&:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
		background: var(--wp--custom--color--background-secondary);
		color: var(--wp--custom--color--font-secondary);
	}

	&__responsive-container.is-menu-open {
		@include s-r-4(padding);
	}

	.has-child.wp-block-navigation-link {

		.wp-block-navigation-link__container {
			margin-left: 0;
		}
	}

	.wp-block-navigation__responsive-container-open {
		width: 3rem;
		height: 3rem;
		background: var(--wp--custom--color--background-secondary);
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	
		&:hover {
			background: var(--wp--custom--color--background-secondary);
		}

		@media (min-width: 600px) {
				display: none;
		}
	}

	.wp-block-navigation__responsive-container-close {
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 1rem;
		right: 1rem;
	
			&:hover {
				background: transparent;
			}

			@media (min-width: 600px) {
				display: none;
			}
	}
}

@media (min-width: 600px) {
	.wp-block-navigation:not(.has-background) .submenu-container,
	.wp-block-navigation:not(.has-background) .wp-block-navigation__container .wp-block-navigation-link__container {
		background: var(--wp--custom--color--background-secondary);
		color: var(--wp--custom--color--font-secondary);
		border: none;
		border-radius: var(--global--border-radius-xxs);
	}

	.wp-block-navigation-link {

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.wp-block-navigation:where(.has-background) a,
	.wp-block-navigation :where(.submenu-container,.wp-block-navigation-link__container) a {
		padding: 10px 24px;
	}

	.wp-block-navigation-link__container {

		.wp-block-navigation-link:first-child {
			padding-top: 14px;
		}

		.wp-block-navigation-link:last-child {
			padding-bottom: 14px;
		}
	}

	.wp-block-navigation .has-child :where(.submenu-container,.wp-block-navigation-link__container) {
		min-width: 248px;
	}
}
