.blog .site-content,
.blog-archive .site-content {
	@include s-r-12 (padding-bottom);
}

.site-main .navigation {
	@include font-body-s;
}

.blog .site-main .navigation,
.blog-archive .site-main .navigation {

	@include breakpoint(sm) {
		margin-left: $s-6;
		margin-right: $s-6;
	}
}

.blog .site-main .navigation .nav-links,
.blog-archive .site-main .navigation .nav-links {
	@include s-r-9(margin-top);
}

.blog .nav-links,
.archive .nav-links,
.search-results .nav-links,
.entry-content .page-links {
	position: relative;
	@include flexbox;
	justify-content: center;
}

.pagination .page-numbers,
.pagination .current,
.pagination .dots,
.entry-content .page-links .post-page-numbers {
	display: none;
	text-align: center;
	margin: 0 $s-2;
	padding: 0.906rem 0 0;
	width: $s-9;
	height: $s-9;

	@include breakpoint(sm) {
		display: block;
	}
}

.next.page-numbers,
.pagination .prev.page-numbers {
	display: block;
}

.blog .site-main .navigation .prev,
.blog .site-main .navigation .next,
.blog-archive .site-main .navigation .prev,
.blog-archive .site-main .navigation .next {
	margin: 0;
	width: $s-9;
	height: $s-9;
	background: transparent;
	position: absolute;
	top: 0;
}

.pagination .current,
.entry-content .page-links .current,
.entry-content .page-links .post-page-numbers:hover,
.site-main .navigation .prev:hover,
.site-main .navigation .next:hover,
.pagination a.page-numbers:hover {
	color: $color__primary;
	background: $color__background;
}

.pagination a.page-numbers:hover .icon {
	fill: $color__primary;
}

.pagination .prev.page-numbers,
.blog-archive .site-main .navigation .prev {
	left: 0;
}

.pagination .next.page-numbers,
.blog-archive .site-main .navigation .next {
	right: 0;
}

.site-main .navigation .prev .icon-arrow-left,
.site-main .navigation .next .icon-arrow-right {
	position: absolute;
	left: $s-3;
	top: $s-3;
}

.blog .site-main .navigation .meta-nav,
.blog-archive .site-main .navigation .meta-nav {
	display: none;
}

.page-numbers,
.post-page-numbers {
 @include border-radius-100;
}

/* Infinite Scroll */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {
/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
