.blog .site-content,
.blog-archive .site-content {
	padding-bottom: $spacing-desktop-9;

	@include breakpoint(sm) {
		padding-bottom: $spacing-desktop-10;
	}
}

.site-main .navigation,
.site-main .post-navigation {

	@include font-body-s;
}

.blog .site-main .navigation,
.blog-archive .site-main .navigation {

	@include breakpoint(sm) {
		margin-left: $spacing-3;
		margin-right: $spacing-3;
	}
}

.blog .site-main .navigation .nav-links,
.blog-archive .site-main .navigation .nav-links {
	margin-top: $spacing-mobile-6;

	@include breakpoint(sm) {
		margin-top: $spacing-desktop-6;
	}
}

.blog .nav-links,
.archive .nav-links,
.search-results .nav-links,
.entry-content .page-links {
	position: relative;
	@include flexbox;
	justify-content: center;
}

.pagination .page-numbers,
.pagination .current,
.pagination .dots,
.entry-content .page-links .post-page-numbers {
	display: none;
	text-align: center;
	margin: 0 $spacing-xs;
	padding: 0.906rem 0 0;
	width: $spacing-desktop-6;
	height: $spacing-desktop-6;

	@include breakpoint(sm) {
		display: block;
	}
}

.next.page-numbers,
.pagination .prev.page-numbers {
	display: block;
}

.blog .site-main .navigation .prev,
.blog .site-main .navigation .next,
.blog-archive .site-main .navigation .prev,
.blog-archive .site-main .navigation .next {
	margin: 0;
	width: $spacing-desktop-6;
	height: $spacing-desktop-6;
	background: transparent;
	position: absolute;
	top: 0;
}

.pagination .current,
.entry-content .page-links .current,
.entry-content .page-links .post-page-numbers:hover,
.site-main .navigation .prev:hover,
.site-main .navigation .next:hover,
.pagination a.page-numbers:hover {
	color: $color__primary;
	background: $color__background;
}

.pagination a.page-numbers:hover .icon {
	fill: $color__primary;
}

.pagination .prev.page-numbers,
.blog-archive .site-main .navigation .prev {
	left: 0;
}

.pagination .next.page-numbers,
.blog-archive .site-main .navigation .next {
	right: 0;
}

.site-main .navigation .prev .icon-arrow-left,
.site-main .navigation .next .icon-arrow-right {
	position: absolute;
	left: $spacing-s;
	top: $spacing-s;
}

.blog .site-main .navigation .meta-nav,
.blog-archive .site-main .navigation .meta-nav {
	display: none;
}

/* Pagination - Single Post */
.single-post .nav-links {
	padding: 0 0 $spacing-mobile-9;
	@include breakpoint(sm) {
		padding: 0 0 $spacing-desktop-9;
	}
}

.post-navigation {

	.nav-previous,
	.nav-next {
		@include flexbox;
		align-items: center;
	}

	.nav-previous {
		padding-bottom: $spacing-mobile-6;

		@include breakpoint(sm) {
			padding-bottom: 0;
		}
	}

	.nav-next {
		padding-top: $spacing-mobile-6;
		border-top: 1px solid $color__border;

		@include breakpoint(sm) {
			flex-direction: row-reverse;
			justify-content: flex-end;
			padding-top: 0;
			border-top: none;
			border-left: 1px solid $color__border;
		}
	}

	.nav-thumb {
		flex-basis: auto;
		flex-shrink: 0;
		width: $spacing-desktop-9;
		height: $spacing-desktop-9;
		margin: 0 $spacing-2 0 0;
	}

	.nav-next .nav-thumb {

		@include breakpoint(sm) {
			margin: 0 0 0 $spacing-2;
		}
	}

	.nav-title {
		display: block;
	}

	.nav-next .nav-title {

		@include breakpoint(sm) {
			text-align: right;
			flex-grow: 3;
		}
	}

	.nav-title span {
		display: block;
	}
}

.page-numbers,
.post-page-numbers {
 @include border-radius-100;
}

/* Infinite Scroll */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer {
/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}
