.page-template-default,
.tpl-fullwidth,
.single-post,
.error404,
.search-no-results {

	.entry-header {
		display: block;
		text-align: center;
		padding-top: 0;
		padding-bottom: $spacing-mobile-8;

		@include breakpoint(sm) {
			padding-bottom: $spacing-desktop-8;
		}
	}
}

.entry-header {

	.entry-title {
		margin: 0;
	}

	.archive .type-page &,
	.search-results .type-page & {
		padding-top: $spacing-mobile-4;
		padding-bottom: 0;

		@include breakpoint(sm) {
			padding-top: $spacing-desktop-4;
			padding-bottom: 0;
		}
	}
}

.entry-footer {

	.archive .type-page &,
	.search-results .type-page & {
		display: none;
	}
}

/* Site Building Page */
.tpl-fullscreen,
.tpl-hero {

	.type-page .entry-header {
		display: none;
	}

	.site-content {
		max-width: none;
		padding: 0;
	}

	.site-content .type-page {
		clear: both;
		overflow: hidden;
	}

	.site-content .entry-content {
		padding-top: 0;
		padding-bottom: 0;
		float: none;
	}
}

/* Fullwidth Page */
.tpl-fullwidth-notitle {

	.type-page .entry-header {
		display: none;
	}
}
