.single-post {

	.site-main {
		padding: 0;
	}

	.has-post-thumbnail .entry-content {
		@include s-r-9 (padding-top);
	}

	.hentry.comments-closed.no-comments {
		@include s-r-9 (padding-bottom);
	}

	.entry-header .entry-title {
		margin: 0 auto;
	}

	& .entry-meta {
		padding: $s-4 0 0;
		text-align: center;
	}

	& .entry-cats {
		@include flexbox;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 0 $s-4;

		a {
			padding-left: $s-1;
		}
	}

	& .byline {
		display: block;
		color: $color__text_two;
	}

	& .entry-comments {
		position: relative;
		display: inline-block;
	}

	.post-thumb {

		justify-content: center;
		@include flexbox;

		& img {
			display: block;
		}
	}

	.entry-footer {
		padding-top: $s-4;

		@include breakpoint(sm) {
			padding-top: $s-4;
		}

		.entry-tags {
			@include flexbox;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

/* Customize Setting - Theme - Style Featured Images Border Radius */
.post-thumb img {

	.single-post & {
		border-radius: 0;
	}

	.single-post.featuredimg-radius-none & {
		border-radius: 0;
	}

	.single-post.featuredimg-radius-s & {
		border-radius: $border-radius-s;
	}

	.single-post.featuredimg-radius-m & {
		border-radius: $border-radius-m;
	}

	.single-post.featuredimg-radius-l & {
		border-radius: $border-radius-l;
	}
}

/* Related Posts */
.related-wrap {
	@include s-r-14 (margin-top);
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.related .section-title {
	@include flexbox;
	justify-content: space-between;
	@include s-r-9 (padding-bottom);

	@include breakpoint(sm) {
		line-height: 1;
	}

	.related-more-link {
		display: none;

		@include breakpoint(sm) {
			@include flexbox;
			letter-spacing: 0;
		}
	}
}

.related-container {
	@include flexbox;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.related-post {
	@include s-r-9 (margin-bottom);

	@include breakpoint(sm) {
		float: left;
	}
}

.related-img {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0 0 $s-6;

	&:hover {
		background: $color__white;
	}
}

.related-thumb {
	line-height: 0;
}

/* Comments */
.comments-area {
	@include s-r-9 (padding-top);
	@include s-r-9 (padding-bottom);
	clear: both;
}

.comments-area .comments-title {
	display: block;
	position: relative;
	padding: 0 0 $s-6;

	span {
		display: none;
		@include font-regular;
		@include breakpoint(sm) {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 12px;
			padding: 0;
		}
	}
}

.comment-list {
	list-style: none;

	.children {
		margin-left: 46px;
		padding: 0;
		list-style: none;
	}
}

.comment-body {
	position: relative;
	margin: $s-6 0 0;
	padding: 0;
}

.comment-content-wrap {
	margin-left: 6px;
	background-color: $color__background;
	padding: 6px $s-3;

	@include breakpoint(sm) {
		padding: $s-4;
	}

	p {
		margin: 0 0 $s-2;

		&:last-child {
			margin: 0;
		}
	}
}

.comments-border .comment-content-wrap {
	border: 1px solid $color__border;
}

.comment-meta {
	padding: $s-1 0 0 58px;
	@include breakpoint(sm) {
		padding: $s-1 0 0 62px;
	}

	.children & {
		padding: $s-1 0 0 42px;
		@include breakpoint(sm) {
			padding: $s-1 0 0 46px;
		}
	}

	time {
		display: inline;
	}
}

.comment-body {

	p.comment-awaiting-moderation {
		margin: 0 0 0;
		display: inline-block;
		@include breakpoint(sm) {
			margin: 0 0 0;
		}
	}

	.reply {
		display: inline;
	}
}

.comments-area .no-comments {
	@include s-r-8 (margin-top);
}

.comment-metadata .edit-link,
.comment-metadata .reply {
	display: inline;
	margin-left: -2px;
}

.comment-edit-link,
.comment-metadata .comment-reply-link {
	padding-left: $s-1;
}

.comment-author {

	padding-bottom: $s-1;

	.fn {
		@include font-body-xs;
	}
}

/* Comments Reply */
.comment-respond {
	position: relative;
	padding: 0;
	@include s-r-8 (margin-top);
	margin-bottom: 0;
}

.comment-reply-title {
	position: relative;
}

.comment-reply-title #cancel-comment-reply-link {
	display: block;
	padding-top: $s-2;
	font-weight: normal;
	@include font-body-xxs;
	@include breakpoint(sm) {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.comment-respond .form-submit {
	margin: 0;
}

.comment-notes,
.logged-in-as {
	margin: 0;
	padding: $s-2 0 $s-6;

	@include breakpoint(sm) {
		padding: $s-4 0 $s-7;
	}
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
	margin: $s-4 0 0;
}

/* Authorbox */
.authorbox-wrap {
	@include flexbox;
	flex-direction: column;
	justify-content: center;
	@include s-r-12 (padding-top);
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;

	@include breakpoint(sm) {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.authorbox-content {
	text-align: center;
	@include breakpoint(sm) {
		text-align: left;
		flex: 3;
	}
}

.authorbox-title {
	padding: 0 0 $s-2;

	@include breakpoint(sm) {
		padding: 0 0 $s-2;
	}
}

.authorbox .author-name {
	padding: 0 0 $s-4;
}

.authorbox-content span {
	display: block;
}

.authorbox-content .author-bio {
	margin: 0;
	padding: $s-4 0 0 0;
}

/* Authorbox on Archive */
.archive.author .author-name span {
	padding-top: $s-2;
}

.archive.author .author-pic {
	display: block;
	width: $s-11;
	padding-bottom: $s-4;

	@include breakpoint(sm) {
		width: $s-15;
		margin-right: $s-9;
		padding-bottom: 0;
	}
}

.archive.author .author-pic img {
	@include avatar-xl;
}

.archive.author .authorbox-content {
	width: 100%;

	@include breakpoint(sm) {
		width: calc(100% - 208px);
		max-width: 480px;
	}

	h1 {
		margin: 0;
	}

}
