.single-post {

	.site-main {
		padding: 0;
	}

	.has-post-thumbnail .entry-content {
		@include s-r-9 (padding-top);
	}

	.hentry.comments-closed.no-comments {
		@include s-r-9 (padding-bottom);
	}

	.entry-header .entry-title {
		margin: 0 auto;
	}

	& .entry-meta {
		@include s-r-4 (padding-top);
		text-align: center;
	}

	& .entry-header {

		@include s-r-9 (padding-bottom);

		.entry-cats {
			@include flexbox;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding: 0;
		}
	}

	& .byline {
		color: $color__text_two;
	}

	& .entry-comments {
		position: relative;
		display: inline-block;
	}

	& .posted-on {
		display: block;
	}

	.post-thumb {

		justify-content: center;
		@include flexbox;

		& img {
			display: block;
		}
	}

	.entry-footer {
		padding-top: $s-9;

		.entry-tags {
			@include flexbox;
			flex-wrap: wrap;
			justify-content: start;
		}
	}
}

/* Customize Setting - Theme - Style Featured Images Border Radius */
.post-thumb img {

	.single-post & {
		border-radius: 0;
	}

	.single-post.featuredimg-radius-none & {
		border-radius: 0;
	}

	.single-post.featuredimg-radius-s & {
		border-radius: $border-radius-s;
	}

	.single-post.featuredimg-radius-m & {
		border-radius: $border-radius-m;
	}

	.single-post.featuredimg-radius-l & {
		border-radius: $border-radius-l;
	}
}

/* Related Posts on Single Post */
.related-wrap {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	.section-title {
		@include s-r-12 (padding-bottom);

		span {
			display: block;
			@include s-r-7 (padding-top);
			border-top: 1px solid $color__border;
		}
	}

	.related-container {
		@include flexbox;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.related-post {
		padding-bottom: $s-6;

		@include breakpoint(sm) {
			float: left;
			padding-bottom: 0;
		}
		.related-img {
			position: relative;
			overflow: hidden;
			display: block;
			@include s-r-6 (padding-bottom);
		}
		.related-thumb {
			line-height: 0;
		}

		.entry-cats {
			@include s-r-2 (padding-bottom);
		}
	}
}

/* Comments */
.comments-area {
	@include s-r-15 (padding-top);
}

.comments-area .comments-title {

	span {
		display: block;
		@include s-r-7 (padding-top);
		@include s-r-12 (padding-bottom);
		border-top: 1px solid $color__border;
	}
}

.comment-list {
	list-style: none;

	.children {
		margin-left: 0;
		padding: 0;
		list-style: none;

		.children {
			margin-left: 0;
		}
	}
}

.comment-content {
	flex-grow: 1;
	border-bottom: 1px solid $color__border;

	p {
		margin: 0;
		@include s-r-6 (padding-bottom);
	}

	.comment-meta {
		@include s-r-7 (padding-bottom);
	}
}

.comment-author {
	display: flex;
	align-items: center;
	@include s-r-2 (padding-bottom);
}

.comment-avatar {
	flex-basis: 40px;
	@include avatar-s;
	border-radius: 50%;
	@include s-r-4 (margin-right);

	img {
		border-radius: 50%;
		max-width: 48px;
	}
}

.comment-author .avatar {
	display: block;
	@include avatar-s;
	margin: 0 $s-3 0 0;
}

.comment-body {
	position: relative;
	margin: $s-6 0 0;
	padding: 0;
	@include flexbox;
	justify-content: flex-start;
	align-items: flex-start;

	p.comment-awaiting-moderation {
		margin: 0 0 0;
		display: inline-block;
		@include breakpoint(sm) {
			margin: 0 0 0;
		}
	}

	.comment-metadata {
		display: flex;
	}

	.reply {
		display: inline;
	}
}

.comments-area .no-comments {
	@include s-r-8 (margin-top);
}

/* Comments Reply */
.comment-respond {
	position: relative;
	padding: 0;
	@include s-r-12 (margin-top);
	margin-bottom: 0;
}

.comment-reply-title {
	position: relative;
}

.comment-reply-title #cancel-comment-reply-link {
	display: block;
	@include s-r-2 (padding-top);
	font-weight: normal;
	letter-spacing: 0;
}

.comment-respond .form-submit {
	margin: 0;
}

.comment-notes,
.logged-in-as {
	margin: 0;
	@include s-r-2 (padding-top);
	padding-bottom: 0;
}

/* Authorbox */
.authorbox__wrap {
	@include s-r-15 (padding-top);

	.section-title {
		display: block;
		border-top: 1px solid $color__border;
		@include s-r-7 (padding-top);
		@include s-r-12 (padding-bottom);
	}

	.authorbox__content {
		@include s-r-15 (padding-bottom);

		@include breakpoint(lg) {
			max-width: 100%;
		}
	}
}

.authorbox-title {
	padding: 0 0 $s-2;

	@include breakpoint(sm) {
		padding: 0 0 $s-2;
	}
}

.authorbox .author-name {
	padding: 0 0 $s-4;
}

.authorbox__content span {
	display: block;
}

.authorbox__content .author-bio {
	margin: 0;
	@include s-r-9 (padding-top);
	padding-bottom: 0;
}

/* Authorbox on Archive */
.archive.author .author-pic {
	display: block;
	width: $s-11;
	padding-bottom: $s-4;

	@include breakpoint(sm) {
		width: $s-15;
		margin-right: $s-9;
		padding-bottom: 0;
	}
}

.archive.author .author-pic img {
	@include avatar-l;
}

.archive.author .authorbox__content {

	h1 {
		margin: 0;
	}

}
