/* Structure */
.site-content {
	padding-top: $spacing-3;

	@include breakpoint(m) {
		padding-top: $spacing-desktop-7;
	}
}

.entry-content {

	.error404 &,
	.type-page & {
		padding-bottom: $spacing-mobile-8;

		@include breakpoint(m) {
			padding-bottom: $spacing-desktop-8;
		}
	}
}