/* Grid General */
.col,
.column,
.row {
	box-sizing: border-box;
}

.row:after,
.row:before {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

/* Grid max widths */
.archive .site-content,
.blog .site-content,
.container-standard,
.error404 .site-content,
.footer-wrap,
.related,
.search .site-content,
.single-post .site-content,
.single-post .post-thumb,
.single-post .post-navigation {
	max-width: $website-width;
	@include push--auto;
}

.single-post .col,
.single-post .entry-header,
.page-template-default .entry-header,
.page-template-default .col,
.tpl-fullwidth {
	@include push--auto;
}

/* Default Content width (680px on desktop screens) */
.entry-content > *,
.single-post .entry-header,
.single-post .entry-footer,
.page-template-default .entry-header,
.single-post .comments-area {
	@include push--auto;

	@include breakpoint(s) {
		max-width: $col7-nopadding;
	}
}

/* Wide content width (1200px on desktop screens) */
.tpl-fullwidth .entry-content > *,
.tpl-fullwidth .entry-header {
	@include push--auto;

	@include breakpoint(s) {
		max-width: $col12-nopadding;
	}
}

/* Fullscreen content width */
.tpl-fullscreen .entry-content > *,
.tpl-fullscreen .entry-header {
	@include push--auto;
	max-width: 100%;
}

/* Alignwide and fullwidth Content widths */
.entry-content > *.alignwide {
	max-width: $col12-nopadding;
}

/* 8-col grid width (max 784px) */
.page-header .page-title,
.archive-description {
	max-width: $col7;
}

/* Grid Margins and Paddings */

// All elements with 1248px and 24px padding left and right that include inner containers with 24px padding.
.blog .site-main,
.archive .site-main,
.search-results .site-main,
.footer-widget-wrap,
.related-container,
.single-post .post-navigation {
	padding-left: $grid-margins-s;
	padding-right: $grid-margins-s;

	@include breakpoint(xs) {
		padding-left: $grid-margins-l;
		padding-right: $grid-margins-l;
	}
	@include breakpoint(s) {
		padding-left: $grid-margins-s;
		padding-right: $grid-margins-s;
	}
	@include breakpoint(l) {
		padding-left: 0;
		padding-right: 0;
	}
}

// All elements with 1248px and 24px padding left and right and no inner containers that contain 24px padding.
.site-info,
.social-footer-nav,
.blog-archive .page-header,
.single-post .post-thumb,
.footer-info {
	padding-left: $grid-margins-s;
	padding-right: $grid-margins-s;

	@include breakpoint(xs) {
		padding-left: $grid-margins-l;
		padding-right: $grid-margins-l;
	}
	@include breakpoint(m) {
		padding-left: $grid-margins-l;
		padding-right: $grid-margins-l;
	}
	@include breakpoint(l) {
		padding-left: $grid-margins-s;
		padding-right: $grid-margins-s;
	}
}

.related .section-title {
	margin-left: $grid-margins-s;
	margin-right: $grid-margins-s;

	@include breakpoint(xs) {
		margin-left: $grid-margins-l;
		margin-right: $grid-margins-l;
	}
	@include breakpoint(m) {
		margin-left: $grid-margins-l;
		margin-right: $grid-margins-l;
	}
	@include breakpoint(l) {
		margin-left: $grid-margins-s;
		margin-right: $grid-margins-s;
	}
}

// All containers with 680px default width.
.page-template-default .entry-header,
.page-template-default .entry-content,
.single-post .hentry .entry-header,
.single-post .hentry .entry-content,
.single-post .comments-area,
.single-post .hentry .entry-footer,
.search-no-results .entry-content {
	padding-left: $grid-margins-s;
	padding-right: $grid-margins-s;

	@include breakpoint(xs) {
		padding-left: $grid-margins-l;
		padding-right: $grid-margins-l;
	}
	@include breakpoint(s) {
		padding-left: 0;
		padding-right: 0;
	}
}

// All containers with 1200px default width.
.tpl-fullwidth .entry-header,
.tpl-fullwidth .hentry .entry-content {
	padding-left: $grid-margins-s;
	padding-right: $grid-margins-s;

	@include breakpoint(xs) {
		padding-left: $grid-margins-l;
		padding-right: $grid-margins-l;
	}

	@include breakpoint(l) {
		padding-left: $grid-margins-s;
		padding-right: $grid-margins-s;
	}

	.alignwide {
		@include breakpoint(m) {
			padding-left: 0;
			padding-right: 0;
		}

		@include breakpoint(l) {
			padding-left: $grid-margins-s;
			padding-right: $grid-margins-s;
		}
	}
}

/* Grid Columns */
.posts-container,
.single-post .nav-links {

	@include flexbox;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
}

.col,
.posts-container .type-page,
.posts-container .type-post {
	position: relative;
}

/* 1-Column */
.blog-1-column .posts-container .type-page,
.blog-1-column .posts-container .type-post,
.footer-1-column .footer-widget {
	width: 100%;
	flex-grow: 0;
	flex-basis: 100%; // 1-column on mobile
	clear: both;
	float: none;
}

.blog-1-column .posts-container .hentry {
	width: 100%;
	float: none;
}

/* 2-Columns */
.blog-2-column .posts-container .hentry,
.posts-container .hentry,
.s6,
.single-post .related-post,
.single-post .navigation .next,
.single-post .navigation .prev {
	width: 100%; // 1-column on mobile
	flex-grow: 0;

	@include breakpoint(m) {
		flex-basis: calc(50% - 48px);
		margin-left: $spacing-desktop-3;
		margin-right: $spacing-desktop-3;
	}
}

.post-navigation .nav-next,
.post-navigation .nav-previous {
	width: 100%; // 1-column on mobile
	flex-grow: 0;

	@include breakpoint(m) {
		flex-basis: calc(50%);
		padding-left: $spacing-desktop-3;
		padding-right: $spacing-desktop-3;
	}
}


/* 3-Columns */
.blog-3-column .posts-container .hentry,
.header-infobar .col,
.s4,
.single-post .related-post {
	width: 100%;
	flex-grow: 0;
	@include breakpoint(s) {
		flex-basis: calc(50% - 32px);
		margin-left: $spacing-2;
		margin-right: $spacing-2;
	}
	@include breakpoint(m) {
		flex-basis: calc(50% - 48px);
		margin-left: $spacing-3;
		margin-right: $spacing-3;
	}
	@include breakpoint(l) {
		flex-basis: calc(33.333% - 48px);
	}
}
