.mobile-hide {
	display: none;

	@include breakpoint(sm) {
		display: block;
	}
}

.no-hyphens {
	hyphens: none !important;
}

.no-letterspacing {
	letter-spacing: 0 !important;
}

.wp-block-group:where(.has-background) {
	padding: inherit;
}