
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
	clear: both;
}
.cf:before, .cf:after {content: " "; /* 1 */ display: table; /* 2 */}
.cf:after {clear: both;}

.clearfix:after, .clear:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.mobile-hide {
	display: none;

	@include breakpoint(sm) {
		display: block;
	}
}

.no-hyphens {
	hyphens: none !important;
}

.no-letterspacing {
	letter-spacing: 0 !important;
}