// Fix pattern inserter preview for fullwidth container blocks
.block-editor-block-list__layout.is-root-container>.fullwidth {
	max-width: none !important;
}

/* Alignments and block widths */
.wp-site-blocks>*+* {
	margin-top: 0;
}

.wp-block-group.alignfull .alignwide .alignwide,
.wp-block-ainoblocks-accordion-faq-block.alignfull .alignwide {
	padding-left: 0;
	padding-right: 0;
}

.wp-block-group.alignfull>.alignfull,
*[class*="wp-container-"]>.alignfull,
.wp-block-ainoblocks-accordion-faq-block.alignfull .wp-block-separator.alignfull {
	width: calc(100% + var(--widewidth-outer-gap) + var(--widewidth-outer-gap)) !important;
	margin-left: calc(-1 * var(--widewidth-outer-gap)) !important;
	margin-right: calc(-1 * var(--widewidth-outer-gap)) !important;
}

.alignfull .default-content-width {
	@include push--auto;
	padding-left: 0;
	padding-right: 0;
}

// Wide width content area
.alignfull .alignwide {
	max-width: var(--global--wide-content-width);
	margin-left: auto;
	margin-right: auto;
}

.entry-content>* {

	.aligncenter {
		clear: both;
		@include push--auto;
	}
}

// Default post width
.entry-content.post-width>*:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
	@include push--auto;
	max-width: var(--global--default-content-width);
}

// Outer padding wide width and header
.content-gap,
.wp-block-group.has-background.content-gap,
.site-footer,
.alignfull .alignwide,
.wp-block-ainoblocks-accordion-faq-block.alignfull {
	padding-left: var(--widewidth-outer-gap);
	padding-right: var(--widewidth-outer-gap);
}

.outer-gap,
.site-header {
	padding-left: var(--outer--gap);
	padding-right: var(--outer--gap);
}

/* Centered elements */
.push-center,
.center {
	@include push--auto;
}

/* Default wide page width */
.site-main .site-content,
.site-footer .footer-content,
.archive-header {
	max-width: var(--global--wide-content-width);
	@include push--auto;
}

/* Default content width */
.single-post .entry-content>*,
.page-template-default .entry-content>*,
.single .entry-tags,
.comment-list,
.comment-respond,
.authorbox__details,
.author-pic-link,
.default-content-width {
	max-width: var(--global--default-content-width);
}

/* Grid Columns */
.posts-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
}

.col,
.posts-container .type-page,
.posts-container .type-post {
	position: relative;
}

/* Blog Post Columns */
/* 1-Column */
.blog-1-column .posts-container .type-page,
.blog-1-column .posts-container .type-post,
.footer-1-column .footer-widget {
	width: 100%;
	flex-grow: 0;
	flex-basis: 100%; // 1-column on mobile
	clear: both;
	float: none;
}

.blog-1-column .posts-container .hentry {
	width: 100%;
	float: none;
}

/* 2-Column grid tablet */
@include breakpoint(sm) {

	.two-col-grid-tablet {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
	}
}

@include breakpoint(lg) {

	.two-col-grid-tablet {
		display: block;
	}
}

// Small, medium, lager grid gaps
.gap-s .wp-block-post-template {
	@include gap-s;
}

.gap-m .wp-block-post-template {
	@include gap-m;
}

.gap-l .wp-block-post-template {
	@include gap-l;
}

.gap-xl .wp-block-post-template {
	@include gap-xl;
}
