.image-border img,
.img-border {
	border: 4px solid var(--wp--custom--color--border);
}

embed,
iframe,
object {
	max-width: 100%;
}

img,
video {
	height: auto;
	max-width: 100%;
}

audio,
video {
	display: inline-block;
}

figure {
	margin: 0;
}
