// All borders
.border-radius-xxs,
.border-radius-xxs img {
	border-radius: var(--global--border-radius-xxs);
}

.border-radius-xs,
.border-radius-xs img {
	border-radius: var(--global--border-radius-xs);
}

.border-radius-s,
.border-radius-s img {
	border-radius: var(--global--border-radius-s);
}

.border-radius-m,
.border-radius-m img {
	border-radius: var(--global--border-radius-m);
}

.border-radius-l,
.border-radius-l img {
	border-radius: var(--global--border-radius-l);
}

.border-radius-xl,
.border-radius-xl img {
	border-radius: var(--global--border-radius-xl);
}

.border-radius-xxl,
.border-radius-xxl img {
	border-radius: var(--global--border-radius-xxl);
}

.border-radius-xxxl,
.border-radius-xxxl img {
	border-radius: var(--global--border-radius-xxxl);
}

.border-radius-xxxxl,
.border-radius-xxxxl img {
	border-radius: var(--global--border-radius-xxxxl);
}

.border-radius-round,
.border-radius-round img {
	border-radius: var(--global--border-radius-round);
}

// border-top-left-radius
.border-top-left-radius-xxs,
.border-top-left-radius-xxs img {
	border-top-left-radius: var(--global--border-radius-xxs);
}

.border-top-left-radius-xs,
.border-top-left-radius-xs img {
	border-top-left-radius: var(--global--border-radius-xs);
}

.border-top-left-radius-s,
.border-top-left-radius-s img {
	border-top-left-radius: var(--global--border-radius-s);
}

.border-top-left-radius-m,
.border-top-left-radius-m img {
	border-top-left-radius: var(--global--border-radius-m);
}

.border-top-left-radius-l,
.border-top-left-radius-l img {
	border-top-left-radius: var(--global--border-radius-l);
}

.border-top-left-radius-xl,
.border-top-left-radius-xl img {
	border-top-left-radius: var(--global--border-radius-xl);
}

.border-top-left-radius-xxl,
.border-top-left-radius-xxl img {
	border-top-left-radius: var(--global--border-radius-xxl);
}

.border-top-left-radius-xxxl,
.border-top-left-radius-xxxl img {
	border-top-left-radius: var(--global--border-radius-xxxl);
}

.border-top-left-radius-xxxxl,
.border-top-left-radius-xxxxl img {
	border-top-left-radius: var(--global--border-radius-xxxxl);
}

.border-top-left-radius-round,
.border-top-left-radius-round img {
	border-top-left-radius: var(--global--border-radius-round);
}

// border-top-right-radius
.border-top-right-radius-xxs,
.border-top-right-radius-xxs img {
	border-top-right-radius: var(--global--border-radius-xxs);
}

.border-top-right-radius-xs,
.border-top-right-radius-xs img {
	border-top-right-radius: var(--global--border-radius-xs);
}

.border-top-right-radius-s,
.border-top-right-radius-s img {
	border-top-right-radius: var(--global--border-radius-s);
}

.border-top-right-radius-m,
.border-top-right-radius-m img {
	border-top-right-radius: var(--global--border-radius-m);
}

.border-top-right-radius-l,
.border-top-right-radius-l img {
	border-top-right-radius: var(--global--border-radius-l);
}

.border-top-right-radius-xl,
.border-top-right-radius-xl img {
	border-top-right-radius: var(--global--border-radius-xl);
}

.border-top-right-radius-xxl,
.border-top-right-radius-xxl img {
	border-top-right-radius: var(--global--border-radius-xxl);
}

.border-top-right-radius-xxxl,
.border-top-right-radius-xxxl img {
	border-top-right-radius: var(--global--border-radius-xxxl);
}

.border-top-right-radius-xxxxl,
.border-top-right-radius-xxxxl img {
	border-top-right-radius: var(--global--border-radius-xxxxl);
}

.border-top-right-radius-round,
.border-top-right-radius-round img {
	border-top-right-radius: var(--global--border-radius-round);
}

// border-bottom-right-radius
.border-bottom-right-radius-xxs,
.border-bottom-right-radius-xxs img {
	border-bottom-right-radius: var(--global--border-radius-xxs);
}

.border-bottom-right-radius-xs,
.border-bottom-right-radius-xs img {
	border-bottom-right-radius: var(--global--border-radius-xs);
}

.border-bottom-right-radius-s,
.border-bottom-right-radius-s img {
	border-bottom-right-radius: var(--global--border-radius-s);
}

.border-bottom-right-radius-m,
.border-bottom-right-radius-m img {
	border-bottom-right-radius: var(--global--border-radius-m);
}

.border-bottom-right-radius-l,
.border-bottom-right-radius-l img {
	border-bottom-right-radius: var(--global--border-radius-l);
}

.border-bottom-right-radius-xl,
.border-bottom-right-radius-xl img {
	border-bottom-right-radius: var(--global--border-radius-xl);
}

.border-bottom-right-radius-xxl,
.border-bottom-right-radius-xxl img {
	border-bottom-right-radius: var(--global--border-radius-xxl);
}

.border-bottom-right-radius-xxxl,
.border-bottom-right-radius-xxxl img {
	border-bottom-right-radius: var(--global--border-radius-xxxl);
}

.border-bottom-right-radius-xxxxl,
.border-bottom-right-radius-xxxxl img {
	border-bottom-right-radius: var(--global--border-radius-xxxxl);
}

.border-bottom-right-radius-round,
.border-bottom-right-radius-round img {
	border-bottom-right-radius: var(--global--border-radius-round);
}

// border-bottom-left-radius
.border-bottom-left-radius-xxs,
.border-bottom-left-radius-xxs img {
	border-bottom-left-radius: var(--global--border-radius-xxs);
}

.border-bottom-left-radius-xs,
.border-bottom-left-radius-xs img {
	border-bottom-left-radius: var(--global--border-radius-xs);
}

.border-bottom-left-radius-s,
.border-bottom-left-radius-s img {
	border-bottom-left-radius: var(--global--border-radius-s);
}

.border-bottom-left-radius-m,
.border-bottom-left-radius-m img {
	border-bottom-left-radius: var(--global--border-radius-m);
}

.border-bottom-left-radius-l,
.border-bottom-left-radius-l img {
	border-bottom-left-radius: var(--global--border-radius-l);
}

.border-bottom-left-radius-xl,
.border-bottom-left-radius-xl img {
	border-bottom-left-radius: var(--global--border-radius-xl);
}

.border-bottom-left-radius-xxl,
.border-bottom-left-radius-xxl img {
	border-bottom-left-radius: var(--global--border-radius-xxl);
}

.border-bottom-left-radius-xxxl,
.border-bottom-left-radius-xxxl img {
	border-bottom-left-radius: var(--global--border-radius-xxxl);
}

.border-bottom-left-radius-xxxxl,
.border-bottom-left-radius-xxxxl img {
	border-bottom-left-radius: var(--global--border-radius-xxxxl);
}

.border-bottom-left-radius-round,
.border-bottom-left-radius-round img {
	border-bottom-left-radius: var(--global--border-radius-round);
}