body,
button,
input,
select,
table,
textarea {
	line-height: var(--wp--custom--line-height--body);
	color: var(--wp--custom--color--font-secondary);
}

.wp-block-image figcaption,
div[class*='wp-block-'] figcaption,
.wp-block-calendar table,
.hentry .entry-summary,
.posts-container .hentry .entry-footer,
.wc-block-grid__product-price,
.wc-block-components-product-sale-badge,
.wc-block-components-sort-select__select,
#cancel-comment-reply-link {
	font-size: var(--global--font-size--body-xs) !important;
	color: var(--wp--custom--color--font-secondary);
}

.single .navigation a span.nav-subtitle,
.entry-content p.has-extrasmall-font-size,
.entry-content p.has-xs-font-size,
.entry-content .wp-block-post-excerpt.has-xs-font-size p,
.entry-content .wp-block-post-terms.has-xs-font-size,
.entry-content .sharedaddy h3.sd-title,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wc-block-components-checkout-step__heading-content,
.entry-content p.wc-block-components-checkout-step__description,
.entry-content .wc-block-components-product-metadata__description p,
.wp-block-post-template.columns-5 .wp-block-post-excerpt__excerpt,
.wp-block-post-template.columns-5 .wp-block-post-date,
.wp-block-post-template.columns-5 .wp-block-post-author__name,
.wp-block-post-template.columns-6 .wp-block-post-excerpt__excerpt,
.wp-block-post-template.columns-6 .wp-block-post-date,
.wp-block-post-template.columns-6 .wp-block-post-author__name,
.woocommerce-notices-wrapper ul {
	font-size: var(--global--font-size--body-xs) !important;;
}

.post-header,
.entry-content,
.site-content {

	p.has-x-font-size,
	.has-x-font-size p {
		font-size: var(--global--font-size--body-s) !important;
	}
}

.wp-block-post-comments .commentlist,
.post-header,
.entry-content,
.site-content {

	form label,mark
	label .required,
	.comment-notes,
	.logged-in-as,
	p.has-xs-font-size,
	.has-xs-font-size p,
	.onsale,
	.woocommerce-checkout-review-order-table,
	.payment_box p,
	.wc-block-grid__product-onsale,
	.wc-block-components-sale-badge,
	.comment-reply-title #cancel-comment-reply-link,
	.reply,
	.wp-block-post-template.columns-6 .wp-block-post-excerpt__excerpt,
	.woocommerce-review__published-date,
	.wp-block-post-author__name,
	.comment-body .comment-author,
	.comment p,
	.woocommerce .woocommerce-form-register p,
	.wp-block-ainoblocks-card .woocommerce-form-register p,
	.woocommerce .woocommerce-ResetPassword p,
	.wp-block-ainoblocks-card .woocommerce-ResetPassword p,
	.woocommerce-form .lost_password,
	.woocommerce-privacy-policy-text p,
	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-notice,
	.woocommerce-MyAccount-content address,
	.woocommerce-order-details .woocommerce-table,
	.woocommerce-orders-table,
	.woocommerce-MyAccount-navigation li {
		font-size: var(--global--font-size--body-xs) !important;
	}
}

.hentry {

	.entry-summary,
	.entry-cats,
	.entry-footer {

		.blog-1-column &,
		.blog-2-column & {
			font-size: var(--global--font-size--body-m) !important;;
		}
	}
}

.page-header .description p,
.entry-content p.has-m-font-size,
.single-post .entry-content p,
.single-product .entry-content p,
li.has-m-font-size,
.entry-content .wp-block-post-excerpt.has-m-font-size p,
.entry-content .wp-block-post-terms.has-m-font-size,
.mc4wp-form .mc4wp-alert p,
input,
select,
table,
textarea,
address,
.woocommerce-info,
.page .woocommerce-form p,
.woocommerce-form-login-toggle,
.entry-content form p,
.wc-block-cart__sidebar .wc-block-cart__totals-title,
.custom-product-page-link,
.hentry ol,
.hentry ul,
dl,
.authorbox-wrap .wp-block-post-author__bio,
.wc-block-components-shipping-calculator-address .wc-block-components-text-input label,
.wc-block-components-totals-coupon__form .wc-block-components-text-input label,
.wc-block-components-form .wc-block-components-text-input label,
.wc-block-components-text-input label {
	font-size: var(--global--font-size--body-m) !important;;
}

.entry-content p.has-l-font-size,
.authorbox__content .author-bio,
.entry-content .wp-block-post-excerpt.has-l-font-size p,
.entry-content .wp-block-post-terms.has-l-font-size,
.wc-block-components-order-summary__button-text,
.wp-block-separator.is-style-dots:before,
.authorbox-wrap .wp-block-post-author__byline,
.authorbox-wrap .wp-block-post-author__name,
.wp-block-post-comments p.nocomments {
	font-size: var(--global--font-size--body-l) !important;;
}

.entry-content p.has-xl-font-size,
.entry-content .wp-block-post-excerpt.has-xl-font-size p,
.entry-content .wp-block-post-terms.has-xl-font-size,
.order-total .woocommerce-Price-amount,
.entry-summary p.price {
	font-size: var(--global--font-size--body-xl) !important;;
}

.entry-content {
	p.has-xxl-font-size,
	.wp-block-post-excerpt.has-xxl-font-size p,
	.wp-block-post-terms.has-xxl-font-size {
		font-size: var(--global--font-size--body-xxl) !important;;
	}
}

.entry-content {
	p.has-xxl-font-size,
	.wp-block-post-excerpt.has-xxl-font-size p,
	.wp-block-post-terms.has-xxl-font-size {
		font-size: var(--global--font-size--body-xxl) !important;;
	}
}

.entry-content p.has-xxxl-font-size,
.page-header .description p,
.entry-content .wp-block-post-excerpt.has-xxxl-font-size p,
.entry-content .wp-block-post-terms.has-xxxl-font-size {
	font-size: var(--global--font-size--body-xxxl) !important;;
}

.entry-content {
	p.has-xxxxl-font-size,
	.wp-block-post-excerpt.has-xxxxl-font-size p,
	.wp-block-post-terms.has-xxxxl-font-size {
		font-size: var(--global--font-size--body-xxxxl) !important;;
	}
}

.entry-content {
		p.has-xxs-font-size,
		.wp-block-post-excerpt.has-xxs-font-size p,
		.wp-block-post-terms.has-xxs-font-size {
		font-size: var(--global--font-size--body-xxs) !important;;
	}
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--wp--custom--color--font-primary);
}

h1.site-title,
.site-title,
h2.entry-title {
	word-wrap: break-word;
	hyphens: auto;
}

h1.has-xxxxl-font-size {
	font-size: var(--global--font-size--heading-13) !important;
}

h1.has-xxxl-font-size,
h2.has-xxxxl-font-size {
	font-size: var(--global--font-size--heading-12) !important;
}

h1.has-xxl-font-size,
h2.has-xxxl-font-size,
h3.has-xxxxl-font-size {
	font-size: var(--global--font-size--heading-11) !important;
}

h1.has-xl-font-size,
h2.has-xxl-font-size,
h3.has-xxxl-font-size,
h4.has-xxxxl-font-size {
	font-size: var(--global--font-size--heading-10) !important;
}

h1.has-l-font-size,
h2.has-xl-font-size,
h3.has-xxl-font-size,
h4.has-xxxl-font-size,
h5.has-xxxxl-font-size {
	font-size: var(--global--font-size--heading-09) !important;
}

.single-post h1.entry-title,
h1.has-m-font-size,
h2.has-l-font-size,
h3.has-xl-font-size,
h4.has-xxl-font-size,
h5.has-xxxl-font-size,
h6.has-xxxxl-font-size {
	font-size: var(--global--font-size--heading-08) !important;
}

h1.entry-title,
h1.has-s-font-size,
h2.has-m-font-size,
h3.has-l-font-size,
h4.has-xl-font-size,
h5.has-xxl-font-size,
h6.has-xxxl-font-size {
	font-size: var(--global--font-size--heading-07) !important;
}

h2,
h1.has-xs-font-size,
h2.has-s-font-size,
h3.has-m-font-size,
h4.has-l-font-size,
h5.has-xl-font-size,
h6.has-xxl-font-size,
.authorbox__details .author-name,
.related-title,
.wp-block-post-template.columns-2 h2.wp-block-post-title {
	font-size: var(--global--font-size--heading-06) !important;
}

h3,
h1.has-xxs-font-size,
h2.has-xs-font-size,
h3.has-s-font-size,
h4.has-m-font-size,
h5.has-l-font-size,
h6.has-xl-font-size,
.blog h2.entry-title,
.woocommerce-page h1.entry-title,
.blog-archive h2.entry-title,
.wp-block-post-template.columns-3 h2.wp-block-post-title {
	font-size: var(--global--font-size--heading-05) !important;
}

h1.has-xxxs-font-size,
h2.has-xxs-font-size,
h3.has-xs-font-size,
h4,
h4.has-s-font-size,
h5.has-m-font-size,
h6.has-l-font-size,
.authorbox__wrap .section-title,
.comments-area .comments-title,
.blog .page-header h1.page-title,
.blog-archive .page-header h1.page-title,
.woocommerce-account h2,
.woocommerce-checkout h3,
.wc-block-components-title,
.comment-reply-title,
#comments,
.wp-block-post-template.columns-4 h2.wp-block-post-title,
h1.archive-title,
.woocommerce-order-received h2,
.woocommerce-Address-title h3 {
	font-size: var(--global--font-size--heading-04) !important;
}

.nav-title,
h2.has-xxxs-font-size,
h3.has-xxs-font-size,
h4.has-xs-font-size,
h5.has-s-font-size,
h6.has-m-font-size,
.woocommerce-loop-product__title,
.is-large.wc-block-cart .wc-block-cart__totals-title,
.wp-block-post-template.columns-5 h2.wp-block-post-title,
.wp-block-ainoblocks-accordion-faq-block h3 {
	font-size: var(--global--font-size--heading-03) !important;
}

h4.has-xxs-font-size,
h3.has-xxxs-font-size,
h5,
h5.has-xs-font-size,
h6.has-s-font-size,
h6.has-xs-font-size,
h1.wp-block-site-title {
	font-size: var(--global--font-size--heading-02) !important;
}

h4.has-xxxs-font-size,
h5.has-xxs-font-size,
h5.has-xxxs-font-size,
h6,
h6.has-xxs-font-size,
h6.has-xxxs-font-size,
.wc-block-cart__empty-cart__title,
.wp-block-post-template.columns-6 h2.wp-block-post-title {
	font-size: var(--global--font-size--heading-01) !important;
}

.blog,
.blog-archive {

	&.blog-1-column h2.entry-title,
	&.blog-2-column h2.entry-title {
		font-size: var(--global--font-size--heading-06) !important;
	}
}

.site-branding {

	.site-title {
		font-size: var(--global--font-size--body-l);
		line-height: 1;
	}
}

/* Default heading and paragraph paddings for single posts and default page template */
.single,
.page-template-default {

	.entry-content {

		&:not(.wp-block-ainoblocks-flex-item) > {

			h3.has-xxs-font-size,
			h4.has-xs-font-size,
			h5,
			h5.has-s-font-size,
			h6.has-m-font-size,
			h6,
			h4.has-xxs-font-size,
			h5.has-xs-font-size,
			h5.has-xxs-font-size,
			h2.has-xxs-font-size,
			h3.has-xs-font-size,
			h4,
			h4.has-s-font-size,
			h5.has-m-font-size,
			h6.has-l-font-size {
				@include s-r-8(padding-top);
				@include s-r-6(padding-bottom);
			}
	
			h3,
			h1.has-xxs-font-size,
			h2.has-xs-font-size,
			h3.has-s-font-size,
			h4.has-m-font-size,
			h5.has-l-font-size,
			h6.has-xl-font-size,
			h2,
			h1.has-xs-font-size,
			h2.has-s-font-size,
			h3.has-m-font-size,
			h4.has-l-font-size,
			h5.has-xl-font-size,
			h6.has-xxl-font-size {
				@include s-r-9(padding-top);
				@include s-r-7(padding-bottom);
			}
	
			h2.has-m-font-size,
			h3.has-l-font-size,
			h4.has-xl-font-size,
			h5.has-xxl-font-size,
			h6.has-xxxl-font-size {
				@include s-r-10(padding-top);
				@include s-r-7(padding-bottom);
			}
	
			h1,
			h2.has-l-font-size,
			h2.has-xl-font-size,
			h3.has-xl-font-size,
			h3.has-xxl-font-size,
			h3.has-xxxl-font-size,
			h4.has-xxl-font-size,
			h4.has-xxxl-font-size,
			h5.has-xxxl-font-size,
			h6.has-xxxxl-font-size,
			h4.has-xxxl-font-size,
			h5.has-xxxxl-font-size {
				@include s-r-10(padding-top);
				@include s-r-8(padding-bottom);
			}
	
			p {
				@include s-r-6(padding-bottom);
			}
		}
	}
}

dfn,
em,
i {
	font-style: italic;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $s-6 $s-6;

	@include breakpoint(sm) {
		margin: 0 $s-6 $s-6;
	}
}

blockquote {
	margin: 0;
	padding: 0;
}

.entry-content blockquote p,
blockquote p {
	margin: 0;
	padding: 0;
}

blockquote cite,
.wp-block-pullquote cite {
	text-align: left;
	display: block;
	padding: $s-4 0 0;
	font-size: var(--global--font-size--body-xs);
	font-style: normal;
	font-weight: bold;
}

code,
kbd,
tt,
var,
pre,
.wp-block-preformatted,
.wp-block-preformatted.has-background,
.wp-block-code {
	font-family: var(--wp--preset--font-family--monospace);
	font-size: var(--global--font-size--body-xs);
	line-height: 1.2;
}

pre {
	@include s-r-6(padding);
	@include s-r-6(margin-bottom);
	border: none;
}

abbr,
acronym {
	text-decoration: none;
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins,
mark {
	text-decoration: none;
}

big {
	font-size: 125%;
}

.dropcap {
	font-size: 6.125rem;
	font-weight: 300;
	float: left;
	padding: 0 10px 0 0;
	line-height: 0.9;
	color: var(--wp--custom--color--font-secondary);

	@include breakpoint(sm) {
		font-size: 7.75rem;
		margin-left: -11px;
		line-height: 0.79;
	}
}

.indent {
	text-indent: 3.5rem;
}

.center-text {
	text-align: center;
}

.justify {
	text-align: justify;
}