/* Spacing */
$s-0                 : 0;
$s-1                 : 0.25rem;
$s-2                 : 0.5rem;
$s-3                 : 0.75rem;
$s-4                 : 1rem;
$s-5                 : 1.25rem;
$s-6                 : 1.5rem;
$s-7                 : 2rem;
$s-8                 : 2.5rem;
$s-9                 : 3rem;
$s-10                : 4rem;
$s-11                : 5rem;
$s-12                : 6rem;
$s-13                : 7.5rem;
$s-14                : 9rem;
$s-15                : 11rem;
$s-16                : 13rem;
$s-17                : 15.5rem;
$s-18                : 18rem;

:root {
	/* Line Height */
	--global--line-height-reset: 1;

	/* Content widths and grid */
	--global--default-content-width: 43.5rem;
	--global--10col-nogap-content-width: 74.5rem;
	--global--wide-content-width: 90rem; // 1440px
	--global--max-content-width-nogap: 90rem; // 1440px
	--global--max-content-width: 93rem; // 1488px
	--global--grid-gap: #{2 * $s-4};

	/* Border radius */
	--global--border-radius-xxs: 0.625rem;
	--global--border-radius-xs: 0.938rem;
	--global--border-radius-s: 1.25rem;
	--global--border-radius-m: 1.563rem;
	--global--border-radius-l: 1.875rem;
	--global--border-radius-xl: 2.5rem;
	--global--border-radius-xxl: 3.125rem;
	--global--border-radius-xxxl: 3.75rem;
	--global--border-radius-xxxxl: 4.375rem;
	--global--border-radius-round: 6.25em;

	/* SM breakpoint */
	@media only screen and (min-width: 48em) {

		/* Border radius */
		--global--border-radius-xxs: 0.625rem;
		--global--border-radius-xs: 1.25rem;
		--global--border-radius-s: 1.875rem;
		--global--border-radius-m: 2.5rem;
		--global--border-radius-l: 3.125rem;
		--global--border-radius-xl: 3.75rem;
		--global--border-radius-xxl: 4.375rem;
		--global--border-radius-xxxl: 5rem;
		--global--border-radius-xxxxl: 5.625rem;
	}
}

/* Theme Global Styles */
body {
	/* Spacing */
	--wp--style--block-gap: 0;
	--global--content--padding--left: 1rem;
	--global--content--padding--right: 1rem;

	/* Heading Font sizes */
	--global--font-size--heading-01: 1rem;
	--global--font-size--heading-02: 1.125rem; //18px
	--global--font-size--heading-03: 1.125rem;
	--global--font-size--heading-04: 1.25rem;
	--global--font-size--heading-05: 1.5rem;
	--global--font-size--heading-06: 1.875rem;
	--global--font-size--heading-07: 2.125rem;
	--global--font-size--heading-08: 2.375rem;
	--global--font-size--heading-09: 2.875rem;
	--global--font-size--heading-10: 3.25rem;
	--global--font-size--heading-11: 3.75rem;
	--global--font-size--heading-12: 4.375rem;
	--global--font-size--heading-13: 5.125rem;

	/* Body font sizes */
	--global--font-size--body-xxxs: 0.75rem;
	--global--font-size--body-xxs: 0.875rem;
	--global--font-size--body-xs: 1rem;
	--global--font-size--body-s: 1.125rem;
	--global--font-size--body-m: 1.25rem;
	--global--font-size--body-l: 1.25rem;
	--global--font-size--body-xl: 1.375rem;
	--global--font-size--body-xxl: 1.5rem;
	--global--font-size--body-xxxl: 1.5rem;
	--global--font-size--body-xxxxl: 1.75rem;

	// SM breakpoint
	@media only screen and (min-width: 48em) {

		/* Spacing */
		--global--content--padding--left: 2rem;
		--global--content--padding--right: 2rem;
	
		/* Heading Font sizes */
		--global--font-size--heading-05: 1.75rem;
		--global--font-size--heading-06: 2.25rem;
		--global--font-size--heading-07: 2.75rem;
		--global--font-size--heading-08: 3.25rem;
		--global--font-size--heading-09: 4rem;
		--global--font-size--heading-10: 4.875rem;
		--global--font-size--heading-11: 6rem;
		--global--font-size--heading-12: 7.25rem;
		--global--font-size--heading-13: 8.875rem;

		/* Body font sizes */
		--global--font-size--body-xl: 1.5rem;
		--global--font-size--body-xxl: 1.75rem;
		--global--font-size--body-xxxl: 2.125rem;
		--global--font-size--body-xxxxl: 2.5rem;
	}

	// MD breakpoint
	@media only screen and (min-width: 64em) {

		/* Heading Font sizes */
		--global--font-size--heading-04: 1.375rem;
		--global--font-size--heading-05: 1.875rem;
		--global--font-size--heading-06: 2.625rem;
		--global--font-size--heading-07: 3.375rem;
		--global--font-size--heading-08: 4.375rem;
		--global--font-size--heading-09: 5.625rem;
		--global--font-size--heading-10: 7.25rem;
		--global--font-size--heading-11: 9.25rem;
		--global--font-size--heading-12: 11.75rem;
		--global--font-size--heading-13: 15.125rem;

		/* Body font sizes */
		--global--font-size--body-l: 1.5rem;
		--global--font-size--body-xl: 1.75rem;
	}

	// LG breakpoint
	@media only screen and (min-width: 80em) {

		/* Spacing */
		--global--content--padding--left: 3rem;
		--global--content--padding--right: 3rem;

		/* Heading font sizes */
		--global--font-size--heading-03: 1.25rem;
		--global--font-size--heading-04: 1.5rem;
		--global--font-size--heading-05: 2.125rem;
		--global--font-size--heading-06: 3rem;
		--global--font-size--heading-07: 4.375rem;
		--global--font-size--heading-08: 5.75rem;
		--global--font-size--heading-09: 7.75rem;
		--global--font-size--heading-10: 10.375rem;
		--global--font-size--heading-11: 13.875rem;
		--global--font-size--heading-12: 18.625rem;
		--global--font-size--heading-13: 25rem;

		/* Body font sizes */
		--global--font-size--body-xxl: 2.125rem;
		--global--font-size--body-xxxl: 2.5rem;
		--global--font-size--body-xxxxl: 3rem;
	}
}
