:root {
	/* Spacing Values */
	--space-00: 0.125rem;
	--space-01: 0.25rem;
	--space-02: 0.5rem;
	--space-03: 0.75rem;
	--space-04: 1rem;
	--space-05: 1.25rem;
	--space-06: 1.5rem;
	--space-07: 2rem;
	--space-08: 2.5rem;
	--space-09: 3rem;
	--space-10: 4rem;
	--space-11: 5rem;
	--space-12: 6rem;
	--space-13: 7.5rem;
	--space-14: 9rem;
	--space-15: 11rem;
	--space-16: 13rem;
	--space-17: 15.5rem;
	--space-18: 18rem;

	/* Responsive Spacing */
	--s-r-1:var(--space-00);
	--s-r-2:var(--space-01);
	--s-r-3:var(--space-02);
	--s-r-4:var(--space-02);
	--s-r-5:var(--space-04);
	--s-r-6:var(--space-04);
	--s-r-7:var(--space-04);
	--s-r-8:var(--space-05);
	--s-r-9:var(--space-06);
	--s-r-10:var(--space-07);
	--s-r-11:var(--space-08);
	--s-r-12:var(--space-09);
	--s-r-13:var(--space-10);
	--s-r-14:var(--space-11);
	--s-r-15:var(--space-12);
	--s-r-16:var(--space-13);
	--s-r-17:var(--space-14);
	--s-r-18:var(--space-15);

	/* Line Height */
	--global--line-height-reset: 1;

	/* Content widths and grid */
	--global--default-content-width: 43.5rem;
	--global--10col-nogap-content-width: 74.5rem;
	--global--wide-content-width: 112.5rem;

	/* Border radius */
	--global--border-radius-xxs: 0.625rem;
	--global--border-radius-xs: 0.938rem;
	--global--border-radius-s: 1.25rem;
	--global--border-radius-m: 1.563rem;
	--global--border-radius-l: 1.875rem;
	--global--border-radius-xl: 2.5rem;
	--global--border-radius-xxl: 3.125rem;
	--global--border-radius-xxxl: 3.75rem;
	--global--border-radius-xxxxl: 4.375rem;
	--global--border-radius-round: 6.25em;

	/* SM breakpoint */
	@media only screen and (min-width: 48em) {

		/* Responsive Spacing */
		--s-r-7:var(--space-05);
		--s-r-8:var(--space-06);
		--s-r-9:var(--space-07);
		--s-r-10:var(--space-08);
		--s-r-11:var(--space-09);
		--s-r-12:var(--space-10);
		--s-r-13:var(--space-11);
		--s-r-14:var(--space-13);
		--s-r-15:var(--space-13);
		--s-r-16:var(--space-14);
		--s-r-17:var(--space-15);
		--s-r-18:var(--space-16);

		/* Border radius */
		--global--border-radius-xxs: 0.625rem;
		--global--border-radius-xs: 1.25rem;
		--global--border-radius-s: 1.875rem;
		--global--border-radius-m: 2.5rem;
		--global--border-radius-l: 3.125rem;
		--global--border-radius-xl: 3.75rem;
		--global--border-radius-xxl: 4.375rem;
		--global--border-radius-xxxl: 5rem;
		--global--border-radius-xxxxl: 5.625rem;
	}

	/* MD breakpoint */
	@media only screen and (min-width: 64em) {

		/* Responsive Spacing */
		--s-r-1: var(--space-01);
		--s-r-2:var(--space-02);
		--s-r-3:var(--space-03);
		--s-r-4:var(--space-03);
		--s-r-6:var(--space-05);
		--s-r-7:var(--space-06);
		--s-r-8:var(--space-07);
		--s-r-9:var(--space-08);
		--s-r-10:var(--space-09);
		--s-r-11:var(--space-10);
		--s-r-12:var(--space-11);
		--s-r-13:var(--space-12);
		--s-r-14:var(--space-13);
		--s-r-15:var(--space-14);
		--s-r-16:var(--space-15);
		--s-r-17:var(--space-16);
		--s-r-18:var(--space-17);
	}

	/* LG breakpoint */
	@media only screen and (min-width: 80em) {

		/* Responsive Spacing */
		--s-r-4:var(--space-04);
		--s-r-5:var(--space-05);
		--s-r-6:var(--space-06);
		--s-r-7:var(--space-07);
		--s-r-8:var(--space-08);
		--s-r-9:var(--space-09);
		--s-r-10:var(--space-10);
		--s-r-11:var(--space-11);
		--s-r-12:var(--space-12);
		--s-r-13:var(--space-13);
		--s-r-14:var(--space-14);
		--s-r-15:var(--space-15);
		--s-r-16:var(--space-16);
		--s-r-17:var(--space-17);
		--s-r-18:var(--space-18);
	}
}

/* Theme Global Styles */
body {
	/* Spacing */
	--wp--style--block-gap: 0;
	--global--content--padding--left: 1.5rem;
	--global--content--padding--right: 1.5rem;

	/* Heading Font sizes */
	--global--font-size--heading-01: 1rem;
	--global--font-size--heading-02: 1.125rem; //18px
	--global--font-size--heading-03: 1.125rem;
	--global--font-size--heading-04: 1.25rem;
	--global--font-size--heading-05: 1.5rem;
	--global--font-size--heading-06: 1.875rem;
	--global--font-size--heading-07: 2.125rem;
	--global--font-size--heading-08: 2.375rem;
	--global--font-size--heading-09: 2.875rem;
	--global--font-size--heading-10: 3.25rem;
	--global--font-size--heading-11: 3.75rem;
	--global--font-size--heading-12: 4.375rem;
	--global--font-size--heading-13: 5.125rem;

	/* Body font sizes */
	--global--font-size--body-xxxs: 0.75rem;
	--global--font-size--body-xxs: 0.875rem;
	--global--font-size--body-xs: 1rem;
	--global--font-size--body-s: 1.125rem;
	--global--font-size--body-m: 1.25rem;
	--global--font-size--body-l: 1.25rem;
	--global--font-size--body-xl: 1.375rem;
	--global--font-size--body-xxl: 1.5rem;
	--global--font-size--body-xxxl: 1.5rem;
	--global--font-size--body-xxxxl: 1.75rem;

	// SM breakpoint
	@media only screen and (min-width: 48em) {

		/* Spacing */
		--global--content--padding--left: 2rem;
		--global--content--padding--right: 2rem;
	
		/* Heading Font sizes */
		--global--font-size--heading-05: 1.75rem;
		--global--font-size--heading-06: 2.25rem;
		--global--font-size--heading-07: 2.75rem;
		--global--font-size--heading-08: 3.25rem;
		--global--font-size--heading-09: 4rem;
		--global--font-size--heading-10: 4.875rem;
		--global--font-size--heading-11: 6rem;
		--global--font-size--heading-12: 7.25rem;
		--global--font-size--heading-13: 8.875rem;

		/* Body font sizes */
		--global--font-size--body-xl: 1.5rem;
		--global--font-size--body-xxl: 1.75rem;
		--global--font-size--body-xxxl: 2.125rem;
		--global--font-size--body-xxxxl: 2.5rem;
	}

	// MD breakpoint
	@media only screen and (min-width: 64em) {

		/* Spacing */
		--global--content--padding--left: 2.5rem;
		--global--content--padding--right: 2.5rem;

		/* Heading Font sizes */
		--global--font-size--heading-04: 1.375rem;
		--global--font-size--heading-05: 1.875rem;
		--global--font-size--heading-06: 2.625rem;
		--global--font-size--heading-07: 3.375rem;
		--global--font-size--heading-08: 4.375rem;
		--global--font-size--heading-09: 5.625rem;
		--global--font-size--heading-10: 7.25rem;
		--global--font-size--heading-11: 9.25rem;
		--global--font-size--heading-12: 11.75rem;
		--global--font-size--heading-13: 15.125rem;

		/* Body font sizes */
		--global--font-size--body-l: 1.5rem;
		--global--font-size--body-xl: 1.75rem;
	}

	// LG breakpoint
	@media only screen and (min-width: 80em) {

		/* Spacing */
		--global--content--padding--left: 3rem;
		--global--content--padding--right: 3rem;

		/* Heading font sizes */
		--global--font-size--heading-03: 1.25rem;
		--global--font-size--heading-04: 1.5rem;
		--global--font-size--heading-05: 2.125rem;
		--global--font-size--heading-06: 3rem;
		--global--font-size--heading-07: 4.375rem;
		--global--font-size--heading-08: 5.75rem;
		--global--font-size--heading-09: 7.75rem;
		--global--font-size--heading-10: 10.375rem;
		--global--font-size--heading-11: 13.875rem;
		--global--font-size--heading-12: 18.625rem;
		--global--font-size--heading-13: 25rem;

		/* Body font sizes */
		--global--font-size--body-xxl: 2.125rem;
		--global--font-size--body-xxxl: 2.5rem;
		--global--font-size--body-xxxxl: 3rem;
	}

	@media only screen and (min-width: 118.5em) {
		--global--content--padding--left: 0;
		--global--content--padding--right: 0;
	}
}
