// New Colors
$color__primary: #1765d8;
$color__text_one: #111111;
$color__text_two: #222222;
$color__border: #c9ccdb;
$color__background: #f7f7ff;
$color__white: #ffffff;
$color__black: #000000;
$color__success: #408321;
$color__notification: #1765D8;
$color__error: #e52424;
$color__code_one: #b2cacd;
$color__code_two: #062e32;

// New Typography
$font__heading: "Roboto", sans-serif;
$font__body: "Roboto", sans-serif;
$font__code : "Monaco", "Courier 10 Pitch", Courier, monospace;

// Spacing
$spacing-none               : 0;
$spacing-1                  : 8px;
$spacing-2                  : 16px;
$spacing-3                  : 24px;
$spacing-mobile-4           : 24px;
$spacing-desktop-4          : 32px;
$spacing-mobile-5           : 32px;
$spacing-desktop-5          : 40px;
$spacing-mobile-6           : 32px;
$spacing-desktop-6          : 48px;
$spacing-mobile-7           : 40px;
$spacing-desktop-7          : 56px;
$spacing-mobile-8           : 40px;
$spacing-desktop-8          : 72px;
$spacing-mobile-9           : 48px;
$spacing-desktop-9          : 96px;
$spacing-mobile-10          : 48px;
$spacing-desktop-10         : 144px;

$spacing-xxs                : 4px;
$spacing-xs                 : 8px;
$spacing-s                  : 12px;

// Grid Margins
$grid-margins-s             : 24px;
$grid-margins-m             : 32px;
$grid-margins-l             : 48px;

// Spacing Headerbar
$stickyheader-mobile        : 55px;
$stickyheader-desktop       : 88px;

// Max Content Widths
$website-width              : 1248px; // max default width
$col12-nopadding            : 1200px;
$ten-columns-width          : 1040px; // max default width
$bg-content-width           : 832px; // max content width, if has background
$col5                       : 520px;
$col5-nopadding             : 472px; // 5 column width without padding
$col6-nopadding             : 576px; // 6 column width without padding
$col7                       : 728px; // 7 grid columns width padding
$col7-nopadding             : 680px; // 7 grid columns without padding

// Border Radius
$border-radius-xs: 4px;
$border-radius-s: 12px;
$border-radius-m: 24px;
$border-radius-l: 36px;
$border-radius-xl: 100px;
