<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"site-content content-gap","paddingTop":13,"paddingBottom":17} -->
<div class="wp-block-group site-content content-gap pt__13 pb__17">
	<!-- wp:group {"className":"entry-header","paddingBottom":10,"layout":{"inherit":true}} -->
	<div class="wp-block-group entry-header pb__10"><!-- wp:post-title {"fontSize":"text-xxxl"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"layout":{"inherit":true}} /--></div>
	<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->