<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main site-content content-gap"} -->
<main class="wp-block-group site-main site-content content-gap">

	<!-- wp:ainoblocks/grid-container {"className":"archive-header","paddingTop":13} -->
	<div class="wp-block-ainoblocks-grid-container alignwide archive-header pt__13">
		<div class="wp-block-ainoblocks-grid-container__inner">
			<!-- wp:ainoblocks/grid-item {"gridColumnStartDesktop":1,"gridColumnEndDesktop":7,"gridColumnStartTablet":1,"gridColumnEndTablet":13,"gridColumnStartMobile":1,"gridColumnEndMobile":13,"className":"col_end_d__4 col_end_t__5 col_end_m__8 justify-self__stretch"} -->
			<div
				class="wp-block-ainoblocks-grid-item col_start_d__1 col_end_d__7 col_start_t__1 col_end_t__13 col_start_m__1 col_end_m__13 align-self__start justify-self__start no-stacking col_end_d__4 col_end_t__5 col_end_m__8 justify-self__stretch">
				<!-- wp:heading {"level":1,"className":"archive-title","fontSize":"text-xxl"} --><h1 class="archive-title has-text-xxl-font-size" id="search-results">Search results</h1><!-- /wp:heading -->
			</div>
			<!-- /wp:ainoblocks/grid-item -->
		</div>
	</div>
	<!-- /wp:ainoblocks/grid-container -->

	<!-- wp:group {"paddingTop":13,"className":"site-main","layout":{"inherit":true}} -->
	<div class="wp-block-group pt__13 site-content">

		<!-- wp:query {"displayLayout":{"type":"flex","columns":4},"align":"wide","className":"gap-l"} -->
		<div class="wp-block-query alignwide gap-l">

			<!-- wp:post-template -->
			<!-- wp:post-featured-image {"isLink":true} /-->
			<!-- wp:group {"className":"entry-header"} -->
			<div class="wp-block-group entry-header">
				<!-- wp:post-terms {"term":"category","fontSize":"text-xs"} /-->
				<!-- wp:post-title {"isLink":true,"level":3,"fontSize":"text-l"} /-->
				<!-- wp:post-date {"fontSize":"text-xs"} /-->
			</div>
			<!-- /wp:group -->
			<!-- /wp:post-template -->

			<!-- wp:group {"className":"pagination-wrap","paddingTop":13,"paddingBottom":15} -->
			<div class="wp-block-group pagination-wrap pt__13 pb__15">

				<!-- wp:query-pagination -->
				<div class="wp-block-query-pagination">
					<!-- wp:query-pagination-previous {"label":"Previous Page"} /-->

					<!-- wp:query-pagination-numbers /-->

					<!-- wp:query-pagination-next {"label":"Next Page"} /-->
				</div>
				<!-- /wp:query-pagination -->

			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->