<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"className":"post-header content-gap","paddingTop":13,"layout":{"inherit":true}} -->
<div class="wp-block-group post-header content-gap pt__13">

	<!-- wp:post-title {"level":1,"fontSize":"text-xxxl"} /-->
	<!-- wp:group {"textColor":"font-tertiary","className":"post-meta has-text-xs-font-size","paddingTop":5,"paddingBottom":10} -->
	<div class="wp-block-group post-meta has-text-xs-font-size has-font-tertiary-color has-text-color pt__5 pb__10">
	<!-- wp:post-author {"showBio":false,"byline":"by ","fontSize":"text-xs"} /-->
	<!-- wp:post-date {"fontSize":"text-xs"} /-->
	<!-- wp:post-comments-link {"fontSize":"text-xs"} /-->
	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:post-content {"className":"post-content content-gap","layout":{"inherit":true}} /-->

<!-- wp:group {"textColor":"font-tertiary","className":"post-footer content-gap","layout":{"inherit":true},"paddingTop":9,"paddingBottom":17} -->
<div class="wp-block-group post-footer content-gap has-font-tertiary-color has-text-color pt__9 pb__17"><!-- wp:post-terms {"term":"category"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"authorbox-wrap content-gap","layout":{"inherit":true},"paddingBottom":13} -->
<div class="wp-block-group authorbox-wrap content-gap pb__13">
	<!-- wp:post-author {"avatarSize":96,"showBio":true,"byline":"Published by"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"backgroundColor":"background-secondary","className":"content-gap btn-rounded form-rounded","layout":{"inherit":true},"paddingTop":13,"paddingBottom":17} -->
<div
	class="wp-block-group content-gap btn-rounded form-rounded has-background-secondary-background-color has-background pt__13 pb__17">
	<!-- wp:post-comments /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"single-related-posts"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->