
.wp-caption {
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: $spacing-mobile-2 0 $spacing-mobile-5;
	@include font-body4;
	@include breakpoint(m) {
		margin: $spacing-desktop-2 0 $spacing-desktop-5;
	}
}

.wp-caption.alignleft {
	text-align: left;
}
.wp-caption.alignright {
	text-align: right;
}
