
.page-content .wp-smiley,
.entry-content .wp-smiley, .comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Images */
.image-border img,
.img-border {
	border: 4px solid $color__border;
}

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object {
	max-width: 100%;
}

img, video {
	height: auto;
	max-width: 100%;
}

audio, video {
	display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
