.woocommerce-account {

	.woocommerce-Address-title h3 {
		@include s-r-6(padding-bottom);
	}

	&.logged-in {

		.woocommerce {
			max-width: var(--global--wide-content-width);
		}
	}

	.site-content .woocommerce {
		h2 {
			padding: 0;
		}

		.u-column2 {
			@include s-r-10(padding-top);
		}
	}

	.woocommerce-form-login__rememberme {
		display: flex;
		align-items: center;
		@include s-r-6(margin-bottom);
	}

	.woocommerce-MyAccount-navigation {
		
		ul {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
			padding-left: 0;
			@include s-r-9(padding-bottom);

			li {
				flex-shrink: 0;
				line-height: var(--global--line-height-reset);
				@include s-r-2(padding-right);

				a {
					text-decoration: none;
					@include btn;
					@include btn-tab;
					@include btn-s;
				}

				&.is-active {
					a {
						background-color: var(--wp--custom--color--font-secondary);
						color: var(--wp--custom--color--variant-font-primary);
						border-color: transparent;
					}
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		overflow-x: auto;

		p {
			@include s-r-6(padding-bottom);
		}

		.woocommerce-form-row--first {
			padding-top: 0;
		}

		.woocommerce-notices-wrapper {
			margin-bottom: 0;
		}

		.woocommerce-message {
			margin-bottom: 0 !important;
		}

		p {
			font-size: var(--global--font-size--body-xs) !important;
		}
	}

	.woocommerce-EditAccountForm {
		max-width: var(--global--default-content-width);

		fieldset {
			@include s-r-9(margin-top);
		}
	}

}

.edit {
	@include btn;
	@include btn-primary;
	@include btn-xxs;
	@include s-r-2(margin-bottom);
}


// WooCommerce Shortcode forms
.wc-form-card {

	.woocommerce-form {

		&.woocommerce-form-register {
	
			.woocommerce-form-row:first-of-type {
				padding-top: 0;
			}
		}
	
		&__label-for-checkbox {
			display: flex;
		}
	
		.woocommerce-form-register__submit,
		.woocommerce-form-login__submit {
			width: 100% !important;
		}
	
		.woocommerce-form-login__submit {
			margin-top: 24px;
		}
	}
}

// WooCommerce Shortcode forms
.woocommerce-orders-table {
	margin-bottom: 0;

	.woocommerce-button {
		@include btn;
		@include btn-primary;
		@include btn-xxs;
		@include s-r-2(margin-right);
	}

	thead th,
	td,
	th {
		border-bottom: none;
		@include s-r-4(padding);

		&:first-child {
			@include s-r-7(padding-left);
		}

		&:last-child {
			@include s-r-7(padding-right);
		}
	}

	tbody {

		tr {
			@include s-r-4(padding);
			border-bottom: none;

			&:nth-child(odd) {
				background: var(--wp--custom--color--background-secondary);
				border-radius: var(--global--border-radius-xs);
			}
		}

		td {
			min-width: 200px; 

			&:first-child {
				border-top-left-radius: var(--global--border-radius-xxs);
				border-bottom-left-radius: var(--global--border-radius-xxs);
			}

			&:last-child {
				border-top-right-radius: var(--global--border-radius-xxs);
				border-bottom-right-radius: var(--global--border-radius-xxs);
			}
		}
	}

	tr:last-child {
		border-bottom: 0px;
	}
}