/* Spacing Below Blocks */

.entry-content {

	.wp-block-button,
	.wp-block-buttons .wp-block-button,
	.wp-block-image,
	.wp-block-quote,
	.wp-block-pullquote,
	.wp-block-media-text,
	.entry-content .wp-block-gallery,
	.wp-block-audio,
	.wp-block-video,
	.wp-block-ainoblocks-advanced-buttons,
	.wp-block-search,
	.wp-block-calendar,
	.wp-block-archives-dropdown {
		@include push--auto;
		margin-bottom: $spacing-mobile-4;

		@include breakpoint(m) {
			margin-bottom: $spacing-desktop-4;
		}
	}
}

/* Alignment */

.hentry .entry-content>* {

	&.alignwide,
	.alignwide {
		max-width: $col12;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		clear: both;

		@include breakpoint(m) {
			padding-left: $grid-margins-l;
			padding-right: $grid-margins-l;
		}

		@include breakpoint(xxl) {
			padding-left: $grid-margins-s;
			padding-right: $grid-margins-s;
		}
	}

	&.alignfull {
		position: relative;
		width: 100vw;
		margin-left: calc(50% - 50vw);
		max-width: none;
	}
}

/* Nested Block Alignment: alignwide inside alignfull */

.hentry .entry-content .alignfull {

	.alignwide {
		max-width: $col12;
		clear: both;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		padding-left: $grid-margins-s;
		padding-right: $grid-margins-s;

		@include breakpoint(s) {
			padding-left: $grid-margins-l;
			padding-right: $grid-margins-l;
		}

		@include breakpoint(l) {
			padding-left: $grid-margins-s;
			padding-right: $grid-margins-s;
		}
	}
}

/* Paragraph */

.entry-content p {

	&.has-background {
		padding: $spacing-mobile-4;

		@include breakpoint(m) {
			padding: $spacing-desktop-4;
		}
	}

	&.has-drop-cap:not(:focus):first-letter {
		float: left;
		margin: 5px 8px 0 -8px;
		line-height: 0.77;
		text-transform: uppercase;
		font-style: normal;
		font-size: 100px;

		@include breakpoint(m) {
			font-size: 120px;
			line-height: 0.77;
			margin: 6px 12px 0 -8px;
		}
	}

	&.intro.has-drop-cap:not(:focus):first-letter {
		@include breakpoint(m) {
			font-size: 142px;
		}
	}
}

/* Columns */

.wp-block-columns {

	margin-bottom: $spacing-mobile-6;

	&.has-background {
		padding: $spacing-mobile-6;
	}

	.wp-block-column>*:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(m) {
		&.has-background {
			padding: $spacing-desktop-6;
		}
	}

	.wp-block-column {
		margin-bottom: $spacing-mobile-6;
	}

	@include breakpoint(s) {

		@include flexbox;
		flex-grow: 0;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 0;

		.wp-block-column {
			flex-basis: calc(50% - 32px);
			flex: 1 0 21%;

			&:nth-child(2n) {
				margin-left: $spacing-mobile-6;
			}
		}

		.wp-block-column:nth-last-child(3):first-child,
		.wp-block-column:nth-last-child(3):first-child~* {
			flex: 1 0 21%;
		}

		.wp-block-column:nth-last-child(6):first-child,
		.wp-block-column:nth-last-child(6):first-child~* {
			flex: 1 0 21%;
		}
	}

	@media (max-width: 781px) and (min-width: 600px) {
		.wp-block-column {
			flex-basis: calc(50% - 48px) !important;
		}
	}

	@include breakpoint(m) {

		flex-basis: calc(50% - 48px);
		padding-left: 0;
		padding-right: 0;

		.wp-block-column {
			flex-basis: calc(50% - 48px);
			flex: 1 0 25%;
			margin-bottom: $spacing-desktop-6;

			&:nth-child(2n) {
				margin-left: $spacing-desktop-6;
			}
		}

		.wp-block-column:nth-last-child(4):first-child,
		.wp-block-column:nth-last-child(4):first-child~* {
			flex: 1 0 15%;
		}

		.wp-block-column:nth-last-child(5):first-child,
		.wp-block-column:nth-last-child(5):first-child~* {
			flex: 1 0 12%;
		}

		.wp-block-column:nth-last-child(6):first-child,
		.wp-block-column:nth-last-child(6):first-child~* {
			flex: 1 0 10%;
		}
	}
}

/* Buttons */

.wp-block-buttons {

	.wp-block-button {
		margin-top: 0;
		margin-bottom: $spacing-mobile-4;

		@include breakpoint(m) {
			margin-bottom: $spacing-desktop-4;
		}
	}

	&.alignleft {

		.wp-block-button {
			float: left;
			margin-top: $spacing-xxs;
			margin-right: $spacing-mobile-4;

			@include breakpoint(m) {
				margin-right: $spacing-desktop-4;
			}
		}
	}

	&.alignright {

		.wp-block-button {
			float: right;
			margin-top: $spacing-xxs;
			margin-left: $spacing-mobile-4;

			@include breakpoint(m) {
				margin-left: $spacing-desktop-4;
			}
		}
	}
}

.wp-block-button {

	.wp-block-button__link {
		@include btn;
		@include btn-m;
		@include btn-primary;
		border: none;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		height: auto;
		background: $color__primary;
		box-shadow: none;

		&:not(.has-background) {
			background-color: $color__primary;
		}
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: 16px;
	}

	&.is-style-outline {

		.wp-block-button__link {
			@include btn-outline;
			box-shadow: none;
			border: 1px solid;

			&:not(.has-background) {
				background: transparent;
			}

			&:hover {
				color: $color__primary;
				fill: $color__primary;
			}
		}
	}
}

/* Image */

.wp-block-image {

	&.alignright {
		display: block;
		float: none;
		margin-bottom: $spacing-mobile-5;

		@include breakpoint(s) {
			float: right;
			margin: $spacing-1 0 $spacing-desktop-4 $spacing-desktop-4;
		}
	}

	&.alignleft {
		float: left;
		margin-right: 1em;

		@include breakpoint(s) {
			float: left;
			margin: $spacing-1 $spacing-desktop-4 $spacing-desktop-4 0;
		}
	}

	&.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&.aligncenter,
	&.alignleft,
	&.alignright,
	&.is-resized {
		margin-left: 0;
		margin-right: 0;
	}

	&.alignfull img {
		width: 100%;
		max-width: 100%;
		display: block;
	}
}

.wp-block-gallery figcaption,
.wp-block-image figcaption,
.wp-block-video figcaption,
.wp-block-audio figcaption,
.wp-block-embed figcaption {
	display: block;
	margin: $spacing-2 0 0;
	text-align: center;
	@include font-body-xs;
}

.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
	display: block;
}

.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	margin-bottom: 0;
}

/* Gallery */

.wp-block-gallery {

	.blocks-gallery-grid {
		padding: 0;
		margin-bottom: 0;
		list-style: none;

		& li {
			padding: 0;
		}

		&.alignwide {
			@include breakpoint(m) {
				margin-left: calc(31.75% - 31.75vw);
				margin-right: calc(31.75% - 31.75vw);
			}
		}

		&.blocks-gallery-image figcaption,
		&.wp-block-gallery .blocks-gallery-item figcaption {
			@include font-body-xs;
		}
	}

	.blocks-gallery-caption {
		width: 100%;
		margin-bottom: $spacing-mobile-4;
		text-align: center;

		@include breakpoint(m) {
			margin-bottom: $spacing-desktop-4;
		}
	}
}

/* Blockquote + Pullquote */

.wp-block-quote,
.wp-block-pullquote {
	padding: 0;

	&.is-style-default {
		background-color: transparent;
	}

	&.is-style-solid-color .has-text-color a {
		text-decoration: underline;
		box-shadow: none;
	}

	.has-text-color a:hover {
		color: $color__primary;
	}

	&.is-style-large {
		padding: 0;
	}

	&.is-style-large p {
		margin: 0;
		@include font-body-l;
		font-style: normal;
	}

	&.is-style-large cite,
	& cite {
		@include font-body-xs;
	}

	&.has-text-align-left cite {
		text-align: left;
	}

	&.has-text-align-center cite {
		text-align: center;
	}
}

.wp-block-pullquote {
	border: none;
	text-align: left;
	padding: 0;
	@include border-radius-m;

	& p,
	&.is-style-solid-color p,
	&.is-style-solid-color blockquote p {
		@include font-body-m;
	}

	&.is-style-solid-color,
	&.is-style-solid-color {
		padding: $spacing-3;
		clear: both;
	}

	&.alignleft {
		margin-left: 0;
	}

	&.alignright {
		margin-right: 0;
	}

	&.alignleft blockquote,
	&.alignright blockquote {
		padding: 0;
	}
}

/* Cover */

.wp-block-cover {

	.wp-block-cover__inner-container {

		width: calc(100% - 6rem);
		padding: $spacing-desktop-6 0;

		p {
			margin-bottom: 0;
		}
	}
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
	z-index: 1;
	margin-bottom: 0;
}

/* Media & Text */

.wp-block-media-text .wp-block-media-text__content {
	padding: 0 $grid-margins-s;
	
	@include breakpoint(m) {
		padding: 0$grid-margins-l;
	}
}

/* Video */

.wp-block-video iframe,
.wp-block-video video {
	max-width: 100%;
}

.wp-block-embed .jetpack-video-wrapper {
	margin: 0;
}

/* Audio */

.wp-block-audio {
	display: block;
}

.wp-block-audio audio {
	width: 100%;
}

/* Table */

.wp-block-table {
	display: table;
	width: 100%;

	&.alignfull {
		width: 96vw;
	}

	table {
		background: transparent;

		tr {
			border-bottom: 1px solid $color__border;

			&:last-of-type {
				border-bottom: 0;
			}
		}
	}

	&.is-style-stripes {
		border-bottom: none;

		tbody tr:nth-child(odd) {
			background-color: $color__background;
			border-bottom: none;
		}

		table tr {
			border-bottom: none;
		}
	}
}

/* Verse */

.wp-block-verse {
	color: $color__text_two;
	background: $color__background;
}

/* Separator */

.wp-block-separator {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	margin-bottom: $spacing-mobile-6;

	@include breakpoint(m) {
		margin-bottom: $spacing-desktop-6;
	}
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
	@include push--auto;
}

.wp-block-separator.is-style-dots {
	background: none;
	border: none;
}

.wp-block-separator.is-style-dots:before {
	color: $color__text_two;
	content: "\00b7 \00b7 \00b7";
	font-family: serif;
	@include font-body-l;
	letter-spacing: 1em;
	padding-left: 1em;
}

/* Page Break */
.entry-content .page-links {
	align-items: baseline;
	@include push--auto;
	padding: $spacing-mobile-6 0;

	@include breakpoint(m) {
		padding: $spacing-desktop-6 0;
	}
}

/* Block category Widgets */

.entry-content .wp-block-latest-posts,
.entry-content .wp-block-latest-comments {
	padding-left: 0;
}

.entry-content .wp-block-categories-list li a,
.entry-content .wp-block-latest-posts li a {
	border: none;
}

.wp-block-latest-comments__comment {
	@include font-body-s;
}

.wp-block-search button[type="submit"] {
	margin-top: 0;
}

.entry-content .wp-block-calendar {

	caption {
		color: $color__text_one;
		margin-bottom: $spacing-2;
		text-align: center;
	}

	table {

		margin-bottom: $spacing-2;
		background: $color__white;

		th {
			@include font-bold;
			background: transparent;
			text-align: center;
		}

		tbody {
			color: $color__text_two;
			border-right: 1px solid $color__border;
		}

		td#today {
			background: $color__background;
		}

		tbody td,
		th {
			padding: 16px 8px;
			border: 1px solid $color__border;
		}
	}
}

.wp-block-latest-comments__comment-excerpt p {
	@include font-body-s;
	margin: $spacing-1 0 $spacing-3;
}

/* Preformatted */

.wp-block-preformatted,
.wp-block-code {
	overflow: auto;
	padding: $spacing-mobile-4;
	margin-bottom: $spacing-mobile-4;
	@include border-radius-m;
	@include font-code;

	@include breakpoint(m) {
		padding: $spacing-desktop-4;
		margin-bottom: $spacing-desktop-4;
	}
}

.wp-block-code {
	background: $color__code_one;
	color: $color__code_two;
}

.wp-block-preformatted {
	background-color: $color__code_two;
	color: $color__code_one;
}

/* Group */

.wp-block-group {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		.wp-block-group__inner-container & {
			margin-top: 0;
		}
	}

	.wp-block-group__inner-container>*:last-child {
		margin-bottom: 0;
	}

}

/* Block Alignment */

.wp-block-cover-image,
.wp-block-cover,
.wp-block-cover,
.wp-block-pullquote {

	&.alignleft,
	&.alignright {
		width: 100%;

		@include breakpoint(s) {
			max-width: $col3;
		}
	}
}

.wp-block-cover,
.wp-block-gallery,
.wp-block-pullquote {

	&.alignleft {

		@include breakpoint(s) {
			float: left;
			margin: 0 $spacing-mobile-6 $spacing-mobile-6 0;
		}

		@include breakpoint(m) {
			margin: 0 $spacing-desktop-6 $spacing-desktop-6;
		}

		@include breakpoint(xxl) {
			margin: 0 $spacing-desktop-6 $spacing-desktop-6 $spacing-mobile-4;
		}
	}

	&.alignright {

		@include breakpoint(s) {
			float: right;
			margin: 0 0 $spacing-mobile-6 $spacing-mobile-6;
		}

		@include breakpoint(m) {
			margin: 0 $spacing-desktop-6 $spacing-desktop-6;
		}

		@include breakpoint(xxl) {
			margin: 0 $spacing-mobile-4 $spacing-desktop-6 $spacing-desktop-6;
		}
	}
}

/* Custom Color Palette */

.entry-content {

	.has-primary-one-color {
		color: $color__primary;
		fill: $color__primary;
	}

	p.has-primary-one-color a {
		text-decoration: underline;
	}

	.has-primary-one-background-color {
		background: $color__primary;
		border-color: $color__primary;
	}

	.has-text-one-color {
		color: $color__text_one;
		fill: $color__text_one;
	}

	.has-text-one-background-color {
		background: $color__text_one;
		border-color: $color__text_one;
	}

	.has-text-two-color {
		color: $color__text_two;
		fill: $color__text_two;
	}

	.has-text-two-background-color {
		background: $color__text_two;
		border-color: $color__text_two;
	}

	.has-border-color {
		color: $color__border;
		fill: $color__border;
	}

	.has-border-background-color {
		background: $color__border;
		border-color: $color__border;
	}

	.has-background-color {
		color: $color__background;
		fill: $color__background;
	}

	.has-background-background-color {
		background: $color__background;
		border-color: $color__background;
	}

	.has-white-color {
		color: $color__white;
		fill: $color__white;
	}

	.has-white-background-color {
		background: $color__white;
		border-color: $color__white;
	}

	.has-black-color {
		color: $color__black;
		fill: $color__black;
	}

	.has-black-background-color {
		background: $color__black;
		border-color: $color__black;
	}
}

/* Custom Gradients Palette */

.entry-content {

	.has-grayish-blue-to-dark-grayish-blue-gradient-background {
		background: linear-gradient(0deg, rgb(91, 108, 114) 0%, rgb(60, 68, 72) 100%);
	}

	.has-soft-orange-to-desaturated-dark-cyan-gradient-background {
		background: linear-gradient(270deg, rgb(67, 92, 103) 0%, rgb(114, 164, 163) 46%, rgb(251, 162, 137) 74%, rgb(252, 202, 164) 100%);
	}

	.has-light-grayish-magenta-to-very-dark-grayish-pink-gradient-background {
		background: linear-gradient(0deg, rgb(237, 221, 237) 0%, rgb(230, 196, 223) 21%, rgb(196, 165, 191) 50%, rgb(112, 93, 99) 100%);
	}

	.has-light-grayish-red-to-dark-red-gradient-background {
		background: linear-gradient(0deg, rgb(143, 34, 40) 0%, rgb(250, 110, 115) 50%, rgb(219, 191, 193) 100%);
	}

	.has-slightly-desaturated-cyan-to-very-soft-red-gradient-background {
		background: linear-gradient(0deg, rgb(129, 195, 198) 0%, rgb(251, 198, 167) 48%, rgb(250, 168, 182) 100%);
	}

	.has-very-soft-orange-to-very-soft-pink-gradient-background {
		background: radial-gradient(circle at bottom, rgb(251, 219, 190) 0%, rgb(252, 170, 161) 26%, rgb(250, 152, 162) 54%, rgb(246, 182, 211) 75%, rgb(250, 232, 243) 100%);
	}

	.has-grayish-violet-to-soft-orange-gradient-background {
		background: linear-gradient(180deg, rgb(173, 160, 191) 0%, rgb(225, 205, 236) 29%, rgb(243, 206, 225) 51%, rgb(241, 196, 141) 72%, rgb(240, 193, 97) 100%);
	}

	.has-light-grayish-red-to-dark-grayish-blue-gradient-background {
		background: linear-gradient(180deg, rgb(252, 202, 210) 0%, rgb(222, 158, 167) 46%, rgb(118, 119, 135) 100%);
	}

	.has-light-grayish-red-to-very-soft-blue-gradient-background {
		background: linear-gradient(135deg, rgb(237, 204, 211) 0%, rgb(177, 181, 225) 100%);
	}

	.has-soft-blue-to-lime-green-gradient-background {
		background: linear-gradient(0deg, rgb(104, 134, 254) 0%, rgb(255, 255, 255) 49%, rgb(255, 255, 255) 61%, rgb(213, 233, 207) 75%, rgb(8, 179, 82) 100%);
	}

	.has-soft-blue-to-dark-moderate-violet-gradient-background {
		background: linear-gradient(135deg, rgb(103, 125, 239) 0%, rgb(117, 72, 166) 100%);
	}

	.has-soft-red-to-very-soft-blue-gradient-background {
		background: linear-gradient(0deg, rgb(250, 110, 90) 0%, rgb(255, 202, 192) 24%, rgb(255, 255, 255) 48%, rgb(255, 255, 255) 62%, rgb(223, 227, 255) 77%, rgb(157, 144, 250) 100%);
	}

	.has-dark-blue-to-mostly-black-blue-gradient-background {
		background: radial-gradient(circle at bottom, rgb(19, 20, 143) 0%, rgb(13, 11, 24) 100%);
	}

	.has-very-soft-blue-to-dark-grayish-blue-gradient-background {
		background: radial-gradient(circle at bottom, rgb(153, 203, 233) 0%, rgb(121, 132, 157) 100%);
	}

	.has-soft-pink-to-mostly-pure-orange-gradient-background {
		background: radial-gradient(circle at bottom, rgb(253, 79, 156) 0%, rgb(254, 132, 0) 100%);
	}

	.has-bright-cyan-to-soft-magenta-gradient-background {
		background: linear-gradient(0deg, rgb(48, 203, 247) 0%, rgb(254, 128, 254) 100%);
	}

	.has-light-red-to-very-light-pink-gradient-background {
		background: linear-gradient(90deg, rgb(255, 131, 92) 0%, rgb(255, 148, 193) 100%);
	}

	.has-very-soft-violet-to-very-soft-pink-gradient-background {
		background: linear-gradient(90deg, rgb(198, 163, 245) 0%, rgb(248, 162, 199) 100%);
	}
}