/* Spacing Below Blocks */

.single {

	.entry-content {

		.wp-block-button,
		.wp-block-buttons .wp-block-button,
		.wp-block-image,
		.wp-block-quote,
		.wp-block-pullquote,
		.wp-block-media-text,
		.entry-content .wp-block-gallery,
		.wp-block-audio,
		.wp-block-video,
		.wp-block-ainoblocks-advanced-buttons,
		.wp-block-search,
		.wp-block-calendar,
		.wp-block-archives-dropdown {
			@include push--auto;
			@include s-r-6(margin-bottom);
		}
	}
}

/* Alignment */
.entry-content {

	.aligncenter {
		clear: both;
		margin-left: auto;
		margin-right: auto;
	}
}

.hentry .entry-content>* {

	&.alignwide {
		max-width: $col12;
		position: relative;
		clear: both;
	}

	&.alignwide:not(.wp-block-group, .wp-block-ainoblocks-grid-container) {
		@include outer-margins;
		@include push--auto;

		.alignwide {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	&.wp-block-group.alignwide {
		width: calc(100% - var(--global--grid-gap));

		@include breakpoint(xl) {
			max-width: calc(var(--global--max-content-width) - var(--global--grid-gap));
		}
	}

	&.alignfull {
		position: relative;
		max-width: 100%;
		width: auto;
	}
}

/* Nested Block Alignment: alignwide inside alignfull */

.hentry .entry-content .alignfull {

	.alignwide {
		max-width: $col12;
		clear: both;
		overflow: hidden;
		@include push--auto;
		@include outer-margins;
	}

	.wp-block-group__inner-container {

		&:not(.wp-block-ainoblocks-grid-container) > .wp-block-image:not([data-align=full]):not([data-align=wide]):not([data-align=left]):not([data-align=right]) {
				@include default-margins;
				@include push--auto;
			}
	}
}

/* Paragraph */

.entry-content p {

	&.has-drop-cap:not(:focus):first-letter {
		float: left;
		margin: 5px 8px 0 -8px;
		line-height: 0.77;
		text-transform: uppercase;
		font-style: normal;
		font-size: 100px;

		@include breakpoint(sm) {
			font-size: 120px;
			line-height: 0.77;
			margin: 6px 12px 0 -8px;
		}
	}

	&.intro.has-drop-cap:not(:focus):first-letter {
		@include breakpoint(sm) {
			font-size: 142px;
		}
	}
}

/* Columns */

.wp-block-columns {

	margin-bottom: 0;

	.alignwide {
		padding-left: 0;
		padding-right: 0;
	}

	.wp-block-column>*:last-child {
		margin-bottom: 0;
	}

	@include breakpoint(sm) {

		@include flexbox;
		flex-grow: 0;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 0;

		.wp-block-column {
			flex-basis: calc(50% - 32px);
			flex: 1 0 21%;

			&:nth-child(2n) {
				margin-left: $s-7;
			}
		}

		.wp-block-column:nth-last-child(3):first-child,
		.wp-block-column:nth-last-child(3):first-child~* {
			flex: 1 0 21%;
		}

		.wp-block-column:nth-last-child(6):first-child,
		.wp-block-column:nth-last-child(6):first-child~* {
			flex: 1 0 21%;
		}
	}

	@media (max-width: 781px) and (min-width: 600px) {
		.wp-block-column {
			flex-basis: calc(50% - 48px) !important;
		}
	}

	@include breakpoint(sm) {

		flex-basis: calc(50% - 48px);
		padding-left: 0;
		padding-right: 0;

		.wp-block-column {
			flex-basis: calc(50% - 48px);
			flex: 1 0 25%;

			&:nth-child(2n) {
				margin-left: $s-9;
			}
		}

		.wp-block-column:nth-last-child(4):first-child,
		.wp-block-column:nth-last-child(4):first-child~* {
			flex: 1 0 15%;
		}

		.wp-block-column:nth-last-child(5):first-child,
		.wp-block-column:nth-last-child(5):first-child~* {
			flex: 1 0 12%;
		}

		.wp-block-column:nth-last-child(6):first-child,
		.wp-block-column:nth-last-child(6):first-child~* {
			flex: 1 0 10%;
		}

		&.has-background {
			@include s-r-8(padding-top);
			padding-bottom: 0;
		}
	}
}

/* Buttons */

.wp-block-buttons {

	.wp-block-button {
		margin-top: 0;
	}

	&.alignleft {

		.wp-block-button {
			float: left;
			margin-top: $s-1;
			@include s-r-6(margin-right);
		}
	}

	&.alignright {

		.wp-block-button {
			float: right;
			margin-top: $s-1;
			@include s-r-6(margin-left);
		}
	}
}

.wp-block-button {

	.wp-block-button__link {
		@include btn;
		@include btn-m;
		@include btn-primary;
		border: none;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		height: auto;
		box-shadow: none;

		&:not(.has-background) {
			background-color: var(--global--color-primary);
		}
	}

	&:not(.is-style-squared) .wp-block-button__link {
		border-radius: 16px;
	}

	&.is-style-outline {

		.wp-block-button__link {
			@include btn-outline;
			box-shadow: none;
			border: 1px solid;

			&:not(.has-background) {
				background: transparent;
			}

			&:hover {
				color: var(--global--color-primary);
				fill: var(--global--color-primary);
			}
		}
	}
}

/* Image */

.wp-block-image {
	margin-bottom: 0;

	&.alignright {
		display: block;
		float: none;
		margin-bottom: $s-6;

		@include breakpoint(sm) {
			float: right;
			margin: $s-2 0 $s-6 $s-6;
		}
	}

	&.alignleft {
		float: left;
		margin-right: 1em;

		@include breakpoint(sm) {
			float: left;
			margin: $s-2 $s-6 $s-6 0;
		}
	}

	&.aligncenter {
		clear: both;
		display: block;
		text-align: center;
	}

	&.alignfull img {
		width: 100%;
		max-width: 100%;
		display: block;
	}

	&.ellipse-horizontal {
		clip-path: ellipse(50% 45% at 50% 50%);
	}
	&.ellipse-vertical {
		clip-path: ellipse(50% 50% at 50% 50%);
	}
}

div[class*='wp-block-'] figcaption {
	display: block;
	@include s-r-4 (margin-top);
	@include s-r-6 (margin-bottom);
	margin-bottom: 0;
	text-align: center;
}

.wp-caption.alignleft .wp-caption-text,
.wp-caption.alignright .wp-caption-text {
	margin-bottom: 0;
}

/* Gallery */
.wp-block-gallery {

	.blocks-gallery-grid {
		padding: 0;
		margin-bottom: 0;
		list-style: none;

		& li {
			padding: 0;
		}

		&.alignwide {
			@include breakpoint(sm) {
				margin-left: calc(31.75% - 31.75vw);
				margin-right: calc(31.75% - 31.75vw);
			}
		}

		&.blocks-gallery-image figcaption,
		&.wp-block-gallery .blocks-gallery-item figcaption {
			@include font-body-xs;
		}
	}

	.blocks-gallery-caption {
		width: 100%;
		@include s-r-6(margin-bottom);
		text-align: center;
	}
}

/* Blockquote + Pullquote */

.wp-block-quote,
.wp-block-pullquote {
	padding: 0;

	p {
		@include font-body;
	}

	&.is-style-default {
		background-color: transparent;
	}

	&.is-style-solid-color .has-text-color a {
		text-decoration: underline;
		box-shadow: none;
	}

	.has-text-color a:hover {
		color: var(--global--color-primary);
	}

	&.is-style-large {
		padding: 0;
	}

	&.is-style-large p {
		margin: 0;
		@include font-body;
		@include font-body-xl;
		font-style: normal;
	}

	&.is-style-large cite,
	& cite {
		@include font-body-xs;
		text-align: left;
	}

	&.has-text-align-left cite {
		text-align: left;
	}

	&.has-text-align-right cite {
		text-align: right;
	}

	&.has-text-align-center cite {
		text-align: center;
	}
}

.single .entry-content .wp-block-pullquote,
.wp-block-pullquote {
	border: none;
	text-align: left;
	padding: 0;

	& p,
	&.is-style-solid-color p,
	&.is-style-solid-color blockquote p {
		@include font-body;
		@include font-body-m;
	}

	&.is-style-solid-color,
	&.is-style-solid-color {
		padding: $s-6;
		background-color: var(--global--color-background);
		clear: both;

		blockquote {
			max-width: 100%;
		}
	}

	&.alignleft,
	&.alignright {
		margin-right: $s-7;
		margin-left: $s-7;
	}

	&.alignleft blockquote,
	&.alignright blockquote {
		padding: 0;
	}
}

/* Cover */

.hentry .entry-content {

	.wp-block-cover {

		&.alignwide {
			width: calc(100% - 2rem);

			@include breakpoint(sm) {
				width: calc(100% - 4rem);
			}

			@include breakpoint(lg) {
				width: calc(100% - 6rem);
			}

			@include breakpoint(xl) {
				max-width: $wide-content-width;
			}
		}

		.wp-block-cover__inner-container {

			width: 100%;
			padding: $s-9 0;

			p {
				margin-bottom: 0;
			}
		}
	}

}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
	z-index: 1;
	margin-bottom: 0;
}

/* Media & Text */

.wp-block-media-text .wp-block-media-text__content {
	padding: 0 $s-6;

	@include breakpoint(sm) {
		padding: 0 $s-9;
	}
}

/* Video */

.wp-block-video iframe,
.wp-block-video video {
	max-width: 100%;
}

.wp-block-embed .jetpack-video-wrapper {
	margin: 0;
}

/* Audio */

.wp-block-audio {
	display: block;
}

.wp-block-audio audio {
	width: 100%;
}

/* Table */

.wp-block-table {
	display: table;
	width: 100%;

	&.alignfull {
		width: 96vw;
	}

	table {
		background: transparent;

		tr {
			border-bottom: 1px solid var(--global--color-border);

			&:last-of-type {
				border-bottom: 0;
			}
		}
	}

	&.is-style-stripes {
		border-bottom: none;

		tbody tr:nth-child(odd) {
			background-color: var(--global--color-background);
			border-bottom: none;
		}

		table tr {
			border-bottom: none;
		}
	}
}

/* Verse */

.wp-block-verse {
	color: var(--global--color-text-two);
	background: var(--global--color-background);
}

/* Separator */
.wp-block-separator {
	border: none;
	border-top: 1px solid;

	&.is-style-dots {
		background: none;
		border: none;
	}

	&.is-style-wide {
		max-width: 100%;
	}
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
	@include push--auto;
}

.wp-block-separator.is-style-dots:before {
	color: var(--global--color-text-two);
	content: "\00b7 \00b7 \00b7";
	font-family: serif;
	@include font-body-l;
	letter-spacing: 1em;
	padding-left: 1em;
}

/* Page Break */
.entry-content .page-links {
	align-items: baseline;
	@include push--auto;
	@include s-r-9 (padding-top);
	@include s-r-9 (padding-bottom);
	padding-left: 0;
	padding-right: 0;
}

/* Block category Widgets */

.entry-content .wp-block-latest-posts,
.entry-content .wp-block-latest-comments {
	padding-left: 0;
}

.entry-content .wp-block-categories-list li a,
.entry-content .wp-block-latest-posts li a {
	border: none;
}

.wp-block-latest-comments__comment {
	@include font-body-s;
}

.wp-block-search button[type="submit"] {
	margin-top: 0;
}

.entry-content .wp-block-calendar {

	caption {
		color: var(--global--color-text-one);
		margin-bottom: $s-4;
		text-align: center;
	}

	table {

		margin-bottom: $s-4;
		background: var(--global--color-white);

		th {
			@include font-bold;
			background: transparent;
			text-align: center;
		}

		tbody {
			color: var(--global--color-text-two);
			border-right: 1px solid var(--global--color-border);
		}

		td#today {
			background: var(--global--color-background);
		}

		tbody td,
		th {
			padding: 16px 8px;
			border: 1px solid var(--global--color-border);
		}
	}
}

.wp-block-latest-comments__comment-excerpt p {
	@include font-body-s;
	margin: $s-2 0 $s-6;
}

/* Preformatted */

.wp-block-preformatted,
.wp-block-preformatted.has-background,
.wp-block-code {
	overflow: auto;
	@include s-r-6(padding);
	@include s-r-6(margin-bottom);
	@include font-code;
}

.wp-block-code {
	background: var(--global--color-code-one);
	color: var(--global--color-code-two);

	code {
		overflow-x: auto;
		white-space: pre;
		display: block;
		overflow-wrap: break-word;
	}
}

.wp-block-preformatted {
	background-color: var(--global--color-code-two);
	color: var(--global--color-code-one);
}

/* Group */
.wp-block-group {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		.wp-block-group__inner-container & {
			margin-top: 0;
		}
	}

	.wp-block-group__inner-container>*:last-child {
		margin-bottom: 0;
	}

	.wp-block-group__inner-container {

		&:not(.wp-block-ainoblocks-grid-container) > .wp-block-image:not(.alignwide):not(.alignfull) {
				max-width: $default-content-width;
				@include push--auto;
			}
	}
}


/* Query Block */

.wp-block-query {

	.wp-block-query-loop {
		padding: 0;

		li {
			@include s-r-9 (padding-bottom);

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.wp-block-post-featured-image {

			@include s-r-6 (padding-bottom);
		}
	
		.wp-block-post-excerpt__excerpt,
		.wp-block-post-terms {
			@include s-r-6 (padding-top);
		}

		.wp-block-post-terms {
			visibility: hidden;

			a {
				visibility: visible;
			}

			a:not(:last-child):after {
				content: ",";
			}

			a:not(:first-child) {
				margin-left: -7px; // temporary fix for post term separators
			}
		}


	&.three-columns {

			@include breakpoint(sm) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 2rem;

				li {
					grid-template-columns: 1fr 1fr;

					&:nth-last-child(-n+2) {
						padding-bottom: 0;
					}
				}
			}

			@include breakpoint(lg) {

				grid-template-columns: repeat(3, 1fr);
				column-gap: 3rem;

				li {
					grid-template-columns: 1fr 1fr 1fr;

					&:nth-last-child(-n+3) {
						padding-bottom: 0;
					}
				}
			}
		}
	}
}


/* Block Alignment */
.wp-block-cover-image,
.wp-block-cover,
.wp-block-cover,
.wp-block-pullquote {

	&.alignleft,
	&.alignright {
		width: 100%;

		@include breakpoint(sm) {
			max-width: $col3;
		}
	}
}

.wp-block-cover,
.wp-block-gallery,
.wp-block-pullquote {

	&.alignleft {

		@include breakpoint(sm) {
			float: left;
			margin: 0 $s-7 $s-7 0;
		}

		@include breakpoint(md) {
			margin: 0 $s-9 $s-9;
		}

		@include breakpoint(xl) {
			margin: 0 $s-9 $s-9 $s-7;
		}
	}

	&.alignright {

		@include breakpoint(sm) {
			float: right;
			margin: 0 0 $s-7 $s-7;
		}

		@include breakpoint(md) {
			margin: 0 $s-9 $s-9;
		}

		@include breakpoint(xl) {
			margin: 0 $s-7 $s-9 $s-9;
		}
	}
}
