/* Advanced Button */

.wp-block-ainoblocks-advanced-button {

	.wp-block-ainoblocks-advanced-button__link {
		@include transition-default;
	}
}

.wp-block-ainoblocks-advanced-button {

	&.is-style-primary {

		.wp-block-ainoblocks-advanced-button__link {

			&:not(.has-background) {
				background-color: var(--global--color-primary);
			}
		}
	}

	&.is-style-outline {

		.wp-block-ainoblocks-advanced-button__link {

			&:not(.has-background) {
				color: var(--global--color-primary);
				border-color: var(--global--color-primary);
			}
		}
	}

	&.is-style-ghost {

		.wp-block-ainoblocks-advanced-button__link {
			color: var(--global--color-primary);
		}
	}

}