/* Advanced Button */

.wp-block-ainoblocks-advanced-button {

	.wp-block-ainoblocks-advanced-button__link {
		@include transition-default;
	}
}

.wp-block-ainoblocks-advanced-button {

	&.is-style-primary {

		.wp-block-ainoblocks-advanced-button__link {

			&:not(.has-background) {
				background-color: $color__primary;
			}
		}
	}

	&.is-style-outline {

		.wp-block-ainoblocks-advanced-button__link {

			&:not(.has-background) {
				color: $color__primary;
				border-color: $color__primary;
			}
		}
	}

	&.is-style-ghost {

		.wp-block-ainoblocks-advanced-button__link {
			color: $color__primary;
		}
	}

}