.wp-block-preformatted,
.wp-block-preformatted.has-background,
.wp-block-code {
	overflow: auto;
	@include s-r-6(padding);
	@include s-r-6(margin-bottom);
}

.wp-block-code {
	background: var(--global--color--code-background);
	color: var(--global--color--code-color);

	code {
		overflow-x: auto;
		white-space: pre;
		display: block;
		overflow-wrap: break-word;
	}
}

.wp-block-preformatted {
	background-color: var(--global--color--code-color);
	color: var(--global--color--code-background);
}