/* Custom Color Palette */
.has-primary-one-color {
	color: $color__primary;
	fill: $color__primary;
}

p.has-primary-one-color a {
	text-decoration: underline;
}

.has-primary-one-background-color {
	background: $color__primary;
	border-color: $color__primary;
}

.has-text-one-color {
	color: $color__text_one;
	fill: $color__text_one;
}

.has-text-one-background-color {
	background: $color__text_one;
	border-color: $color__text_one;
}

.has-text-two-color {
	color: $color__text_two;
	fill: $color__text_two;
}

.has-text-two-background-color {
	background: $color__text_two;
	border-color: $color__text_two;
}

.has-border-color {
	color: $color__border;
	fill: $color__border;
}

.has-border-background-color {
	background: $color__border;
	border-color: $color__border;
}

.has-background-color {
	color: $color__background;
	fill: $color__background;
}

.has-background-background-color {
	background: $color__background;
	border-color: $color__background;
}

.has-white-color {
	color: $color__white;
	fill: $color__white;
}

.has-white-background-color {
	background: $color__white;
	border-color: $color__white;
}

.has-black-color {
	color: $color__black;
	fill: $color__black;
}

.has-black-background-color {
	background: $color__black;
	border-color: $color__black;
}

/* Custom Gradients Palette */
.has-grayish-blue-to-dark-grayish-blue-gradient-background {
	background: linear-gradient(0deg, rgb(91, 108, 114) 0%, rgb(60, 68, 72) 100%);
}

.has-soft-orange-to-desaturated-dark-cyan-gradient-background {
	background: linear-gradient(270deg, rgb(67, 92, 103) 0%, rgb(114, 164, 163) 46%, rgb(251, 162, 137) 74%, rgb(252, 202, 164) 100%);
}

.has-light-grayish-magenta-to-very-dark-grayish-pink-gradient-background {
	background: linear-gradient(0deg, rgb(237, 221, 237) 0%, rgb(230, 196, 223) 21%, rgb(196, 165, 191) 50%, rgb(112, 93, 99) 100%);
}

.has-light-grayish-red-to-dark-red-gradient-background {
	background: linear-gradient(0deg, rgb(143, 34, 40) 0%, rgb(250, 110, 115) 50%, rgb(219, 191, 193) 100%);
}

.has-slightly-desaturated-cyan-to-very-soft-red-gradient-background {
	background: linear-gradient(0deg, rgb(129, 195, 198) 0%, rgb(251, 198, 167) 48%, rgb(250, 168, 182) 100%);
}

.has-very-soft-orange-to-very-soft-pink-gradient-background {
	background: radial-gradient(circle at bottom, rgb(251, 219, 190) 0%, rgb(252, 170, 161) 26%, rgb(250, 152, 162) 54%, rgb(246, 182, 211) 75%, rgb(250, 232, 243) 100%);
}

.has-grayish-violet-to-soft-orange-gradient-background {
	background: linear-gradient(180deg, rgb(173, 160, 191) 0%, rgb(225, 205, 236) 29%, rgb(243, 206, 225) 51%, rgb(241, 196, 141) 72%, rgb(240, 193, 97) 100%);
}

.has-light-grayish-red-to-dark-grayish-blue-gradient-background {
	background: linear-gradient(180deg, rgb(252, 202, 210) 0%, rgb(222, 158, 167) 46%, rgb(118, 119, 135) 100%);
}

.has-light-grayish-red-to-very-soft-blue-gradient-background {
	background: linear-gradient(135deg, rgb(237, 204, 211) 0%, rgb(177, 181, 225) 100%);
}

.has-soft-blue-to-lime-green-gradient-background {
	background: linear-gradient(0deg, rgb(104, 134, 254) 0%, rgb(255, 255, 255) 49%, rgb(255, 255, 255) 61%, rgb(213, 233, 207) 75%, rgb(8, 179, 82) 100%);
}

.has-soft-blue-to-dark-moderate-violet-gradient-background {
	background: linear-gradient(135deg, rgb(103, 125, 239) 0%, rgb(117, 72, 166) 100%);
}

.has-soft-red-to-very-soft-blue-gradient-background {
	background: linear-gradient(0deg, rgb(250, 110, 90) 0%, rgb(255, 202, 192) 24%, rgb(255, 255, 255) 48%, rgb(255, 255, 255) 62%, rgb(223, 227, 255) 77%, rgb(157, 144, 250) 100%);
}

.has-dark-blue-to-mostly-black-blue-gradient-background {
	background: radial-gradient(circle at bottom, rgb(19, 20, 143) 0%, rgb(13, 11, 24) 100%);
}

.has-very-soft-blue-to-dark-grayish-blue-gradient-background {
	background: radial-gradient(circle at bottom, rgb(153, 203, 233) 0%, rgb(121, 132, 157) 100%);
}

.has-soft-pink-to-mostly-pure-orange-gradient-background {
	background: radial-gradient(circle at bottom, rgb(253, 79, 156) 0%, rgb(254, 132, 0) 100%);
}

.has-bright-cyan-to-soft-magenta-gradient-background {
	background: linear-gradient(0deg, rgb(48, 203, 247) 0%, rgb(254, 128, 254) 100%);
}

.has-light-red-to-very-light-pink-gradient-background {
	background: linear-gradient(90deg, rgb(255, 131, 92) 0%, rgb(255, 148, 193) 100%);
}

.has-very-soft-violet-to-very-soft-pink-gradient-background {
	background: linear-gradient(90deg, rgb(198, 163, 245) 0%, rgb(248, 162, 199) 100%);
}