.wp-block-post-comments {
	#comments {
		@include s-r-9 (padding-bottom);
	}

	.commentlist {

		.comment {
			padding-left: 0;

			.commentmetadata {
				margin-top: 2px;
				color: var(--wp--preset--color--font-tertiary);
			}

			p {
				clear: both;
				line-height: var(--wp--custom--line-height--body);
				margin-bottom: 0;
			}

			.comment-respond {
				@include s-r-9 (padding-bottom);
			}

			.comment-content {
				@include s-r-2 (padding-top);
				display: block;
			}

			.comment-author {

				.fn {
					display: inline-block;
					font-weight: 700;
					padding: 2px 0;

					@include breakpoint(md) {
						@include s-r-1 (padding-top);
						@include s-r-1 (padding-bottom);
					}

					a {
						text-decoration: none;
					}
				}

				.avatar {
					@include s-r-4 (margin-bottom);
					@include s-r-2 (margin-right);
	
					@include breakpoint(md) {
						width: 3rem;
						height: 3rem;
					}
				}
			}
		}

		.comment-meta {
			display: block;
		}

		.comment-metadata {
			color: var(--wp--custom--color--font-tertiary);

			time {
				@include s-r-1 (padding-top);
				display: block;
			}
		}
	}

	.comment-meta,
	.comment-author {
		line-height: 1;
		margin-left: 0;
	}
}

.comment-body {
	position: relative;
	@include s-r-9 (margin-bottom);
	padding: 0;

	.comment-awaiting-moderation {
		@include s-r-4 (margin-top);
		display: block;
		font-style: normal;
		@include s-r-6(padding);
		background: var(--global--color--notification);
		border-radius: var(--global--border-radius-xxs);
	}

	.reply {
		@include s-r-4 (padding-top);
		margin-bottom: 0;
	}
}